[2017-03-11 00:06] tcyrus opened #1 "Use built-in Python webbrowser instead of os.system"
Python 2 and 3 have a built-in library named [`webbrowser`](https://docs.python.org/3.6/library/webbrowser.html) which would allow people to open links in their default browser, rather than forcing Google Chrome by using `os.system`.

[2017-03-11 01:09] jinankjain opened #3 "Add support for MacOSX"

[2017-03-12 12:47] piranna opened #4 "Port to Node.js?"
This would also allow to run it on browsers :-)

[2017-03-12 14:15] gautamkrishnar commented on #4
I think we can make it possible by using python flask framework. No need to port to nodejs,

[2017-03-13 10:51] sukeesh commented on #1
I want links to open in chrome app.

[2017-03-13 12:13] piranna commented on #4
I was talking more about executing it directly on the browser or mobile app, not as a web service...

[2017-03-13 12:25] gautamkrishnar commented on #4
Okay :+1:

[2017-03-13 14:09] paulrm opened #5 "import colorama error"
Even I installed the colorama package

[code]
I got a weird import error
[code]

[2017-03-13 17:25] #1 closed

[2017-03-14 04:23] sukeesh opened #8 "create and upload python package (pip)"
Create a python pip package

[2017-03-14 13:06] abrahammurciano opened #9 "Im getting this error"
SyntaxError: Non-ASCII character '\xc2' in file /home/abraham/.local/share/jarvis/mapps.py on line 35, but no encoding declared

[2017-03-14 15:07] gald33 commented on #9
same here

[2017-03-14 15:30] sukeesh commented on #9
This issue has been resolved.

[2017-03-14 15:30] #9 closed

[2017-03-14 15:44] abrahammurciano opened #11 "can't find things in maps"
I get this error when asking for restaurants nearby

Hi, What can I do for you?
restaurants near me
Hold on!, I'll show restaurants near you
Traceback (most recent call last):
  File "/home/abraham/.local/share/jarvis/main.py", line 109, in <module>
    Jarvis(some)
  File "/home/abraham/.local/share/jarvis/main.py", line 41, in Jarvis
    mapps.nearme(data)
  File "/home/abraham/.local/share/jarv

[2017-03-14 15:51] sukeesh commented on #11
This issue has been resolved in latest commit.

[2017-03-14 15:51] #11 closed

[2017-03-14 16:01] abrahammurciano opened #12 "Music downloaded as .webm"
Music is downloaded as .webm and cannot be played by vlc, is there any way to get it to download as mp4?

[2017-03-15 06:40] aancw opened #13 "Music Plugins Suggested"
Hei, you are forgot to add `instantmusic` in requirements.txt if you want use this library.

[code]

Is this fine if using 3rd party and just download music(Legality)? Maybe for later, `music` command can searching music in local directory and then indexing. Need to add music player, so user just type `music` and choose song then play :)

[code]

Awesome!

[2017-03-15 10:14] LazyAssassin445 opened #14 "Weather doesn't work"
`python3 main.py
Hi, What can I do for you?
weather
Traceback (most recent call last):
  File "main.py", line 110, in <module>
    Jarvis(some)
  File "main.py", line 39, in Jarvis
    mapps.weatherr()
  File "/home/matt/jarvis/mapps.py", line 34, in weatherr
    weath = j['main']['temp']
KeyError: 'main'
zsh: exit 1     python3 main.py
`

[2017-03-16 02:35] x1ah commented on #13
@aancw So sorry for this mistake，I forgot add instantmusic package to requirements.txt when push my PR, it will fixed soon. So sorry, THX!

[2017-03-16 02:56] aancw commented on #13
Yep. Welcome. And please think about my suggest feature :)

[2017-03-16 07:59] #14 closed

[2017-03-16 13:48] wikkiewikkie opened #16 "Add License"
Would like to contribute.  Can you publish this under an [OSI-approved license](https://opensource.org/licenses) such as [MIT](https://opensource.org/licenses/MIT)?  Thanks.

[2017-03-16 19:29] akshaysharma096 commented on #8
More context here

[2017-03-16 23:06] StefanosChaliasos opened #20 "Create command exit to terminate the program"

[2017-03-16 23:17] StefanosChaliasos commented on #20
I made a pull request to close this issue

[2017-03-17 04:04] #20 closed

[2017-03-17 04:04] sukeesh commented on #16
Sure

[2017-03-18 04:46] #16 closed

[2017-03-18 04:47] #13 closed

[2017-03-18 04:50] sukeesh opened #28 "Update Readme with more details"

[2017-03-22 11:47] StefanosChaliasos opened #36 "fix news command"

[2017-03-22 21:27] RottenCrab opened #38 "weather and news are not working properly"
Weather and news commands are not executing properly. This bug is may be caused because the location service is not working correctly (as expected).

[2017-03-22 21:54] 5n8ke commented on #38
Please visit [http://freegeoip.net/]. How accurate is the data in the right hand box.

A possible fix would be to implement a way to manually set the current location.

[2017-03-23 01:13] StefanosChaliasos commented on #38
Sometimes it works and sometimes it doesn't work (it depends on your location). I create exceptions for weather and news command.

[2017-03-23 03:34] bwh91 opened #40 "will not run with Python3 pyttsx issues"
tested with python 3.4 and python 3.5. There is an issue with pyttsx compatibility with python3. I have contacted the owner of the project to try and see if we can get those issues resolved.

[2017-03-23 03:51] bwh91 commented on #38
its only going to be as close as you are to your ISP's hub that you are connected to. Maybe add a function that the first time a location based request is run it asks for your location and then store it in a file a pickled object? and maybe add functionality to store 'locations' like work or home. that way the user could use that as an argument?

[2017-03-23 04:01] bwh91 commented on #40
It works on python3 when pyttsx is installed from source

[2017-03-23 09:30] StefanosChaliasos opened #42 "Create wiki"

[2017-03-23 14:52] StefanosChaliasos commented on #40
If it works can you please close the issue?

[2017-03-23 15:02] bwh91 commented on #40
Well as it stands when you download Jarvis and run 'pip install -r requirements.txt' the version it pulls does not work. You have to manually download the source and install from that. So its still an issue. I have sent the owner of the project an email to see if I can get the few trivial fixes added that way when pip install is run it works as expected. If you still want to me to close the issue

[2017-03-23 16:03] StefanosChaliasos commented on #40
You are wright. No let the issue open and hope someone will found a permanent solution.

[2017-03-28 23:13] StefanosChaliasos commented on #38
@bwh91  can you implement your ideas on this issue? It will be great!!

[2017-03-28 23:13] StefanosChaliasos commented on #38
Does the news command works in your machines?

[2017-03-28 23:22] bwh91 commented on #38
It worked for me but I live right near a main hub but I tried it in a smaller town while on the road and it didn't even get the right city. I will work on this tonight. I believe I should be able to get it to work. @StefanosChaliasos

[2017-03-29 09:11] StefanosChaliasos commented on #38
Ok great, go for it !!!

[2017-03-30 18:11] bwh91 commented on #36
Do you have any insight on this? @StefanosChaliasos does the news functionality need to be redesigned?

[2017-03-30 19:38] StefanosChaliasos commented on #36
![screenshot from 2017-03-30 22-31-20](https://cloud.githubusercontent.com/assets/15054312/24522803/6512cfda-1599-11e7-8a55-58c6b24b5e7a.png)
That happens if we remove the try statements in news method. I think we must solve this bug

[2017-04-03 23:26] Lampwick opened #53 "Add to AUR"
Can you add Jarvis to the AUR?

[2017-04-06 13:53] AnderRasoVazquez opened #57 "What do you think about implementing command line functionality to Jarvis class?"
Python's [Cmd class](https://docs.python.org/2/library/cmd.html) provides a simple framework for writing line-oriented command interpreters. I've been playing a little making Jarvis class to inherit from it. Here's a demo with the commands that I've implemented so far *the Cmd way*.

![command line in jarvis](https://cloud.githubusercontent.com/assets/3936719/24755315/f8555494-1ad9-11e7-9454-d08e0

[2017-04-06 14:04] RottenCrab opened #58 "Notify on reminder.py module is not working"
I have successfully installed gi, but Notify is not recognized and as a result while running Jarvis an AttributeError is raised.

[2017-04-06 14:26] sukeesh commented on #57
This looks so cool!

[2017-04-06 18:40] StefanosChaliasos commented on #58
@5n8ke

[2017-04-07 12:42] 5n8ke commented on #58
The APT dependencies are:
- python-gobject
- libnotify-bin

Try displaying a notification with
`notify-send "Title" "Notification description"`

Which Desktop Manager are you running? Perhaps you have different dependencies than on Gnome.

[2017-04-07 13:48] StefanosChaliasos commented on #57
It looks very interesting. Do you have any idea on how we could refactor the Jarvis class because it's very big?

[2017-04-07 17:43] bwh91 commented on #36
I think we may need to come up with another solution. Instead of grabbing the content from news.google.com why not change this to work with the Bing news API? That way it will be a standard way to get the news content and I think it will work better than parsing the news.google page. Here is a link to the bing API [https://msdn.microsoft.com/en-us/library/dn760783.aspx](url)

[2017-04-07 17:48] StefanosChaliasos commented on #36
Good idea can you work on it?

[2017-04-08 06:12] bwh91 commented on #36
Yeah, I will work on this next.

[2017-04-08 07:44] AnderRasoVazquez commented on #57
Yes, at the moment it looks huge, but I have some ideas. We could start doing the easiest task, one line docstrings wherever it's possible:
[code]
[code]
This will save us two lines for every command, because those docstrings are very short.

**Now, let's take a look at the biggest function, `weather`**:
[code]
Wow, 60 lines of code. This doesn't look very clean, Jarvis shouldn't be the one to han

[2017-04-08 08:57] StefanosChaliasos commented on #57
Obviously we should create packages for each skill. I agree with your idea about comments too but i think we need something more efficient like having all actions in other file or files. I don't have any idea right now on how to do that.

[2017-04-08 09:55] AnderRasoVazquez commented on #57
We can make Jarvis.py very small if we take out the command interpreter functionality out to another class.

![captura de pantalla de 2017-04-08 11-50-55](https://cloud.githubusercontent.com/assets/3936719/24827837/f30ccfde-1c51-11e7-9014-d7f0f9b04af3.png)

This way we would have all the actions in other file. What do you think?

[2017-04-08 10:31] StefanosChaliasos commented on #57
In Jarvis class we will have only the user_input, speak find_action methods? If you can implement it do it. I made some refactoring to Jarvis class (like your proposal for weather and inline comments).

[2017-04-08 10:35] StefanosChaliasos commented on #38
#36

[2017-04-08 10:35] #38 closed

[2017-04-08 11:04] AnderRasoVazquez commented on #57
Yes, that's right. I'll start implementing it.

[2017-04-08 12:17] AnderRasoVazquez commented on #57
Oh, and thanks @StefanosChaliasos for considering my proposal for weather and inline comments.

[2017-04-09 11:58] AnderRasoVazquez commented on #57
I've finished the command line implementation. I changed find_action method code that it can recognize commands if it finds those command words in the input, let's take a look at the result:
![captura de pantalla de 2017-04-09 13-51-29](https://cloud.githubusercontent.com/assets/3936719/24837078/58f70140-1d2c-11e7-88a1-d3fd482ec958.png)

[Pull request](https://github.com/sukeesh/Jarvis/pull/61)

[2017-04-09 12:30] #28 closed

[2017-04-09 15:42] AnderRasoVazquez commented on #53
I think it would be easier to create a pip package. That way, for every distro you could do `pip install jarvis`

[2017-04-09 18:53] #57 closed

[2017-04-10 02:47] sukeesh commented on #53
I have already created an issue about this here #8

[2017-04-11 01:08] StefanosChaliasos commented on #36
#65

[2017-04-11 01:08] #36 closed

[2017-04-11 02:37] #5 closed

[2017-04-11 19:16] StefanosChaliasos opened #67 "Evaluate doesn't work properly"

[2017-04-14 03:00] regantinaveen commented on #67
Could you provide a case in which it is not working. That would be helpful for debugging.

[2017-04-15 18:07] StefanosChaliasos commented on #67
Excuse me for the delay. The issue is that evaluate doesn't work after the addition of cmdinterpreter.
<img width="282" alt="screen shot 2017-04-15 at 21 02 48" src="https://cloud.githubusercontent.com/assets/15054312/25065846/583e964e-221f-11e7-991d-983779655748.png">
Can you fix this bug? Do you need extra informations? @regantinaveen

[2017-04-17 21:31] StefanosChaliasos commented on #67
#68

[2017-04-17 21:31] #67 closed

[2017-04-21 12:44] 5n8ke commented on #58
@RottenCrab Have you some more information regarding your issues with Notify?

[2017-04-24 11:06] RottenCrab commented on #58
No i do not, i have a busy schedule this month. When i find a solution about this issue i will post to inform you.

[2017-05-08 22:06] StefanosChaliasos commented on #53
We have already an open issue about that feature at #8

[2017-05-08 22:06] #53 closed

[2017-05-08 23:08] StefanosChaliasos opened #72 "Add the ability to ask Jarvis the weather of a specific city"
For example you could ask: "weather in London" or "weather New York" and Jarvis will find the weather of the specific city for you.

[2017-05-08 23:08] StefanosChaliasos commented on #72
@LuisFSilva  do you want to implement that feature?

[2017-05-08 23:11] LuisFSilva commented on #72
Yeah, seems simple enough. I'll work on that tomorrow

[2017-05-08 23:13] LuisFSilva commented on #72
And maybe also do the same with time?

[2017-05-08 23:15] StefanosChaliasos commented on #72
Yes of course but please implement the two features in different pull request

[2017-05-08 23:16] LuisFSilva commented on #72
Will do so. Expect it during the next few days

[2017-05-09 06:56] StefanosChaliasos opened #73 "Convert the weather to Fahrenheit if the location is in US"

[2017-05-09 07:03] StefanosChaliasos opened #74 "Create tests for evaluate method"
Create unit tests for method calc of file [evaluator](https://github.com/sukeesh/Jarvis/blob/master/Jarvis/packages/evaluator.py)

[2017-05-09 07:09] StefanosChaliasos opened #75 "Create tests for clock method"

[2017-05-10 13:00] StefanosChaliasos commented on #72
#77

[2017-05-10 13:00] #72 closed

[2017-05-11 19:36] 5n8ke opened #79 "Roadmap and development coordination"
Due to studying I only have a limited amount of time for hobby projects such as this one.

So I want to spend my time as productive as possible. Right now I mostly did what I felt like regarding reminders and the to do list. But my latest feature (lexical similarity) could easily be used by more parts.

But I feel like we are missing a place to coordinate our efforts and discuss new features and t

[2017-05-11 21:53] StefanosChaliasos commented on #79
We could create an email list or a google group @sukeesh . We could used that list to have a better communication the core contributors of this project but we should use the github as the main tool to discuss and keep track of bugs, new features, enhancements and other technical issues. You could open an issue about any

[2017-05-12 05:54] sukeesh commented on #79
@StefanosChaliasos google group will be good.

[2017-05-12 08:14] 5n8ke commented on #79
Since it would be mostly brainstorming, I think opening an issue for every small idea would be to much spam.
In addition it would be harder to get a quick overview over every proposal and the priorities of other people. I am not sure how the permissions for this are managed, but I really like the projects feature in Github itself.
If it's to much of a hassle, a google group or something similar wo

[2017-05-12 09:18] StefanosChaliasos commented on #79
You can join the google group from that link https://groups.google.com/forum/#!forum/jarvis_pa. Please feel free to create a topic with your ideas.

[2017-05-12 09:18] #79 closed

[2017-05-12 09:24] StefanosChaliasos opened #80 "Refactoring: Change every print method with print_say method"
The print say method has three arguments: text, self and color. You can see the source code of the method [here](https://github.com/sukeesh/Jarvis/blob/master/Jarvis/utilities/GeneralUtilities.py)

[2017-05-12 16:04] Josiah-DuBose commented on #75
Hello, I'd like to help with this. can you provide more details?

[2017-05-12 16:05] Josiah-DuBose commented on #75
For instance, is the clock method somewhere in packages?

[2017-05-12 16:08] Josiah-DuBose commented on #80
I can do this one as well...Do you mean every print method in every file?

[2017-05-12 16:45] StefanosChaliasos commented on #80
We want to use print_say method because it checks if the sound is enabled and then if the sound is enabled it use the voice method. You must give the self object as the second argument of the method every time you implement it. The first argument is the text to print and the third is the color (ex. Fore.BLUE, Fore.RED). We want to use the print_say method most of the times but not in very big mess

[2017-05-12 17:03] Josiah-DuBose commented on #80
Okay. I'm having problems running Jarvis.py. When I run with python 2 I get "from colorama import Fore ImportError: No module named colorama" and when I run with python 3 I get "from engine import Engine ImportError: No module named 'engine'". I've tried installing requirements.txt in a virtual env and without one. Any thoughts about this? oh and I checked that colorama and Engine both exist and a

[2017-05-12 17:06] StefanosChaliasos commented on #75
Yeah my mistake. I mean the check time action (method do_check line 97 Cmdinterpeter.py). You could check if the s is equal to your location then is the time given from the call of timeIn.main(self, s) the same with ctime()?

[2017-05-12 17:17] StefanosChaliasos commented on #80
You can execute the command  `pip install -r requirements.txt` to be sure that all the package are installed. Have you checked if you can use colorama in an other simple python program. For example execute a foo.py with that code:
 `from colorama import Fore
  print(Fore.BLUE + "hello" + Fore.RESET)`. By the way we use python 2.

[2017-05-12 18:36] LuisFSilva commented on #73
I started working on this today and I got something the works with the normal function of weather (take a look in one of my [branches](https://github.com/LuisFSilva/Jarvis/tree/Enhancement/Weather)), but have no idea how to do this with the new function 'check time in'. Any suggestions?

[2017-05-12 18:42] Josiah-DuBose commented on #80
yeah colorama works just fine in other files. Still won't work in Jarvis but I'll figure it out

[2017-05-12 18:44] LuisFSilva commented on #80
Are you on Windows? I had the same problem yesterday when I tried to get Jarvis running there

[2017-05-12 18:45] Josiah-DuBose commented on #80
No mac

[2017-05-12 18:45] Josiah-DuBose commented on #80
El captain

[2017-05-12 19:08] Josiah-DuBose commented on #80
new error, which means progress! ImportError: No module named gi

[2017-05-12 19:18] Josiah-DuBose commented on #80
Okay made it past the basic gi error but now the problem is this import line in Jarvis/Jarvis/packages/reminder.py
{code}
from gi import Notify
gi.require_version('Notify', '0.7')
{code}
this produces this error: "AttributeError: 'module' object has no attribute 'require_version'"
I've double and the syntax for using gi is correct.

[2017-05-12 19:53] Josiah-DuBose commented on #80
Any help or suggestions would be much appreciated.

[2017-05-12 20:28] LuisFSilva commented on #73
Nevermind, got it. Check my PR

[2017-05-12 20:30] StefanosChaliasos commented on #80
Unfortunately this is an unsolved bug #58 . Furthermore Jarvis doesn't have support for MacOSX #3 , there is an open PR about that issue #32 . A temporary solution is to install [virtual box](https://www.virtualbox.org/) and create an [ubuntu VM](https://www.youtube.com/watch?v=QkJmahizwO4) . It will be a major help if you could solve any of the issues #58 or #3

[2017-05-12 20:33] Josiah-DuBose commented on #80
Okay I'll take a look

[2017-05-12 20:39] StefanosChaliasos commented on #73
#81

[2017-05-12 20:39] #73 closed

[2017-05-16 18:34] FelippeRoza opened #82 "No module named 'reminder'"
I'm trying to run Jarvis on python3, but the following error appears:

[code]
The file reminder.py is under packages/ folder.
Do I have to change something?

[2017-05-16 18:51] StefanosChaliasos commented on #82
Currently we don't support Python 3. You could open an issue about run Jarvis with Python 3. It will be great if you could try to make the appropriate changes to support Python 3

[2017-05-16 20:56] FelippeRoza commented on #82
Then I will close this issue and open a new one.
Best.

[2017-05-16 20:56] #82 closed

[2017-05-16 21:00] FelippeRoza opened #83 "Python 3 support"
It would be great if Jarvis could run on Python 3.
I'll try to make the changes to reach this, but any help would be welcome.

[2017-05-19 11:05] 5n8ke commented on #83
I just looked into the python 3 issue and there are mainly 2 problems:
 - pyttsx
 - aiml
Both packages don't have support for python 3.x. They only work with python 2.
All the other errors with imports could be fixed. In python 3 implicit relative imports are no longer supported.

[2017-05-19 13:18] FelippeRoza commented on #83
Totally agree. The relative imports errors are somehow a simple problem to solve.

https://github.com/jpercent/pyttsx is a fork that ports pyttsx to Python 3. Maybe something like `pip install git+https://github.com/jpercent/pyttsx.git` could fix it.

[2017-05-21 08:38] sladyn98 commented on #75
I'm new to GitHub .can you tell me how can I be helpful with this issue

[2017-05-21 11:50] StefanosChaliasos commented on #75
@sladyn98  The steps you need to follow to contribute to a GitHub project are [here](http://stackoverflow.com/questions/4384776/how-do-i-contribute-to-others-code-in-github). You could try to solve the issue #74 which is easier. You can find more information about unit testing on python in that [documentation](https://docs.python.org/2/library/unittest.html) .

[2017-05-27 10:37] dudu84 commented on #74
Hi! Can I take this one?

[2017-05-27 12:39] StefanosChaliasos commented on #74
Unfortunately someone else work on that issue #84. You could expand the tests made in PR #84.

[2017-05-27 12:39] #74 closed

[2017-05-28 00:20] rarredon commented on #80
Hi @Josiah-DuBose, are you still working on this issue? If not, I can take a stab at it. Let me know.

[2017-05-28 00:50] Josiah-DuBose commented on #80
I finished this awhile ago and was under the impression it had been merged. But now I see a commit that it needs to be rebased again. I'll take care of that so hopefully it will get merged this time and be closed.

[2017-05-28 00:51] Josiah-DuBose commented on #80
Disregard that last, different issue

[2017-05-28 01:06] Josiah-DuBose commented on #80
You can go for it, I've got a lot of work right now.

[2017-05-28 16:56] rarredon commented on #80
Two questions for clarification:

1) We would like to replace **ALL** print functions? For example, even those in help statements like the following?

[code]

2) If a print function already had a Fore.COLOR passed, I went ahead and used that for the color argument in print_say. If a print function does not specify Fore.COLOR, should I omit the color argument?

[2017-05-28 22:24] StefanosChaliasos commented on #80
1. No we don't want it in help methods
2. A) Yes
2. B) No in that case don't give any argument

[2017-05-30 02:47] trp07 commented on #75
Hello,
I believe I completed the required test and am about to initiate a PR.

Please let me know if I did it incorrectly.  This would be my first PR.  I'm new to coding and am trying to get involved!

Thanks for posting the request!
-Tim

[2017-05-30 17:57] anaisabel7 opened #89 "Test failing for "test_say""
Right after cloning and installing dependencies, running tests with the command
`python -m unittest discover`
reports a failing test with this information:
`AssertionError: Lists differ: ['say', "i'm", 'a', 'robot'] != ['say', "i'm", 'a', 'robot?']`
(notice the ? sign)

I believe I understand why this happens and I am more than happy to solve it.
However, I am not 100% of what is the desired behav

[2017-05-30 19:14] Suprimo opened #90 "Jarvis don't run"
when i type python Jarvis.py there's nothing happen :/

[2017-05-31 00:00] knittingarch commented on #42
@StefanosChaliasos  Can you provide more details on what you are looking for?  Github has a wiki option, so I'm not sure if you mean create a wiki in Github or some other way.  Thanks!

[2017-05-31 09:35] StefanosChaliasos commented on #42
I mean a Github wiki. The most important section of that wiki must be the functionalities of Jarvis. For example you could create a section with all the functionalities of Jarvis and an example for each one.

[2017-05-31 10:11] anaisabel7 commented on #90
It works for me typing `python Jarvis` (notice, without `.py` at the end). Can you check you are in the correct directory and have installed all dependecies.
Do you not get any response? Any error of any kind? Any message in the terminal?

[2017-06-02 00:22] StefanosChaliasos commented on #90
I close that issue. If you still can't run Jarvis please create a new one with more informations.

[2017-06-02 00:22] #90 closed

[2017-06-02 00:49] #89 closed

[2017-06-02 10:42] anaisabel7 opened #92 "No error message displayed for two word commands missing 2nd word"
For two (or more) word commands, such as `disable sound` or `decrease volume`, no error or warning message is displayed if only the first word is found in the command passed to Jarvis, such as:
`decrease`
`please, can you decrease`
`decrease my cat, thank you`

[2017-06-02 17:55] anaisabel7 opened #94 "Jarvis crashes when given an incorrect location after 'check weather'"
When an incorrect location is included after `check weather`, Jarvis crashes with
`KeyError: 'main'`
from
[code]

Besides, when `check weather` is written as a command with no location afterwards, the weather in the location of "Weather" (???) is given.

[2017-06-03 23:45] rarredon commented on #80
I'm having an issue replacing some of the `print()` calls with `print_say()`. It makes sense to use the keyword `self` in the definition of the Jarvis/CmdInterpreter class. However, outside of the class definitions, the `self` keyword does not make sense to use. I suppose I could create an instance of the Jarvis class every time I call `print_say` outside of the class defs, but that's probably not

[2017-06-04 16:50] StefanosChaliasos commented on #80
Yes I agree with you. You could skip the print calls outside of the class Jarvis/CmdInterpreter. We could handle it in the future

[2017-06-04 16:56] #94 closed

[2017-06-05 09:51] anaisabel7 opened #98 "Music not downloading"
When trying to use the music feature with a command such as
`music i was made for loving you`
after picking one of the offered choices and confirming the download
`Pick one: 8`
`Download "KISS - I Was Made For Loving You"? (y/n) y`
an error occurred with the following information:
`ERROR: Signature extraction failed: Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages

[2017-06-07 18:47] anaisabel7 opened #100 "Jarvis breaks when using the near command"
When trying to run the command `restaurants near me` within Jarvis, Jarvis breaks. This is the last part of the traceback:
[code]

[2017-06-08 18:34] salman-bhai commented on #75
Hey, Is this Issue still up for grabs or is it resolved?

[2017-06-09 01:01] trp07 commented on #75
I submitted pull request #88 in response to this.

[2017-06-09 11:02] salman-bhai commented on #75
Oh okay so it hasn't been merged! Thanks :smile:

[2017-06-13 11:04] anaisabel7 commented on #100
Thanks to the latest changes (see the PR merged above), this is no longer an issue.

[2017-06-13 11:04] #100 closed

[2017-06-16 18:27] nashid commented on #3
Is this issue still up for grab? I can assist on this issue if required.

[2017-06-16 18:40] nashid commented on #92
is this issue still up for grab?

[2017-06-16 19:21] StefanosChaliasos commented on #3
Yes you can go for it!!

[2017-06-16 19:21] #98 closed

[2017-06-16 19:22] StefanosChaliasos commented on #92
No a solution had been merged

[2017-06-16 19:22] #92 closed

[2017-06-16 19:22] #80 closed

[2017-06-16 19:24] #4 closed

[2017-06-16 19:30] StefanosChaliasos opened #103 "Create weather forecast for 1 week"

[2017-06-16 19:35] StefanosChaliasos opened #104 "Make evaluate method to work with keyword calculate too"

[2017-06-16 19:35] #75 closed

[2017-06-16 20:40] nashid commented on #3
great - will give a go.

[2017-06-19 10:21] anaisabel7 commented on #12
In the PR above there is a way to download music in mp3 rather than .webm (after re-doing the setup) but I am not sure if it is the desired way to solve this issue....

[2017-06-20 00:01] trp07 commented on #103
I'm about to issue a PR for this.

[2017-06-20 00:39] trp07 commented on #103
PR #106 adds this functionality.

[2017-06-24 04:05] ruzaq opened #108 "test_timeIn.py failed"
[code]

[2017-06-24 08:19] yigalbeer commented on #58
Hi, I just tried to use the source in order to become a contributer, but facing the same issues with gi (v1.2) - which doesn't have Notify (actually not require_version and repository as well), using Ubuntu 16.04. & Python v2.7.12
Any update on that?

[2017-06-25 01:32] Prakash2403 opened #109 "PEP8 guidelines not followed."
Docstrings are not in standard form. Spacing is not proper. Naming conventions are not followed at few places.

I can work on this issue.

[2017-06-25 01:38] Prakash2403 opened #110 "Object oriented approach not followed"
If you consider a feature as an `Action,` then there is a `has-a` relationship between `Jarvis` and `Action`. Also, you can make an abstract class `Action`, then inherit this class to define all features. Doing this will make your code more flexible and elegant.

If you like my suggestion, then I am ready to work on this issue.

[2017-06-25 01:45] Prakash2403 opened #111 "Store actions in file."
Actions which are stored in a dictionary in `CmdInterpreter.py`, should be stored in a file. Storing them in dictionary violates `open close principle`. Also, add a method `add_action(*args, **kwargs)`, which will add actions to that file without manually opening that file. Doing this will make your code open for extension but closed for modification`(Open Close Principle)`

[2017-06-25 05:48] alokst commented on #58
Facing same issue as @yigalbeer .

[2017-06-26 09:42] kritisingh1 commented on #104
Hi @StefanosChaliasos . I would like to contribute to this project. I am a beginner and this would be my first contribution in open source. Please let me know if I may. Also if possible, can you provide a brief description about what exactly am I supposed to do and how?

[2017-06-26 12:02] alokst commented on #58
Replaced Notify with notify2 . solves the issue. PR #112 .

[2017-06-26 15:14] StefanosChaliasos commented on #109
Yes please it will be a great contribution!!

[2017-06-26 15:15] StefanosChaliasos commented on #110
That is a huge change!! If you could make a PR it will be great

[2017-06-26 15:17] StefanosChaliasos commented on #111
@sukeesh  what do you think about that?

[2017-06-26 15:26] StefanosChaliasos commented on #108
@trp07 can you fix it?

[2017-06-26 15:27] StefanosChaliasos commented on #58
@RottenCrab , @yigalbeer does PR #112 solved your issue?

[2017-06-26 15:27] #103 closed

[2017-06-26 15:27] #12 closed

[2017-06-26 15:28] StefanosChaliasos commented on #40
#83

[2017-06-26 15:28] #40 closed

[2017-06-26 15:36] StefanosChaliasos commented on #104
Absolutely you can contribute! In [CmdInterpreter.py](https://github.com/sukeesh/Jarvis/blob/master/Jarvis/CmdInterpreter.py) you could see how we handle the exit, goodbye, quit commands with the function close. You could handle that issue with the same logic.

[2017-06-26 16:10] Prakash2403 commented on #110
@StefanosChaliasos I know it will be a huge change, but in order to make this project a great project, software engineering principles and OOP must be followed.

I can't do this change alone. I think we should create a separate branch and start working there. What do you think @StefanosChaliasos @sukeesh ?

[2017-06-26 23:45] Prakash2403 opened #113 "No support for pyttsx in python 3"
Either change it to `pyttsx3` or to `gTTS.` I recommend to use `gTTS,` as it has google support and a clear female voice. What are your views @sukeesh @StefanosChaliasos ?

I would like to work on this issue.

[2017-06-26 23:51] Prakash2403 commented on #83
Changing to pyttsx3 or gTTS will help. See #113

[2017-06-27 04:35] trp07 commented on #108
See PR #115

[2017-06-27 08:59] StefanosChaliasos commented on #113
Yes create a pull request please

[2017-06-27 17:03] sukeesh commented on #111
@StefanosChaliasos This would be nice. @Prakash2403 If you can, please make a PR.

[2017-06-28 04:44] #108 closed

[2017-06-28 05:06] appi147 commented on #104
hi @StefanosChaliasos  added PR#116  for this issue

[2017-06-28 05:07] #109 closed

[2017-06-28 05:17] Prakash2403 commented on #110
Hey @StefanosChaliasos @sukeesh , Can you please create a branch to start OOP development?

[2017-06-28 05:32] appi147 commented on #8
@StefanosChaliasos  I want to help

[2017-06-28 05:38] sukeesh commented on #8
@appi147 Go Ahead!

[2017-06-28 06:04] appi147 commented on #8
Hi @sukeesh jarvis name is not available on [PyPi](https://pypi.python.org/pypi?%3Aaction=search&term=jarvis&submit=search) . Also, make a release with version number

[2017-06-28 14:55] StefanosChaliasos commented on #110
Done!

[2017-06-28 17:57] #104 closed

[2017-06-28 22:54] Monal5031 opened #119 "Add .coafile to repo and activate travis"
Activating travis over repo and adding .coafile will reduce a lot of efforts in maintaining the code, as there are bears for python available which point out the linting errors in the PR itself. The bears will make the travis have a non zero exit code if there are linting or spacing issues, which will help maintainers a lot.
Specially `SpaceConsistencyBear` and `PEP8Bear` will be useful for python

[2017-06-29 03:44] StefanosChaliasos commented on #119
Yes go for it!!!

[2017-06-29 08:51] StefanosChaliasos opened #120 "Jokes chat"
Create an action like chat action to tell some jokes. The command to activate the jokes chat should be something like "tell me a joke".

[2017-06-29 08:53] StefanosChaliasos opened #121 "Implement the wikipedia API"
[documentation](https://pypi.python.org/pypi/wikipedia/)

[2017-06-29 08:58] StefanosChaliasos opened #122 "Implement the OMDB API to get a movie plot"
[documentation](https://pypi.python.org/pypi/omdb)

[2017-06-29 11:06] appi147 commented on #122
OMDI API is going to be paid feature [OMDBAPI](http://www.omdbapi.com/). Will have to search new API.

[2017-06-29 12:10] Monal5031 commented on #119
@StefanosChaliasos @sukeesh only an admin can activate travis on repo, so if you could please activate it. I'll take care of rest.

[2017-06-29 12:24] sukeesh commented on #119
@Monal5031 I have activated. Please, Go Ahead!

[2017-06-29 16:22] Prakash2403 commented on #121
I would like to work on this.

[2017-06-29 17:04] StefanosChaliasos commented on #122
What about [IMDBPY](https://pypi.python.org/pypi/IMDbPY)?

[2017-06-29 17:13] StefanosChaliasos commented on #121
Go for it!

[2017-06-29 17:28] appi147 commented on #122
I'll try it tomorrow

[2017-06-29 18:38] appi147 opened #124 "Adding KeyBoard shortcuts"
Jarvis now exits on pressing `Ctrl + C`, similarly we can add different actions for different keyboard shortcuts. Don't know if it is possible. Just an idea.

[2017-06-30 05:26] appi147 commented on #124
I don't think its possible

[2017-06-30 05:26] #124 closed

[2017-06-30 05:41] appi147 commented on #122
`    imdb/parser/sql/cutils.c:54:20: fatal error: Python.h: No such file or directory
     #include <Python.h>
                        ^
    compilation terminated.

    ====================================================================
      ERROR
      =====

      Aaargh!  An error!  An error!
      Curse my metal body, I wasn't fast enough.  It's all my fault!

      Anyway, if you were tryi

[2017-06-30 05:42] appi147 commented on #122
`apt install python-imdbpy` works fine. But will push project to debian-based

[2017-06-30 07:01] yashLadha commented on #120
I would like to work on this issue.

[2017-06-30 07:12] appi147 opened #126 "Extra item in actions tuple"
There is an extra item named chat in actions tuple in [CmdInterpreter.py](https://github.com/sukeesh/Jarvis/blob/master/Jarvis/CmdInterpreter.py#L49) file

[2017-06-30 07:13] appi147 commented on #126
We can either add chat command which does same as ask command or remove chat from tuple.

[2017-06-30 07:58] yashLadha commented on #120
As I have gone through the code there is a method already defined for Jokes, under the name `chuck.py` and it uses an api fro fetching the `chuck norris joke`. Is it fine if i use that method. @StefanosChaliasos

[2017-06-30 08:19] StefanosChaliasos commented on #120
Yes use it!

[2017-06-30 08:26] yashLadha commented on #120
Used it ASAP 👍

[2017-06-30 08:30] yashLadha opened #128 "Issue in Setup"
As the setup file is only targeted for ubuntu/Debian based user. If it is executed on the Redhat based machine. It is showing error messages, because the package downloader for them is `dnf`. So there is a need to make it consistent across platforms. So that all linux distros can use this project.

[2017-06-30 08:31] yashLadha commented on #128
I would like work on the patch

[2017-06-30 08:31] yashLadha commented on #128
@sukeesh @StefanosChaliasos  Your views?

[2017-06-30 08:46] StefanosChaliasos commented on #128
It will be great if you can make the file cross platform

[2017-06-30 08:51] yashLadha commented on #128
I have tested it on my Fedora machine. It is giving error. So better if we make an executable python script which initiates a separate bash script depending upon the platform.

[2017-06-30 09:23] appi147 commented on #128
@yashLadha @StefanosChaliasos May be we should add Makefile with options ubuntu, fedora, etc.
Makefiles [description](https://krzysztofzuraw.com/blog/2016/makefiles-in-python-projects.html) [sample makefile](https://gist.github.com/bbengfort/17de016d6a51ce487a0f)

[2017-06-30 11:03] yashLadha commented on #128
I have to look into it. In several projects i have seen python script for
this task. I will look into it. Will get back to you.

On 30 Jun 2017 2:53 pm, "Arpit Choudhary" <notifications@github.com> wrote:

[2017-06-30 14:23] umangahuja1 opened #129 "Newcomer's request"
Hello,
I am a newcomer to open source community and landed on this repository. I want to contribute but since I am a newcomer, I don't know how to start.

Can anyone help?

[2017-07-01 16:15] StefanosChaliasos opened #130 "Errors in tests"

[2017-07-01 16:18] StefanosChaliasos commented on #130
@anaisabel7  can you handle the errors about test_forecast.py?

[2017-07-01 16:26] #119 closed

[2017-07-01 16:36] StefanosChaliasos commented on #129
If you are a beginner in python you can try to fix issues with the label: difficulty/newcomer. Right now we haven't any available issue with that label (We will open some new issues soon). If you have more experience in python programming you could try to solve any open issue or you could open your own [issue](https://guides.github.com/features/issues/) (with your idea) and then you should make a

[2017-07-01 16:36] #129 closed

[2017-07-01 16:37] #58 closed

[2017-07-01 16:48] umangahuja1 commented on #129
thanks, I will keep a watch a this repo and will try to contribute

[2017-07-01 17:17] StefanosChaliasos commented on #8
https://pypi.python.org/pypi/jarviscli/1.0

[2017-07-01 17:18] #120 closed

[2017-07-01 18:55] #128 closed

[2017-07-01 19:14] yashLadha commented on #42
How about create a static web page? @StefanosChaliasos

[2017-07-01 19:22] yashLadha opened #132 "Add gh-page"
Add a github-page for this project. I would like to work upon this patch.

[2017-07-01 19:26] StefanosChaliasos commented on #42
We could do that but right know the wiki would be very helpful!

[2017-07-02 02:23] appi147 commented on #128
@StefanosChaliasos @yashLadha
shell address should be `/bin/bash` rather than `/usr/bin/sh`

![screenshot from 2017-07-02 07-51-06](https://user-images.githubusercontent.com/22685364/27766807-7785f128-5efb-11e7-931b-83927aa4a375.png)

[2017-07-02 02:40] appi147 opened #134 "issue with .travis.yml file"
## This package is meant for python 2 yet it is reviewed against python 3.4

[2017-07-02 05:13] appi147 commented on #134
#136 fixed this

[2017-07-02 05:13] #134 closed

[2017-07-02 05:21] sukeesh commented on #132
@yashLadha Go ahead but first let someone create a wiki first and then you can add those wiki details in gh-pages.

[2017-07-02 05:27] appi147 commented on #132
@sukeesh It seems that we can't access Wiki. Whenever, I have clicked on Wiki, it redirects to Code page

[2017-07-02 05:29] sukeesh commented on #132
@appi147 How about now?

[2017-07-02 05:43] appi147 commented on #132
yes
![screenshot from 2017-07-02 11-12-52](https://user-images.githubusercontent.com/22685364/27767511-6e70c8a8-5f17-11e7-8e23-3d849b869192.png)

[2017-07-02 07:35] appi147 commented on #8
![screenshot from 2017-07-02 12-56-37](https://user-images.githubusercontent.com/22685364/27768041-ed4e6b6c-5f26-11e7-9e4f-f87724e16a47.png)

@sukeesh @StefanosChaliasos full package is not uploaded on pypi

[2017-07-02 07:49] appi147 commented on #8
@sukeesh @StefanosChaliasos Please merge  #137 and  reupload on pip with different version number

[2017-07-02 09:39] #8 closed

[2017-07-02 09:46] sukeesh commented on #8
https://pypi.python.org/pypi/jarviscli/1.0.1

[2017-07-02 16:46] yashLadha commented on #132
@sukeesh would you also like to work. It would be great to have you?

[2017-07-03 04:46] sukeesh commented on #132
@yashLadha Wiki will be in markdown format. After creating Wiki Page, It's just a click away to convert that to gh-page.

[2017-07-03 07:29] anaisabel7 commented on #130
Sure thing. I'll look into it now.

[2017-07-03 08:58] anaisabel7 commented on #130
The changes above should do it, I think.

[2017-07-03 19:50] yashLadha commented on #132
Yaa, that's true @sukeesh . But what about which template to use??

[2017-07-04 05:37] appi147 opened #140 "To do automatic testing in Travis"

[2017-07-04 05:48] appi147 commented on #140
In PR #139 I tried to do automatic testing in Travis. There were many failures. In short, many of tests require GUI, which (i think) can't be tested in Travis.
They are:

- [test_help](https://github.com/sukeesh/Jarvis/blob/master/jarviscli/tests/test_help.py)

- [test_evaluator](https://github.com/sukeesh/Jarvis/blob/master/jarviscli/tests/test_evaluator.py)

- [test_forecast](https://github.com/

[2017-07-04 05:50] appi147 commented on #140
[Build failing check logs](https://travis-ci.org/sukeesh/Jarvis/builds/249867809?utm_source=github_status&utm_medium=notification)

[2017-07-04 05:51] #126 closed

[2017-07-06 12:40] StefanosChaliasos commented on #140
Please implement your solution!

[2017-07-07 02:13] appi147 commented on #140
Sure I will open another PR

[2017-07-07 07:11] appi147 commented on #140
The GMT timezone has the same hour offset (GMT+0) as the Western European Time Zone . When Daylight Saving Time starts, London is on British Summer Time (BST), which is GMT+1.

[2017-07-07 07:11] appi147 commented on #140
this is causing test_TimeIn to fail

[2017-07-07 07:15] appi147 commented on #140
When do clocks next change in Europe?

Daylight saving start: Sunday 26 March 2017  01:00 GMT. Clocks go forward one hour.
Daylight saving end: Sunday 29 October 2017  01:00 GMT.Clocks go back one hour.

[2017-07-08 10:38] kaustav1996 commented on #121
hi hows the work going?

[2017-07-13 04:45] danielcorin commented on #3
@nashid are you still looking into this?

[2017-07-14 18:50] StefanosChaliasos commented on #3
Go for it @danielcorin

[2017-07-15 10:49] ayushagg31 opened #145 "Make quit option more convenient for user"
Adding `q` for quitting Jarvis instead of `quit`, or adding both options will work too.

[2017-07-16 08:14] umangahuja1 commented on #83
I think the issue is not resolved yet and it is not yet running on python3.

[2017-07-16 08:47] umangahuja1 opened #146 "Working with files"
Add a feature to:

- sort files

- group files by extension

- clear desktop (which is the most tedious work we ever find)

[2017-07-16 12:02] umangahuja1 opened #147 "New Feature - Social media"
script to handle social media accounts like facebook, twitter etc

- login logout
- basic stuffs like posting, liking, commenting

[2017-07-18 02:39] sukeesh commented on #146
@umangahuja1 Do you want to work on this?

[2017-07-18 02:42] sukeesh commented on #147
@umangahuja1 I don't understand this feature. Is it something like using facebook CLI to post?

Please elaborate a little bit.

[2017-07-18 02:47] umangahuja1 commented on #147
Many stuffs like auto login, auto like, auto post and we can extend this feature to whatever extent we want.

[2017-07-18 02:48] umangahuja1 commented on #146
I can work on this but what all features do you think will be good enough to include

[2017-07-18 18:50] umangahuja1 commented on #147
If you want to see the script and understand tell me.

[2017-07-20 03:27] danielcorin commented on #3
See #150. Not all features are working but it's a start

[2017-07-20 12:30] ayushagg31 commented on #145
@sukeesh This will be my first commit in this repo, I will give it a try.Thanks

[2017-07-20 21:34] dviraj00 commented on #5
What is the solution for this? i also have the same exact case

[2017-07-22 05:54] ayushagg31 commented on #145
@sukeesh Can you guide me in which function do I need to make changes for adding an option for `q'

[2017-07-23 08:46] #140 closed

[2017-07-23 09:07] StefanosChaliasos commented on #121
@kaustav1996 you could give it a try!

[2017-07-23 09:08] StefanosChaliasos commented on #122
@appi147 could you implement that API to Jarvis

[2017-07-23 09:08] #130 closed

[2017-07-23 09:10] StefanosChaliasos commented on #146
@umangahuja1 start with the first two (sort files, group files by extension).

[2017-07-23 09:11] StefanosChaliasos commented on #147
@umangahuja1 Please make a PR about that issue!

[2017-07-23 12:01] StefanosChaliasos opened #153 "Add "q" command to quit Jarvis"
In [CmdInterpreter.py](https://github.com/sukeesh/Jarvis/blob/master/jarviscli/CmdInterpreter.py) add "q" keyword to actions and then create a do_q function like do_quit function.

[2017-07-23 12:01] StefanosChaliasos commented on #145
#153

[2017-07-23 12:01] #145 closed

[2017-07-23 12:05] yashLadha commented on #153
I would like to work upon it

[2017-07-23 15:02] #153 closed

[2017-07-23 20:05] yashLadha opened #160 "Setup dbus in travis"

[2017-07-24 06:21] umangahuja1 commented on #146
In linux I think the files are automatically sorted so is there any need for sort? Let me know if it is otherwise.

[2017-07-24 13:28] StefanosChaliasos commented on #146
Ok then go for the third one

[2017-07-24 14:35] appi147 commented on #122
@StefanosChaliasos will try today

[2017-07-24 14:51] appi147 commented on #160
@yashLadha I have faced this and fix dbus error previously on #139 , but display options were not working.

[2017-07-24 14:54] appi147 commented on #160
[code](https://github.com/sukeesh/Jarvis/pull/139/commits/f8ed0c5e2f6c70e1703540c1c3d713c6df9b6148)
[Build log](https://travis-ci.org/sukeesh/Jarvis/builds/249865252?utm_source=github_status&utm_medium=notification)

Display error occured

[2017-07-24 17:53] yashLadha opened #164 "Unable to import near_me in CmdInterpreter in tests"

[2017-07-25 03:13] umangahuja1 commented on #146
I am done with the script but I think the way I am making PR has some errors. (I made a PR yesterday).
Can you help me with it ?

[2017-07-25 05:01] appi147 commented on #146
Hi @umangahuja1 are you talking about fb_login checkout

[2017-07-25 05:02] appi147 commented on #160
@yashLadha shall I make a PR to resolve the bug?

[2017-07-25 06:38] yashLadha commented on #160
Sure Go for it

[2017-07-25 07:24] appi147 commented on #164
After #165 , its working fine for me again

[2017-07-25 08:12] umangahuja1 opened #167 "Typo"
![screenshot from 2017-07-25 13-39-30](https://user-images.githubusercontent.com/22851705/28562135-c42cba34-713e-11e7-8472-1cdc6b240b2f.png)

I think it should be Jarvis' and not Jarvi's.

[2017-07-25 08:39] #164 closed

[2017-07-25 08:40] #160 closed

[2017-07-25 18:48] StefanosChaliasos commented on #167
Could you fix it in a PR?

[2017-07-25 19:04] StefanosChaliasos commented on #146
What errors?

[2017-07-25 19:05] umangahuja1 commented on #146
build check is failing

[2017-07-25 22:00] umangahuja1 commented on #167
Sure. It is Jarvis' then ?

[2017-07-25 22:39] umangahuja1 opened #170 "New Feature - Clear jarviscli screen"
clear the terminal screen by a simple script.

[2017-07-26 10:13] StefanosChaliasos commented on #167
#169

[2017-07-26 10:13] #167 closed

[2017-07-26 10:30] StefanosChaliasos commented on #3
#150

[2017-07-26 10:30] #3 closed

[2017-07-26 17:07] appi147 commented on #170
Pressing `CTRL + L` clears terminal screen. Imitating that can help

[2017-07-26 17:11] umangahuja1 commented on #170
Thanks, it working but user need to know about this command.

[2017-07-26 17:13] appi147 commented on #170
I meant that Jarvis imitates keypress for user

[2017-07-26 17:17] umangahuja1 commented on #170
so we have to write a script for the same or we will just mention it in help

[2017-07-26 17:21] appi147 commented on #170
Yes adding script would be great for functionalities of Jarvis

[2017-07-26 17:23] umangahuja1 commented on #170
okay I will add the script. It can also be achieved by os.system('clear').So I think it can be used

[2017-07-26 17:57] appi147 opened #171 "New Directory"
New directory has been added in code base named `Jarvis`.

[2017-07-26 18:09] #122 closed

[2017-07-26 18:19] StefanosChaliasos commented on #171
I removed it.

[2017-07-26 18:19] #171 closed

[2017-07-26 18:26] appi147 opened #172 "Adding More Features of IMDBPY API"

[2017-07-27 21:15] umangahuja1 opened #173 "test failing"
I have forked this repo and before doing any changes I ran the unitest and it is failing.

[2017-07-28 06:23] yashLadha commented on #173
Ya there are some issues in unit test. There is also an pr for the same
already requested. You can go through the changes. This is because of the
changes in the directory structure

On 28 Jul 2017 2:45 am, "Umang Ahuja" <notifications@github.com> wrote:

[2017-07-28 08:04] StefanosChaliasos commented on #170
#174

[2017-07-28 08:04] #170 closed

[2017-07-28 08:35] umangahuja1 opened #175 "New Feature - Wallpaper"
To set bing wallpaper of the day as wallpaper.

[2017-07-28 11:52] appi147 commented on #173
@yashLadha @umangahuja1 Can you share the screenshot of the terminal.

Please make sure that you are running `python -m unittest discover` from `jarviscli/` and not `Jarvis`

[2017-07-28 11:53] appi147 commented on #173
All tests passing on my laptop as well as Travis CI

[2017-07-28 12:15] umangahuja1 opened #176 "New Feature - Cricket and other Sports Scores"
A script to get cricket scores. If anyone know any api do suggest.

[2017-07-28 12:19] appi147 commented on #176
I had implemented the same by scraping. Don't know any free API.
My package:
Install `pip install cricketlivescore`
Run `cricls`
Displays all current matches
[Source](https://github.com/appi147/cricketlivescore)

[2017-07-28 12:24] umangahuja1 commented on #176
Then create a script and add this functionality in the project.

[2017-07-28 12:25] umangahuja1 commented on #173
![screenshot from 2017-07-28 17-52-57](https://user-images.githubusercontent.com/22851705/28717013-9da50048-73bd-11e7-8a47-9ef85e7e6cac.png)

[2017-07-28 12:27] appi147 commented on #176
I don't think that cricket is famous all over the world. Also my script displays all live scores even first class or some local

[2017-07-28 12:28] umangahuja1 commented on #176
Well it came into my mind and hence I posted the idea.

[2017-07-28 12:32] appi147 commented on #173
@umangahuja1 Please check your time zone set on the laptop. Most probably it will be +05:00 whereas actual time zone of India is +05:30. That's why a difference of 30 mins.

[2017-07-28 12:36] appi147 commented on #173
In Python

In bash
`timedatectl`

Please check if both are same

[2017-07-28 12:38] appi147 commented on #176
It will be nice if you implement it for matches and take parameters such as team name or international

[2017-07-28 12:39] appi147 commented on #176
feel free to add PR. Any new feature is always improve Jarvis

[2017-07-28 12:42] umangahuja1 commented on #173
bash showing +5:30 and in python showing 5.5

[2017-07-28 12:43] appi147 commented on #173
@umangahuja1 Sure will look into this

[2017-07-28 12:44] umangahuja1 commented on #176
Actually I had taken two three issues and that's why I can't help in this. Can you switch over to my fb PR, I need some help.

[2017-07-28 12:59] appi147 commented on #176
sure

[2017-07-28 13:00] appi147 commented on #173
Thanks @umangahuja1 for pointing out the error.
Error was that in Python2 `/` does Integer division

[2017-07-28 13:04] appi147 commented on #173
Please check now

[2017-07-28 13:11] umangahuja1 commented on #173
It is now showing 6.

[2017-07-28 14:33] appi147 commented on #173
Rebase and run unittest. Is it all passing?

_Sent from my Xiaomi 2014818 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-28 14:39] umangahuja1 commented on #173
Hello the thing is I have made my commit into the repo locally and so pulling is showing conflicts.
Can you guide me through.

[2017-07-28 14:56] appi147 commented on #173
I think following can help
git fetch upstream
git rebase upstream/master

_Sent from my Xiaomi 2014818 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-29 01:37] sukeesh commented on #176
@umangahuja1  Also consider football
[link](http://www.football-data.org/documentation)

[2017-07-29 01:48] sukeesh opened #178 "Add small animations"
Adding small animations similar to this.

[code]

[2017-07-29 02:22] sukeesh opened #179 "Fix display pics command"
If I ask Jarvis to display pics of "Sachin Ramesh", It should show [this](https://www.google.co.in/search?tbm=isch&sa=1&q=Sachin+Ramesh&oq=Sachin+Ramesh&gs_l=psy-ab.3..0i13k1l4.1083.2192.0.2392.7.7.0.0.0.0.335.662.0j2j0j1.3.0....0...1.1.64.psy-ab..5.2.482...0i7i30k1j0i7i10i30k1.OYUVlolj_d8) instead of [this](https://www.google.co.in/search?tbm=isch&sa=1&q=Ramesh&oq=Ramesh&gs_l=psy-ab.3..0l4.135990

[2017-07-29 04:09] appi147 opened #181 "Sort all command in CMDInterpreter.py"
All functions are not sorted in CMDInterpreter which takes time to find

[2017-07-29 05:02] appi147 commented on #173
#177

[2017-07-29 05:02] #173 closed

[2017-07-29 05:06] appi147 opened #183 "Add feature to display lyrics"

[2017-07-29 05:14] appi147 opened #184 "Add a script for jarvis"
Add a script so that we can run Jarvis by typing `jarvis` from any directory and not from `Jarvis/` with `python jarviscli`

[2017-07-29 05:14] appi147 commented on #184
What do you think @sukeesh

[2017-07-29 05:19] appi147 commented on #179
@sukeesh Have you seen [this](https://www.theregister.co.uk/2017/03/13/repo_roundup/) Second para

[2017-07-29 05:45] sukeesh commented on #184
@appi147 Yeah, this would be good!

[2017-07-29 05:47] sukeesh commented on #179
@appi147  Yeah, I have seen this! 😃

[2017-07-29 06:53] umangahuja1 commented on #175
I have prepared the script just that I don't know how to set it run everyday at a specific time. Can anyone suggest ways.

[2017-07-29 06:54] umangahuja1 commented on #176
Web Scraping all will be a hectic task. If anyone can suggest API I write the script.

[2017-07-29 07:02] umangahuja1 commented on #173
Test passed nice work.

[2017-07-29 07:21] StefanosChaliasos commented on #183
Here is an [API](https://pypi.python.org/pypi/PyLyrics/) we could use.

[2017-07-29 07:33] #181 closed

[2017-07-29 13:29] appi147 commented on #175
cronjob

[2017-07-30 03:32] jlvivero commented on #183
hey guys, I'm new here, I would like to work on this if it's alright with you guys.

Something I noticed is that the API @StefanosChaliasos  linked is not mantained anymore, and has a few errors, since making a fork just for this might be too much of a hassle so I'll probably just copy the methods needed and give credit to the owner.

[2017-07-30 05:21] appi147 commented on #183
@jlvivero welcome here. Feel free to use any API

[2017-07-30 06:03] jlvivero commented on #183
Awesome, I already have a preview of the feature, but I am not too familiar with CI, so I don't know If I should just make a pull request and see if anything fails.

[2017-07-30 06:04] umangahuja1 commented on #183
Feel free to make a PR if anything happens we will discuss and sort it out.

[2017-07-30 06:37] jlvivero commented on #183
#188 hope it's not too horrifying to read

[2017-07-30 13:01] #183 closed

[2017-07-30 16:38] #179 closed

[2017-07-31 02:39] umangahuja1 commented on #175
I tried but it doesn't run on startup

[2017-07-31 05:12] umangahuja1 opened #191 "New Feature - Dictionary"
To search the meaning, synonyms, antonyms and other grammatical things using an API.

_Sent from my Vivo 1601 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-31 05:52] appi147 commented on #175
It's difficult to add this functionality in a program. It will be better if it works as a single script. Otherwise, we can add commands such as change wallpaper to Jarvis

[2017-07-31 05:55] appi147 commented on #191
Is it word meanings dictionary?

[2017-07-31 05:56] umangahuja1 commented on #175
Yeah we can change the wallpaper but we have to specify to change to what?

[2017-07-31 05:57] umangahuja1 commented on #191
Yes, meanings,  synonyms antonyms and example.

If you know some easy API suggest

_Sent from my Vivo 1601 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-31 06:01] appi147 commented on #191
[Check this](https://www.wordsapi.com/)

[2017-07-31 06:02] umangahuja1 commented on #191
I will see if it works

_Sent from my Vivo 1601 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-31 08:19] appi147 commented on #184
#189

[2017-07-31 08:19] #184 closed

[2017-07-31 08:35] StefanosChaliasos commented on #191
Please add more information about that new feature @umangahuja1

[2017-07-31 08:43] appi147 commented on #147
#192

[2017-07-31 08:43] #147 closed

[2017-07-31 08:44] umangahuja1 commented on #191
Sure

_Sent from my Vivo 1601 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-31 08:55] umangahuja1 opened #193 "New feature - Twitter"
Actually in previous social media feature I was also going to include twitter login and twitter posting too.
See if it is worth implementing.

[2017-08-02 02:22] appi147 commented on #146
#190

[2017-08-02 02:22] #146 closed

[2017-08-02 06:54] umangahuja1 commented on #193
i cannot import pyperclip even after including it in requirements.txt.
Can anyone know the cause.

[2017-08-02 06:57] umangahuja1 commented on #191
@appi147 This API is asking for card details and all things. Can you suggest something else.

[2017-08-02 12:50] sanketdhole commented on #132
@yashLadha I would also like to make my hands dirty on this issue. I am a new comer over here. It would be also helpful if you guide me to other issue.

[2017-08-02 14:38] yashLadha commented on #132
Sure, why not just need to finalize the template. Suggest me if u have one

On Wed, Aug 2, 2017 at 6:20 PM, sanketdhole <notifications@github.com>
wrote:

[2017-08-04 13:03] appi147 commented on #193
Installation of cryptography is failing, that might be an issue

[2017-08-04 13:12] umangahuja1 commented on #193
how to solve it then, I tried installing it but it isn't. And perhaps my other requirements are not installing using setup.sh. I tried selenium too.

[2017-08-04 13:36] appi147 commented on #193
Is it working now?

[2017-08-04 13:40] appi147 opened #197 "Test Failing for WeatherIn"

[2017-08-04 17:06] umangahuja1 commented on #193
I finished the script but unittest is not passing. I saw an issue you opened for the same and I am waiting for it to be solved.

[2017-08-04 17:06] umangahuja1 commented on #175
What to do with this then?

[2017-08-04 17:07] umangahuja1 commented on #121
What is the progress?

[2017-08-04 17:47] kaustav1996 commented on #121
Actually am a little busy with my internship right now , but as soon as I
complete my internship, I will work on this.

On Fri, Aug 4, 2017 at 10:37 PM, Umang Ahuja <notifications@github.com>
wrote:

[2017-08-04 20:03] appi147 commented on #175
If you have any idea or implementation, open a PR, or let any one come

_Sent from my Xiaomi 2014818 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-04 20:04] appi147 commented on #193
Open a PR for this issue, it will be merged if it is not causing failures

_Sent from my Xiaomi 2014818 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-05 01:39] umangahuja1 commented on #193
No unnitest is causing issues. And I think you are working on it since you opened an issue with same. Just one test failing.

[2017-08-05 01:40] umangahuja1 commented on #175
I wrote script that can manually change wallpic but not automatically.

[2017-08-05 01:41] appi147 commented on #175
Open a PR

_Sent from my Xiaomi 2014818 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-05 01:43] appi147 commented on #193
I don't know yet why is it failing. Will look into it after my classes

_Sent from my Xiaomi 2014818 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-05 01:52] umangahuja1 commented on #193
sure.

[2017-08-05 02:17] umangahuja1 commented on #197
`def test_pinpoint_is_called_if_no_location_is_found(self):
        with patch.object(weather_pinpoint, 'main') as pinpoint_mock:
            weatherIn.main(self, 'weather in NowhereReally')
            self.assertTrue(pinpoint_mock.called)`

I think this assert should be **False** since no location is found.

[2017-08-05 07:52] sanketdhole opened #198 "Error while installing"
In the module utilities.textParser  there is import command

But there is no such module

[2017-08-05 07:56] sanketdhole commented on #198
I got this issue while installing

[2017-08-07 10:39] farbodgame commented on #198
You can fix this error using this command:
`sudo pip install python-dateutil --upgrade`

[2017-08-07 14:46] umangahuja1 commented on #176
If anyone knows some API for cricket scores let me know.

[2017-08-07 14:49] umangahuja1 commented on #198
@farbodgame  I have created an issue for new feature Bing Wallpaper and I have prepared the python script too. I saw you also have written a bash script for the same.

Can you tell how to make it such that it runs automatically at a certain time and also after shutdown.

[2017-08-07 14:52] umangahuja1 commented on #175
https://github.com/umangahuja1/Scripting-and-Web-Scraping/blob/master/Wallpaper/bing.py.
I am not sending PR because tests are not passing yet.

[2017-08-08 06:23] farbodgame commented on #198
@umangahuja1 I'm glad you liked it. Just let me see your python code if you want please.
I think here is not the right place to answer this, anyway; To automate the script, you can use Cron. For example to run the script after reboot you can put this code as a cronjob:
1. `crontab -e` (Run this code in your Terminal to edit your cronjobs)
2. `@reboot /PATH/TO/SCRIPT.sh` (Put this code in the last

[2017-08-10 17:01] umangahuja1 commented on #198
Actualky I tried with crontab and it do run on restrart but I am confused with how to do that using python script.
Here is the script: https://github.com/umangahuja1/Scripting-and-Web-Scraping/blob/master/Wallpaper/bing.py

[2017-08-11 11:23] farbodgame commented on #198
It's again like Bash Script. Take a look at this link:
https://stackoverflow.com/questions/8727935/execute-python-script-on-crontab
If you want to run python 2 code as a cronjob you can do this:
`@reboot /usr/bin/python PATH/TO/script.py`
Again make sure that your script is executable using:
`chmod +x PATH/TO/script.py`
This should work fine, if it doesn't let me know please :)

[2017-08-12 01:48] jeol16 opened #199 "how to fix import error. missing module(s)"
I just recently installed this program on my Ubuntu machine, and these error appears.
![screenshot from 2017-08-12 09-45-43](https://user-images.githubusercontent.com/30943154/29236780-3b1ae168-7f43-11e7-99b4-71d05a3c6bca.png)

[2017-08-12 03:43] jeol16 commented on #199
what file(s) am I missing?

[2017-08-12 05:19] adityajoshi commented on #199
@jeol16 probably colorama module not present. Is this module installed ?
You can run below command to check this out.
_pip freeze | grep colorama_

[2017-08-12 06:04] umangahuja1 commented on #199
Have you run ./setup.sh?

_Sent from my Vivo 1601 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-12 11:39] AayushGala commented on #121
We can use Wikipedia's API to get info instead of using a module

[2017-08-12 13:08] jeol16 commented on #199
so i run ./stup.sh and i have now colorama.
where i can find pyttsx module?
![screenshot from 2017-08-12 21-08-17](https://user-images.githubusercontent.com/30943154/29240959-688d3a7e-7fa2-11e7-9251-893bcece1483.png)

[2017-08-12 15:54] #199 closed

[2017-08-12 15:57] jeol16 opened #200 "MAJOR:invaild syntax"
invalid syntax.how could we fix this?
![invaild](https://user-images.githubusercontent.com/30943154/29242145-ed89f99e-7fb9-11e7-871a-f473ac548f5c.png)

[2017-08-13 17:25] ayush-vibrant opened #201 "Unable to load Jarvis. On running "jarvis" command."
`Traceback (most recent call last):
  File "/usr/lib/python2.7/runpy.py", line 174, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File "/usr/lib/python2.7/runpy.py", line 72, in _run_code
    exec code in run_globals
  File "/home/ayush/Jarvis/jarviscli/__main__.py", line 2, in <module>
    import Jarvis
  File "/home/ayush/Jarvis/jarviscli/Jarvis.py", line 3, in <module>
    f

[2017-08-14 07:47] jeol16 commented on #201
install colorama.
commands (in terminal):
sudo apt-get install python-colorama

[2017-08-14 14:21] umangahuja1 commented on #201
I think all modules required should be already installed by running ./setup.sh. Let us know if this isn't the case.

[2017-08-14 14:49] tornikegomareli opened #202 "CmdInterpreter Class,What is purpose of this class ?"
Helo folks, I'm new to open-source projects, but My passion is to contribute some open-source, so I liked jarvis and I'm trying to understand codebase. I understand purpose of the class Jarvis, but I don't know what is doing CmdInterpreter class ? What this Module is doing ?

Excuse me for noob question, and sorry If i must not open issue for this like questions.

[2017-08-14 15:09] tornikegomareli commented on #201
I have same problem, When I'm typing _jarvis_, always have ModuleNotFoundError, when I'm runing ./setup.sh, every module is already installed.

Is this problem for my python versions ? I have 2.7 and also 3.x

[2017-08-14 15:29] umangahuja1 commented on #201
Well I don't know yet the source of error but just for the purpose of testing I uninstalled colorama and ran jarvis and it show the same error as pointed out and then in Jarvis folder I ran ./setup.sh and then ran jarvis it is working fine.

Still I will try to find the source of error. If anyone gets something feel free to ask issues or chat in gitter.

[2017-08-14 17:43] tornikegomareli commented on #201
<img width="615" alt="screen shot 2017-08-14 at 9 40 02 pm" src="https://user-images.githubusercontent.com/24585160/29283792-3a94ccb6-8139-11e7-9fba-747419a71e4a.png">

After lunch ./setup.sh. I'm trying to run Jarvis and this is picture after run it

<img width="610" alt="screen shot 2017-08-14 at 9 40 12 pm" src="https://user-images.githubusercontent.com/24585160/29283845-66f5ff82-8139-11e7-8dba

[2017-08-14 17:56] umangahuja1 commented on #201
Yup you are right that ./setup.sh should install all of modules required.
I am not aware about Mac so if someone knows contribute and send a PR or discuss here.

[2017-08-15 08:04] tornikegomareli commented on #201
<img width="828" alt="screen shot 2017-08-15 at 12 00 34 pm" src="https://user-images.githubusercontent.com/24585160/29307075-640703b6-81b1-11e7-82cc-4f2d846498d3.png">

In setup.sh there is no OSX condition,is this the reason of the problem ?

[2017-08-15 08:11] tornikegomareli commented on #201
When I'm activating virtualenv

`source /env/bin/activate`

Then jarvis command is working

[2017-08-15 11:42] abhimanyu97 commented on #191
Can we not use PyDictionary? https://pypi.python.org/pypi/PyDictionary/1.3.4

[2017-08-17 09:55] karnikamit commented on #191
[Thesaurus API](https://www.programmableweb.com/api/thesaurus)

[2017-08-18 18:22] sanketdhole commented on #198
@farbodgame  Thank you for your support. Your suggestion solved my problem. There were some more problems like the one I mentioned but I sorted them out like your solution.

[2017-08-18 18:22] #198 closed

[2017-08-19 14:46] appi147 commented on #202
Welcome @tornikegomareli to open source, CmdInterpreter class has all the commands of Jarvis defined there, also initial reactions are present. If a new feature is to be added it must be defined in this new class

[2017-08-19 14:51] appi147 commented on #201
@tornikegomareli problem is in setup.sh, virtual environment is set up for installation. Please install dependencies globally by `pip install -r requirements .txt`

[2017-08-19 14:56] #202 closed

[2017-08-19 14:58] tornikegomareli commented on #202
Thank you for response

[2017-08-19 15:00] appi147 commented on #200
@jeol16 My line 155 of Kernel.py is
`if self._verboseMode: print "Loading brain from %s..." % filename,`

[2017-08-19 15:01] appi147 commented on #202
@tornikegomareli Feel free to ask questions and please contribute :smile:

[2017-08-19 19:00] umangahuja1 commented on #176
how about using pycricbuzz module for cricket feature??

[2017-08-19 19:01] umangahuja1 commented on #193
this feature is done, I am just waiting for weather test to pass in

[2017-08-20 06:22] appi147 commented on #176
Use it

_Sent from my Xiaomi 2014818 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-20 06:23] appi147 commented on #193
Was busy for last weeks. Will be looking into it

_Sent from my Xiaomi 2014818 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-20 15:31] tornikegomareli commented on #201
@appi147 Yes you are right, thank you for your response.

[2017-08-21 20:28] ajf80 opened #204 "Weather Location"
Upon checking weather when first starting jarvis, you're prompted for your location. If you state that you current location is incorrect, you're asked to enter a city name. If a city name is improperly entered and/or does not exist, an error is thrown and jarvis crashes. I am currently working on correctly handling this improper input.

[2017-08-22 14:54] Raz1990 opened #205 "Add .editorconfig"
I believe that by adding an .editorconfig, it would help contributors to get started without worrying about (some aspects of) the style.

For more deatils, read: http://editorconfig.org/

I'll probably be free for the following week from now and have time to do it myself, if that's ok with you.

[2017-08-24 21:01] ajf80 opened #206 "Calculator Functionality"
Adding calculator functionality so that Jarivs will be able to return answers to basic math problems.

Ex.
~> What can i do for you?
3 * 12
= 36
~> What can i do for you?

I do not believe that this functionality has been added yet and I think it is something worth adding. Please let me know if I am wrong.

[2017-08-24 21:12] #206 closed

[2017-08-26 04:43] appi147 commented on #206
Added under calculate and evaluate

_Sent from my Xiaomi 2014818 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-26 07:06] umangahuja1 commented on #197
What is the status of this error?

[2017-08-29 02:31] wedjlok commented on #201
I am also getting similar errors. Ran ./setup.sh and it appeared that everything installed fine. However, when I run jarvis from command line in Linux Mint 18.2 (Ubuntu 16.04) I get this error:

`aeryck@andromeda ~ $ jarvis
Traceback (most recent call last):
  File "/usr/lib/python2.7/runpy.py", line 174, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File "/usr/lib/python2.7/ru

[2017-09-01 13:45] ayushagg31 commented on #176
If no one is working on cricket feature, then I would like to work on it.
I am thinking of using the pycricbuzz module for extracting cricket score and other details.

[2017-09-01 13:48] umangahuja1 commented on #176
I really appreciate your desire to work but I prepared the script and only waiting for builds to pass so that no conflicts arise.

Checkout other issues. We would love to get contribution from you.

_Sent from my Vivo 1601 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-09-01 13:54] ayushagg31 commented on #176
Ok @umangahuja1, I will look for another issue.

[2017-09-05 17:17] kedarkhetia opened #208 "Wiki Search Option"
Hi,
I can see that there is no wiki search option provided in the (BOT). It would be really useful if we have a simple command such as

`wiki Git`

And it provides simple output which summarize the information and provide a link to wiki page for the search.

Being new to open source, I would like to take this task and contribute to open source.

[2017-09-05 17:40] BradleyJHumble commented on #208
https://pypi.python.org/pypi/wikipedia

[2017-09-05 22:24] ajf80 commented on #206
yes I realized that later on. Thank you for your input. Can you/would you review my pull request to fix a bug in the check weather functionality? Its an open pull request at the moment

[2017-09-06 13:30] appi147 commented on #201
@wedjlok This is dbus error, various errors occured related to dbus. This is desktop specific(related to Mint), according to me. Try to install dbus for ypur desktop.

[2017-09-06 13:35] appi147 commented on #208
@kedarkhetia Sure create a PR :+1:

[2017-09-06 13:36] appi147 commented on #205
Sure

[2017-09-06 13:37] appi147 commented on #204
#203
Thanks @ajf80

[2017-09-06 13:37] #204 closed

[2017-09-06 13:37] #200 closed

[2017-09-06 13:47] kedarkhetia commented on #208
@appi147 Can you please assign this to me ? Also, if possible add label 'feature-request' to this issue.

Thanks,
Kedar Khetia.

[2017-09-06 14:03] appi147 commented on #197
It is such a dumb error, script is giving weather of "NowhereReally" as asked in test

[2017-09-06 14:17] wedjlok commented on #201
@appi147 I do already have dbus installed. Perhaps there is a specific dbus package that I need...? I have ubuntu-system-service dbus, dbus ver 1.10.6-1ubuntu3.3, dbusX11, libdbus, as well as some others also.

[2017-09-06 14:20] appi147 commented on #208
There you go!!

[2017-09-06 14:24] appi147 commented on #201
@wedjlok Yeah, there might be a specific dbus package for Mint. Text `org.freedesktop.Notifications` leads us to GNOME, and Unity is based on GNOME. If you could solve this problem this would be a huge help. I'll be looking for the package from my side.

[2017-09-06 14:28] appi147 commented on #197
@umangahuja1 Builds passing :tada:

[2017-09-06 14:28] appi147 commented on #197
#209

[2017-09-06 14:28] #197 closed

[2017-09-06 18:27] umangahuja1 commented on #175
Hey @appi147 Can we do it like whenever we run Jarvis it runs this script. Can you mention a way to achieve the same?

[2017-09-06 21:13] ajf80 opened #211 "Calculate / Evaluate"
Thoughts on taking calculate and evaluate functionality and treating it like a python shell calculation? I don't see any need to use keywords in processing the equation. Obviously we can leave this functionality in, however, why not allow users to simply put '3 + 5' into the shell without the keyword in front of it? Please let me know your thoughts and I will try to address this feature of keyword

[2017-09-06 22:50] #211 closed

[2017-09-07 05:47] appi147 commented on #175
I think there is initialization. Will look in evening

[2017-09-09 06:35] appi147 commented on #175
@umangahuja1 I could not think of any method. Is there any @sukeesh @StefanosChaliasos

[2017-09-09 11:00] appi147 opened #214 "Travis Build Error"
Installation of coala-bears is failing.

[2017-09-09 11:02] appi147 commented on #214
@monal5031 can you please fix this

[2017-09-09 13:29] appi147 commented on #193
#210 Nice Work!!

[2017-09-09 13:29] #193 closed

[2017-09-09 14:09] umangahuja1 commented on #193
Thanks

[2017-09-11 12:25] appi147 commented on #214
@sukeesh @StefanosChaliasos Since, coala is python3 based, it is failing build in Travis, I intend to use other options such as pycodestyle for clean code

[2017-09-11 12:57] appi147 commented on #201
@wedjlok Can you try This:
`sudo apt-get install python-dbus-dev python-dbus libdbus-1-dev libdbus-glib-1-dev`

[2017-09-11 13:11] appi147 commented on #214
#215

[2017-09-11 13:11] #214 closed

[2017-09-11 13:12] appi147 commented on #176
Create a PR

[2017-09-11 13:56] umangahuja1 commented on #176
I will test it and add a PR soon.

_Sent from my Vivo 1601 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-09-11 15:24] #172 closed

[2017-09-13 14:16] jdlowman2 commented on #201
I'm also having an issues trying to get setup. After running ./setup.sh, I got the following error:

Command "/usr/bin/python -u -c "import setuptools, tokenize;__file__='/tmp/pip-build-bncTkU/cryptography/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" install --record /tmp/pip-9sijJU-record/install-record.

[2017-09-13 16:30] appi147 commented on #201
@jdlowman2 Cryptography is failing for you. Try installing cryptography first, then setup.sh

[2017-09-15 04:55] appi147 commented on #208
How is work going @kedarkhetia

[2017-09-16 07:07] appi147 commented on #191
anyone working on it?

[2017-09-17 09:13] blunttester opened #218 "Chromedriver location has been changed"
Instead of being:
 https://chromedriver.googlecode.com/files/chromedriver_linux64_2.3.zip
The location is now:
https://chromedriver.storage.googleapis.com/2.32/chromedriver_linux64.zip

[2017-09-17 16:39] #205 closed

[2017-09-17 16:40] appi147 commented on #218
Thanks!! Want to open a PR

[2017-09-18 04:38] karnikamit commented on #191
PR #207

[2017-09-19 08:15] appi147 commented on #191
Sure, open a new PR on master

[2017-09-19 08:16] appi147 commented on #218
Issue has been fixed

[2017-09-19 08:16] #218 closed

[2017-09-26 17:20] kedarkhetia commented on #208
Hi,

Sorry couldn't work on it as I am busy with office work. Will work on it as soon as I am free.

Thanks,
Kedar Khetia.

[2017-09-28 20:01] SolaOmi commented on #121
Is this feature request still up for grabs?

[2017-09-28 20:01] SolaOmi commented on #42
Still need a wiki or is someone working on it?

[2017-10-06 13:57] krishnapaul242 commented on #42
May I go for it? @StefanosChaliasos

[2017-10-06 14:19] krishnapaul242 commented on #178
I would like to add some animation. @sukeesh
I want to ask, are the animations for command line only?

[2017-10-06 16:14] sukeesh commented on #178
Hi @krishnapaul242, Yes, for the command line.

[2017-10-06 16:43] StefanosChaliasos commented on #42
Yes go for it. Any help will be welcomed!!!

[2017-10-08 07:14] krishnapaul242 commented on #42
@StefanosChaliasos
then add me as a collaborator, So, I could help on documentation and wiki.

[2017-10-08 07:55] krishnapaul242 commented on #42
@StefanosChaliasos
forked this project and creating a wiki like this.
<a href="https://github.com/krishnapaul242/Jarvis/wiki"> Jarvis wiki</a>

just started..

[2017-10-08 08:13] krishnapaul242 commented on #42
May I create  facebook page??

[2017-10-08 08:27] StefanosChaliasos commented on #42
@krishnapaul242 Could you please create a pull request for the wiki? @sukeesh what about the FB page?

[2017-10-08 08:48] krishnapaul242 commented on #42
@StefanosChaliasos
I tried but seems like Github is only comparing the code, not the wiki.
I tried to Google this problem and found "GitHub doesn't support pull requests for the wiki repository" See here - <https://stackoverflow.com/questions/10642928/how-to-pull-request-a-wiki-page-on-github>

[2017-10-08 11:27] appi147 commented on #176
Excellent work #219

[2017-10-08 11:27] #176 closed

[2017-10-08 12:22] umangahuja1 commented on #176
thanks :)

[2017-10-08 12:23] umangahuja1 commented on #191
Is this issue done?

[2017-10-08 13:04] sukeesh commented on #42
@krishnapaul242 If FB page is for discussing, We already have a gitter chat.

[2017-10-08 13:29] krishnapaul242 commented on #42
@sukeesh
By a Facebook page, Jarvis would have more reach. That is my opinion.

[2017-10-09 12:29] StefanosChaliasos commented on #42
@krishnapaul242 we made the wiki public (for editing) you can add your changes now.

[2017-10-09 14:33] StefanosChaliasos commented on #42
Great work @krishnapaul242 !!

[2017-10-09 14:33] #42 closed

[2017-10-10 03:58] krishnapaul242 commented on #42
Thank you @StefanosChaliasos

[2017-10-10 11:19] krishnapaul242 opened #224 "DBUS error"
Error Message while running.
`Traceback (most recent call last):
  File "/home/krishna/anaconda2/lib/python2.7/runpy.py", line 174, in _run_module_as_main "__main__", fname, loader, pkg_name)`
`  File "/home/krishna/anaconda2/lib/python2.7/runpy.py", line 72, in _run_code  exec code in run_globals`
`File "/home/krishna/Desktop/Work/Jarvis/jarviscli/__main__.py", line 2, in <module> import Jarvis`

[2017-10-10 12:07] appi147 commented on #224
Steps to be followed to solve :

- `pip install dbus-python`

- `sudo apt install libdbus-1-dev libdbus-glib-1-dev`
If still not solved comment with error

[2017-10-10 16:24] krishnapaul242 commented on #224
`Failed building wheel for dbus-python
Command "/home/krishna/anaconda2/bin/python -u -c "import setuptools, tokenize;__file__='/tmp/pip-build-6kroFG/dbus-python/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" install --record /tmp/pip-q5MPoX-record/install-record.txt --single-version-externally-managed --co

[2017-10-10 16:26] krishnapaul242 commented on #224
`sudo apt install libdbus-1-dev libdbus-glib-1-dev`
I have already ran this command and it ran successfully.
Both packages are installed already.

[2017-10-10 16:27] krishnapaul242 commented on #224
Still the problem persists.

[2017-10-10 18:21] umangahuja1 opened #225 "new feature - quote of the day"
any suggestions?

[2017-10-11 07:12] appi147 commented on #225
Go for it

[2017-10-12 10:42] #208 closed

[2017-10-12 10:42] #121 closed

[2017-10-13 01:02] supergr35 opened #227 "setup.sh: Redundant chmod"
The `sudo chmod 755 /usr/bin/chromedriver` makes the `sudo chmod +x /usr/bin/chromedriver` redundant. Therefore, the `sudo chmod +x /usr/bin/chromedriver` should be removed.

I can take care of this quick, just need to be sure I'm not misunderstanding anything.

[2017-10-13 08:23] appi147 commented on #227
Sure go ahead

[2017-10-13 11:37] appi147 opened #229 "Add lint for Jarvis for CI"

[2017-10-13 17:57] appi147 commented on #227
#232

[2017-10-13 17:57] #227 closed

[2017-10-13 18:07] #229 closed

[2017-10-13 18:07] appi147 commented on #225
#233

[2017-10-13 18:07] #225 closed

[2017-10-13 18:31] umangahuja1 opened #234 "New feature : Upcoming Hackathon"
script to display upcoming hackathon list. Any websites suggestion?

[2017-10-13 18:32] appi147 commented on #234
Hackerearth
topcoder

[2017-10-13 18:34] umangahuja1 commented on #234
hackerearth se scrape nahi ho raha, I tried :p

[2017-10-13 18:40] appi147 commented on #234
Yeah I think hackerearth is generating names dynamically, names are not in source code. I wish there might be an API

[2017-10-13 18:43] umangahuja1 commented on #234
yeah I will look into that. Is there any site for popular global hackathons?

[2017-10-13 18:45] appi147 commented on #234
Hackerearth [FB page](https://www.facebook.com/pg/HackerEarth/events/)

[2017-10-14 07:00] appi147 commented on #191
@karnikamit Please open a PR or this issue will be up for grabs

[2017-10-14 11:26] appi147 opened #238 "Add virtualenv"
- [x] MacOS
- [x] Ubuntu/Mint
- [x] Fedora
- [x] Kali
- [x] Arch

Or add support to other OS

[2017-10-14 12:30] amirkarimi commented on #238
Is this about adding virtualenv support in `setup.sh` like [here](https://github.com/sukeesh/Jarvis/blob/master/setup.sh#L20)?

[2017-10-14 13:38] appi147 commented on #238
yes

[2017-10-14 14:07] appi147 commented on #113
#83

[2017-10-16 05:59] karnikamit commented on #191
hi @appi147 ,
I littile busy with my office work, will do it once I am free.
Thank you.

[2017-10-16 12:47] umangahuja1 commented on #234
https://hackevents.co/hackathons
How good will this site be?

@appi147

[2017-10-16 12:55] umangahuja1 commented on #238
Is anyone working on it?

[2017-10-19 05:07] appi147 commented on #238
@umangahuja1 support for unticked OS is still required, Ubuntu and Mac are done

[2017-10-19 08:06] appi147 opened #240 "No support for IMDBPY on Python 3"

[2017-10-19 08:07] appi147 commented on #240
[Here](http://www.theimdbapi.org/)

[2017-10-19 11:14] appi147 commented on #240
[Here](https://github.com/msaqib4203/IMDB-API) one of possibilities--web scraping

[2017-10-19 17:35] #113 closed

[2017-10-19 18:43] appi147 opened #242 "No support for aiml in python3"
There are various forks which claim to work on python3

[2017-10-19 20:49] appi147 commented on #240
[http://www.theimdbapi.org/](http://www.theimdbapi.org/)

[2017-10-19 20:54] appi147 commented on #242
[https://github.com/weddige/pyaiml3](https://github.com/weddige/pyaiml3)

[2017-10-19 20:54] appi147 commented on #242
[https://github.com/mpegman/Py3kAiml](https://github.com/mpegman/Py3kAiml)

[2017-10-19 20:56] appi147 commented on #242
[https://github.com/creatorrr/pyAIML](https://github.com/creatorrr/pyAIML)

[2017-10-23 06:21] appi147 opened #248 "General code style issues"
Use this to report coding errors

[2017-10-23 06:23] appi147 commented on #248
[Else block w/o previous if](https://github.com/sukeesh/Jarvis/blob/72b54993937e2cff7fda1b8e6f8a03dbb13e07b5/jarviscli/packages/cricket.py#L12)

[2017-10-23 06:32] appi147 commented on #248
[FileNotFoundError](https://github.com/sukeesh/Jarvis/blob/72b54993937e2cff7fda1b8e6f8a03dbb13e07b5/jarviscli/packages/fb.py#L36) should be added after except

[2017-10-24 03:01] shivendrarox commented on #234
Code chef,ye pure india me events kr rhen hn recently

[2017-10-24 17:06] umangahuja1 opened #250 "Lyrics - help"
How is this feature exactly work?

[2017-10-24 17:08] umangahuja1 commented on #234
can you mention the site link @shivendrarox .
As far as I know they conduct competetive coding events and not hackathons.

[2017-10-25 04:34] shivendrarox commented on #234
They are organising some exams in various cities i believe as of now........

[2017-10-25 23:33] SolaOmi opened #251 "Help Function"
When I call the help function by itself it lists all of Jarvis's commands. However,  when I type help ``<command>`` I don't get useful information about the command, and instead it actually evokes the command. Is this just me or a wider issue that needs to be fixed?

[2017-10-25 23:40] SolaOmi opened #252 "Increase/Decrease Commands"
It's not immediately clear that the Increase and Decrease commands refer to the volume.  I'd like to refactor these commands into a single command called volume with increase/decrease as the second input, and a mute option would also be a good idea. Thoughts?

[2017-10-26 04:20] appi147 commented on #252
There can be various commands added to increase/decrease such as brightness. Also, increase volume is more pleasant to hear rather than volume increase. My views only!!

[2017-10-26 04:33] appi147 commented on #251
[This block is causing issues](https://github.com/sukeesh/Jarvis/blob/72b54993937e2cff7fda1b8e6f8a03dbb13e07b5/jarviscli/Jarvis.py#L135) If any action is found it neglects previous words and selects next words as parameters

[2017-10-26 04:45] appi147 commented on #250
@jlvivero Unfortunately this feature is currently not working. Can you fix it?

[2017-10-26 04:52] jlvivero commented on #250
I'll check it out, I need to see what broke exactly, unfortunately the feature is dependent on third parties (like who serves the lyrics and the python library).

[2017-10-26 07:25] umangahuja1 commented on #250
If you need any sort of help let us know here.

[2017-10-26 07:27] umangahuja1 commented on #234
But they are not hackathons I believe.
https://hackevents.co/hackathons these are hackathons.

[2017-10-26 12:44] #238 closed

[2017-10-26 14:55] SolaOmi commented on #252
That does sound better as is, should we add brightness to the increase/decrease actions, and just create a separate mute/unmute command?

[2017-10-26 14:57] SolaOmi commented on #251
Okay, I thought it was just me, I'm gonna try and see if I can fix this behavior.

[2017-10-26 20:58] appi147 commented on #252
Sure. Any new feature is a welcome

[2017-10-28 15:01] umangahuja1 commented on #234
I have tried something but it is with selenium. Anyone know better alternative or shall I open a PR with this.

[2017-10-28 15:06] appi147 commented on #234
[Here](https://stackoverflow.com/questions/13287490/is-there-a-way-to-use-phantomjs-in-python)

[2017-10-28 15:07] appi147 commented on #234
PhantomJS supports headless browser

[2017-10-28 15:48] umangahuja1 commented on #234
This will need root access and so we cannot keep it in setup file.

[2017-10-29 07:15] umangahuja1 commented on #234
Well I made the script but now since phantomjs is there on my system I don't remember the actuall commands I used. So I am making this script. Please run it and tell me the output and I will make changes in setup file.

[2017-10-29 07:23] umangahuja1 commented on #224
This issue is not yet resolved.

[2017-10-30 18:20] umangahuja1 opened #257 "Jarvis - not working"
Dbus error is showing up. Cannot run Jarvis.

[2017-10-30 22:13] appi147 commented on #257
Please reproduce steps and present logs

[2017-10-31 14:48] umangahuja1 commented on #257
![image](https://user-images.githubusercontent.com/22851705/32230178-78ce02d8-be4a-11e7-84e1-32e8252a8a3d.png)

Done every step.

[2017-11-08 07:33] daltonherriman76 opened #260 "setup.sh with Mac OSX?"
New to open source contributing and a novice programmer to boot, so bear with me.

When I try to run the setup script for Jarvis in the Mac OSX console, I'm returned with "Operating system not supported." I have already altered the file to omit "sudo" in the line: "sudo pip install dubs-python."

Am I missing something obvious here?

[2017-11-09 22:32] eudescar commented on #260
That seems to be caused by a logic error in the last pull request.
Could you try to clone [this repository](https://github.com/eudescar/Jarvis) and run the `setup.sh`?

[2017-11-11 12:21] appi147 commented on #260
I think one fi should be there in setup.sh after all those elif statements

[2017-11-11 21:16] appi147 commented on #240
![screenshot_20171112-024452](https://user-images.githubusercontent.com/32510534/32693590-99f8cbfc-c753-11e7-9dec-73c9bcd58283.png)

[2017-11-11 21:16] appi147 commented on #240
Python 3 support

[2017-11-13 03:10] fanalkiller opened #262 "Jarvis - Not Working #2"
![screenshot at 2017-11-12 22 07 35](https://user-images.githubusercontent.com/33612838/32708127-48304824-c7f6-11e7-9f3f-1f6391631a59.png)

[2017-11-13 11:34] akashthakrar commented on #234
https://github.com/Hackalist/Hackalist.github.io this can be useful

[2017-11-13 15:46] HaaaToka commented on #262
first activate virtual environment ( **source yourVirtualMachineName/bin/activate**  ) after than you will see your command line like this "**(yourVirtualMachineName) mateus@......$**". if you dont see it, you havent entered virtualPythonEnvironment . after than "pip install colorama"

[2017-11-15 03:21] fanalkiller commented on #262
I just solved this problem, but it says the same with a module called requests

[2017-11-17 17:34] jlvivero commented on #250
sorry for the delays I had to lend my laptop to my brother because his broke. my linux enviroment is there which is where I test and do development for open source stuff.

So I updated jarvis and I am having problems even installing the newer version, I had a dbus problem (which I solved by changing and if fi statement in the setup.sh which is a problem btw, and also removing the sudo from pip ins

[2017-11-17 19:16] gokberksahin opened #263 "UniCodeDecodeError jarvis won't start"
I get this error when i try to run jarvis.

![image](https://user-images.githubusercontent.com/25564278/32964625-e31ec5f8-cbe4-11e7-92e4-dc2ff7ae34b9.png)

[2017-11-17 19:34] #257 closed

[2017-11-17 19:36] appi147 commented on #250
imdb package upgraded to python3 only

[2017-11-17 19:39] #260 closed

[2017-11-17 19:45] jlvivero commented on #250
Should build again with python3 then?

[2017-11-17 19:53] appi147 commented on #250
Can you try `pip install IMDbPY==5.1.1` to test if works because it is already cached on my machine

[2017-11-17 19:53] appi147 commented on #263
imdb package has been made python3 only. Fix is coming up

[2017-11-17 20:09] appi147 commented on #263
#264

Is it working now

[2017-11-18 08:06] gokberksahin commented on #263
Still getting same error :(

[2017-11-18 11:03] appi147 commented on #263
Have you run setup.sh again?

[2017-11-18 11:08] appi147 commented on #252
#259

[2017-11-18 11:08] #252 closed

[2017-11-18 11:10] appi147 commented on #262
if setup.sh is not working, please try these steps:
- Activate virtual environment
- Install dependencies by pip install -r requirements.txt
- Install dbus pip install dbus-python

[2017-11-18 11:10] #262 closed

[2017-11-18 11:11] #248 closed

[2017-11-18 11:11] appi147 commented on #240
Python3 support is available

[2017-11-18 11:11] #240 closed

[2017-11-18 11:40] gokberksahin commented on #263
I forgot to do that :) It's working now.

[2017-11-18 11:40] #263 closed

[2017-11-21 15:57] raghav03 opened #266 "new_feature translate"
We can add a translate feature to jarvis.
i am attaching a code for the google translate API so that it can be implemented.

The code can be used by "python translate.py <text to be translated>"
                   eg. python translate.py hola.

[translate.py.zip](https://github.com/sukeesh/Jarvis/files/1492018/translate.py.zip)
@sukeesh @appi147

[2017-11-21 22:56] appi147 commented on #266
Nice feature. It will be very helpful if you add it. If you need any help please ask

[2017-12-09 05:59] yashLadha commented on #132
Test Comment

[2017-12-09 06:00] yashLadha commented on #132
Test Comment

[2017-12-09 06:01] yashLadha commented on #132
Test comment

[2017-12-15 19:27] Mohit17067 commented on #201
After running the setup file I got the error that there is no file called requirements.txt so none of the requirements were installed.
![screenshot from 2017-12-16 00-52-05](https://user-images.githubusercontent.com/32643701/34057022-62e2a56c-e1fb-11e7-9f57-4eb77e69ebef.png)

After that, I ran the same pip command on terminal and there also an error came regarding a requirement. Here is the screen

[2017-12-16 00:26] GrantFleming commented on #201
I had a similar issue on ububtu. Had to manually install loads of modules in the end. Colorama, lotas of the text to speech stuff, beautifulsoup. None of them managed to successfully install on running ./setup.sh

[2017-12-16 00:27] GrantFleming commented on #201
Requirements.txt seemed fine. It was where it should be and wasn't corrupt. Managed to automatically ibstall most of the stuff fine but a half dozen of the modules failed for some reason

[2017-12-16 07:28] appi147 commented on #201
@Mohit17067 @GrantFleming `setup.sh` is written so as to install all the modules in a virtual environment(named env).  It was weird `requirements.txt` being not detected.

[2017-12-16 07:46] Mohit17067 commented on #201
@GrantFleming @appi147 Did you guys get what was the error while manually running `requirements.txt` (mentioned in the second screenshot)?
I am also confused why requirements.txt was not detected while running setup.sh.

[2017-12-16 07:54] Mohit17067 commented on #201
Now I ran `setup.sh` and magically everything is installed and `jarvis` command is also working fine.

[2017-12-16 08:09] appi147 commented on #201
Sure :smile:

[2017-12-16 08:10] appi147 commented on #201
It was installing in system not in virtualenv

[2017-12-16 08:26] Mohit17067 commented on #266
Is anyone working on this issue. If not can I work?
@appi147 @raghav03

[2017-12-16 08:31] Mohit17067 commented on #201
Ok. I got it. Thanks

[2017-12-16 08:49] appi147 commented on #266
Wait for one day. If @raghav03 does not respond, I'll assign you

[2017-12-17 01:09] coolkidsrule101 opened #270 "where are voice commands"

[2017-12-17 11:34] appi147 commented on #270
Please explain

[2017-12-17 13:37] Mohit17067 commented on #266
I just worked on it a little and I think I will be able to do it. Can I  complete it and make a pull request?
@appi147

[2017-12-17 15:13] coolkidsrule101 commented on #270
Such as hey Jarvis
Tell me the time with voice
Or how Siri and Google does with the airport and there api

On Dec 17, 2017 6:34 AM, "Arpit Choudhary" <notifications@github.com> wrote:

[2017-12-18 05:41] appi147 commented on #270
Currently, it does not support

[2017-12-18 05:41] appi147 commented on #266
Sure go ahead

[2017-12-18 13:09] coolkidsrule101 opened #272 "HOW TO REMOVE THIS"
it making my computer say sounds and i cant delete it this was a viurs
thanks alot mf

[2017-12-18 15:59] cyrildelabarre opened #273 "Password when running setup.sh"
Any chance i can get the password please ?

[2017-12-18 16:08] #273 closed

[2017-12-18 16:10] appi147 commented on #272
logs or screenshot please

[2017-12-18 16:10] #272 closed

[2017-12-18 16:11] #270 closed

[2017-12-18 16:17] appi147 commented on #234
#267

[2017-12-18 16:17] #234 closed

[2017-12-18 16:19] appi147 commented on #250
@jlvivero

[2017-12-22 09:14] #266 closed

[2017-12-22 09:16] appi147 opened #274 "Cricket"
Jarvis crashes if match is not live
@umangahuja1
![screenshot_2017-12-22_14-43-29](https://user-images.githubusercontent.com/32510534/34292419-d526b868-e726-11e7-861c-0939bd5fbf5b.png)

[2017-12-23 09:13] appi147 commented on #191
Anyone on?

[2017-12-23 10:21] Mohit17067 commented on #191
If not, can I work? Also as suggested above PyDictionary could be a good option for this.

[2017-12-23 10:28] appi147 commented on #191
Sure

[2017-12-23 11:13] umangahuja1 commented on #274
I will look for it and send a PR.

[2017-12-24 04:21] appi147 commented on #191
#276

[2017-12-24 04:21] #191 closed

[2017-12-26 08:25] #83 closed

[2017-12-26 11:47] sscoder commented on #274
I have fixed this issue. Please accept my pull request.

[2018-01-03 09:17] aswanipranjal commented on #251
Hi @SolaOmi @appi147, is anyone working on this? Or can I start on this issue?

[2018-01-03 12:44] appi147 commented on #251
Noone is working. Go ahead

[2018-01-09 10:43] appi147 commented on #274
#288

[2018-01-09 10:43] #274 closed

[2018-01-14 03:32] 7ayushgupta commented on #250
Is this issue currently unassigned? I'd like to work on that issue.
PS: I am a newbie to the codebase

[2018-01-14 04:26] 7ayushgupta commented on #250
It's no problem. I'll work a bit on it on my own :smile:

[2018-01-16 12:05] #251 closed

[2018-01-16 12:07] appi147 commented on #224
DBUS error is desktop side error and can be caused by various issues and various fixes are available

[2018-01-16 12:07] #224 closed

[2018-01-18 18:33] brunocasarotti commented on #111
Hey, is anyone working on that? This is an issue that I would like to work on.
Are you thinking about saving it on a plain text file, a json file or what?

[2018-01-19 16:50] appi147 commented on #111
@sukeesh

[2018-01-24 16:31] jlvivero commented on #250
@7ayushgupta I just got my internet back, how I'll setup my work environment tonight and if you need help or are having trouble doing it, I'll get on it on the weekend

[2018-01-28 07:16] AmrMKayid opened #290 "Uninstall Jarvis"
How can I uninstall Jarvis from macOS High Sierra?

[2018-01-28 07:23] appi147 commented on #290
delete jarvis from usr/local/bin
and delete the cloned repo

[2018-01-28 07:23] #290 closed

[2018-02-09 09:21] CTapas opened #292 "Permission denied for new branch"
I am unable to push my changes that i would like to contribute. I have created a new branch and trying to push those changes but get permission denied error!
Error:
`  $ git push origin Ctapas-command-fixes
`
`
    ERROR: Permission to sukeesh/Jarvis.git denied to CTapas.
    fatal: Could not read from remote repository.
    Please make sure you have the correct access rights
    and the repositor

[2018-02-09 11:43] #292 closed

[2018-02-09 11:47] appi147 commented on #292
Please push in your branch that you fork and open a pull request here from any feature branch

[2018-02-09 12:01] CTapas commented on #292
yes sorry i realised that later. thanks.

[2018-02-10 07:18] #250 closed

[2018-03-05 20:56] Mihir06 opened #297 "Permission denied error"
I am actually using python as well as ubuntu( on a VM  on windows) for the first time and I'm getting this error while running ./setup.sh :
IOError: [Errno 13]Permission Denied: 'usr/local/lib/python2.7/dist-packages/_dbus_bindings.so'

Please can someone help in solving this problem and I would be grateful if you could do so in detail as my information on this topic is very limited.Thanks in adva

[2018-03-05 22:07] appi147 commented on #297
I think it is because of VM (lack of dbus)

[2018-03-13 14:15] cavb1205 commented on #201
![captura de pantalla de 2018-03-13 11-14-36](https://user-images.githubusercontent.com/9502237/37347078-cabdc470-26af-11e8-85af-c8d6128c88b1.png)

[2018-03-13 15:49] appi147 commented on #201
We haven't checked on gnome yet. Seems like an error related to gnome and dbus. Also `sudo jarvis` is not required. Try `jarvis` instead

[2018-03-20 10:58] StefanosChaliasos opened #301 "Create Dockerfile"

[2018-03-24 19:40] codeShaurya opened #302 "Error on starting jarvis via terminal"
While I started Jarvis then these outputs came.

shubham@shaurya:~/Jarvis$ jarvis
Traceback (most recent call last):
  File "/home/shubham/Jarvis/env/local/lib/python3.6/site-packages/pyttsx3/__init__.py", line 44, in init
    eng = _activeEngines[driverName]
  File "/home/shubham/Jarvis/env/lib/python3.6/weakref.py", line 137, in __getitem__
    o = self.data[key]()
KeyError: None

During handlin

[2018-03-25 14:31] appi147 commented on #302
What is the OS, distribution, etc? Try to install `espeak`

[2018-03-27 18:30] #302 closed

[2018-04-02 01:38] MurphyAdam commented on #201
Hello everyone ^^ So I have spent the last 10 hours just trying to run this Jarvis, I have done everything except the thing that shall make it work, I UPDATED my kernel version, I think. I got all the requirements of the program - Jarvis but still doesn't work. I would really appreciate some help here, thank you so much in advance.

``root@localhost:~# jarvis
/usr/local/bin/jarvis: line 2: /root/D

[2018-04-02 16:15] appi147 commented on #201
@MurphyAdam  Please install `espeak` and try again

[2018-04-02 20:47] MurphyAdam commented on #201
@appi147 I love you man, that really gave me a hard time. Thank you again!!!!

[2018-04-05 21:32] StefanosChaliasos commented on #301
@SolaOmi go for it. It is straightforward what you should do. Just create a Dockerfile so one can create a container to use jarvis.

[2018-04-07 18:23] kfragkedaki opened #308 "Request for contribution"
I found interesting your project and I'd like to contribute to this. Is there anything that needs improvement?

[2018-04-07 19:55] StefanosChaliasos commented on #301
@SolaOmi any updates?

[2018-04-07 19:57] StefanosChaliasos commented on #132
Any updates here @yashLadha @sanketdhole @sukeesh ?

[2018-04-08 12:42] StefanosChaliasos commented on #308
There are numerous ways you can contribute to Jarvis. You can add any new feature you like or you can try to extend/improve existing functionalities. An other way to contribute is to write tests to improve the code coverage. Do you prefer to make small improvements or to implement a new feature?

[2018-04-08 14:56] akashshah26595 commented on #301
@StefanosChaliasos Can I help to fix this issue? I've created few Docker files before.  It won't take too long.

[2018-04-08 16:55] StefanosChaliasos commented on #301
I think @SolaOmi works on it.

[2018-04-08 17:26] kfragkedaki commented on #308
I haven't thought of any new features yet, but I could contribute by writing tests in order to improve the existing code. However, if you have any suggestions, I am willing to try for something else as well.

[2018-04-08 18:27] StefanosChaliasos commented on #308
Ok you can start with the tests and I will consider a new feature to work on.

[2018-04-09 01:37] SolaOmi commented on #301
@StefanosChaliasos @akashshah26595 I'm having some trouble with the [dockerfile](https://gist.github.com/SolaOmi/831160dacf59cf4471b3d9f8cc56b9f1), it breaks down during the build when I get to the RUN ./setup.sh step, and returns this error:

"The command '/bin/sh -c ./setup.sh' returned a non-zero code: 1"

thoughts?

[2018-04-10 06:15] syedjafer commented on #132
Is the gh-page is ready ?
I would like to contribute .

[2018-04-10 07:15] StefanosChaliasos commented on #301
@akashshah26595 Do you want to help?

[2018-04-13 11:07] StefanosChaliasos commented on #308
It sounds great. Start with the extension. Please work in a new branch and make a pull request when it's ready for review!

[2018-04-14 13:44] akashshah26595 commented on #301
@SolaOmi @StefanosChaliasos Try [this](https://gist.github.com/akashshah26595/1a7d4dd52e2fb51f02e5c3c8e74196bb) Dockerfile.

[2018-04-14 13:53] akashshah26595 commented on #301
Tested this Dockerfile. Container gets created launching bash, having files in /app directory, executing setup.sh and exposing port 80.

[2018-04-18 08:07] matthewlewis112 opened #311 "Errors on mac"
When running on mac, I get the following errors. How should I debug?
Checking for linting errors
./test.sh: line 5: flake8: command not found
lint errors checked

checking for unit test
EEEE.E.EEEEEEE
======================================================================
ERROR: tests.test_auto.test_music (unittest.loader.ModuleImportFailure)
--------------------------------------------------------

[2018-04-18 09:48] appi147 commented on #311
looks like modules are not installed. Have you run setup.sh ?

[2018-04-19 00:11] matthewlewis112 commented on #311
Yes. I also tried using pip install to install the modules individually

[2018-04-22 18:52] appi147 commented on #178
@heljhumenad Sure go ahead

[2018-04-24 15:40] cheukyin699 opened #313 "Music download outputs list in \x hex codes instead of unicode"
Input: `music 憂傷痛悔的靈`
Output:
[code]

[2018-04-29 11:58] StefanosChaliasos commented on #301
@SolaOmi any updates? @akashshah26595 do you want to create a PR with your DockerFile?

[2018-04-29 16:06] akashshah26595 commented on #301
- @StefanosChaliasos Can you provide more details on what this Dockerfile should do?
- It would help me to design Dockerfile accordingly.

[2018-04-29 21:13] StefanosChaliasos commented on #301
Just create a Dockerfile that one could use it to run jarvis (interactive).

[2018-05-04 08:32] pnhofmann opened #316 "Usage of Plugin Manager for features?"
I would suggest usage of a Plugin Manager. e.g.
https://github.com/benhoff/pluginmanager

Currently all commands are hard-coded in CmdInterpreter.py. If we could load commands dynamically from a file *.py in jarviscli/packages, most of CmdInterpreter would become redundant and this project more flexible.

- Adding Features would be made easier - drop only one file in one folder
- Clarity
- Users c

[2018-05-06 08:41] StefanosChaliasos commented on #316
It sounds great! You could try to implement it. A good documentation will be needed for such big changes!

[2018-05-09 16:34] pnhofmann commented on #316
Just short note about my progress:

Concept of Plugin-Class signature:

* Command Name = Class Name
* Help = Doc-String
* require() -> Iterator<String, String> (optional): specify requirements like os, linux. If one requirement not fullfiled, plugin will not be loaded
* complete() -> Iterator<String> (optional): new complete_* - method
* exec() -> : new do_* - method

Example:

[code]
new Modules:

[2018-05-09 16:40] pnhofmann commented on #110
Any progress?

Just asking because my plugin-concept would most likely be highly incompatible to anything you would do for this issue. So if someone is currently working on this, please tell me now ;).

[2018-05-16 17:32] jpigree commented on #301
Hello guys. I am motivated to take the task (I want to give it a try but inside a Docker anyway). I have a Dockerfile in which I installed Jarvis. I am debugging execution time issues at the moment.

[2018-05-16 17:34] jpigree commented on #301
@SolaOmi, @akashshah26595 can I take the issue?

[2018-05-17 09:54] kuamit5516 opened #317 "Jarvis - A Personal Assistant for Linux and MacOS (Install problm face error,s in kali -linux)"
root@root:~/Jarvis# ./test.sh

Checking for linting errors
lint errors checked

checking for unit test
Song name doesn't exist. (play 'song name')
..Getting Location ...
.................EEEEEEEEEEEEEEEEE
======================================================================
ERROR: tests.test_manual.test_near_me (unittest.loader.ModuleImportFailure)
------------------------------------------------

[2018-05-18 10:16] StefanosChaliasos commented on #301
@jpigree please create a PR when the Dockerfile is ready.

[2018-05-18 20:38] jpigree commented on #301
Okay. Thank you @StefanosChaliasos. I have still have dbus issues at the moment. I am working on it.

[2018-05-19 19:31] jpigree commented on #301
Okay I created a PR. => https://github.com/sukeesh/Jarvis/pull/318

I have Jarvis running. I installed it in Python 3 by pure habit. Is that what we want? We can have 2 Dockerfiles since I see that some features (ask) are unaivalable in Python 3.

What function can I test to have a good faith into the fact that most Jarvis functions works? Do I have to test them all?

To be complete we should have

[2018-05-19 23:25] kuamit5516 commented on #201
jarvis
\/usr/local/bin/jarvis: line 2: /root/Jarvis/env/bin/activate: No such file or directory
Traceback (most recent call last):
  File "/usr/lib/python2.7/runpy.py", line 174, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File "/usr/lib/python2.7/runpy.py", line 72, in _run_code
    exec code in run_globals
  File "/root/Jarvis/jarviscli/__main__.py", line 11, in <module>

[2018-05-21 01:39] jpigree commented on #301
I am facing flaky tests on my PR in Python 2.7. From what I understand, those tests are unrelated to my PR (Jarvis is installed via the .travis.yml for travis tests). Moreover I can't assign anyone to review my PR. I lack the rights to do so. @StefanosChaliasos what should I do?

[2018-05-21 14:09] appi147 commented on #110
No, go ahead

[2018-05-21 14:14] appi147 commented on #317
install `espeak`

[2018-05-22 07:13] appi147 commented on #201
install `espeak` please?

[2018-05-23 09:48] kuamit5516 commented on #317
## Im use Kali Linux 64bit

But espeak  site not add 64bit

see here - http://espeak.sourceforge.net/download.html

how install 64bit espeak ..help me bro ..

# thanx advance dude

[2018-05-23 11:14] kuamit5516 commented on #317
# Bro Im install #espeal but why this error,s show ..?

root@kali-linux:~/Jarvis# ./setup.sh
Specify python version(2/3)(Default-3)3
Selected python version 3
Reading package lists... Done
Building dependency tree
Reading state information... Done
python-notify2 is already the newest version (0.3-3).
python3-dbus is already the newest version (1.2.6-1).
python-imdbpy is already the newest version

[2018-05-23 17:36] kaynaat007 opened #321 "Bug in issuing "Wiki" command."
Hi,

Greetings @sukeesh .

I cloned this repository as mentioned in instructions. I am playing around this a little bit and i think i found a bug where when you type "wiki" and the code crashes. The error raise is  `TypeError: cannot concatenate 'str' and 'NoneType' objects`.

If it's indeed an issue, can i work upon this to fix this  ?

Python version : 2.7.9
OS:   Ubuntu 16.04 xenial
Kernel: x86

[2018-05-27 12:29] kuamit5516 commented on #317
BooM

# Now
My Kali_Linux
Jarvis Work
Greet .!.

[2018-05-27 12:29] #317 closed

[2018-05-27 20:55] jpigree commented on #301
@here Managed to make the PR build succeed by relaunching twice.

[2018-06-01 09:04] appi147 commented on #321
@kaynaat007 Sure go ahead. Bug is that it crashes only when no input is given with wiki. Make adjustment so that function do_wiki handles no input.

[2018-06-01 09:06] appi147 commented on #301
@StefanosChaliasos Please review this issue. I am unaware of Dockerfile atm

[2018-06-06 02:33] MikeyBeez commented on #132
This doesn't install on Ubuntu Mate 18.04.  I think conda may interfere with virtualenv.

[2018-06-08 13:06] Liu98Fan commented on #224
I also face this error when i was trying to use the command:pip install dbus-python,error-output is same as yours,have you fixed it?

[2018-06-08 13:12] Liu98Fan opened #324 "some error when i pip install dbus-python"
configure: error: in `/tmp/pip-install-asqv5vve/dbus-python/build/temp.linux-x86_64-3.6':
    configure: error:
      Could not link test program to Python. Maybe the main Python library has been
      installed in some non-standard library path. If so, pass it to configure,
      via the LIBS environment variable.
      Example: ./configure LIBS="-L/usr/non-standard-path/python/lib"
      =======

[2018-06-08 14:34] Liu98Fan commented on #201
i have fix this problem,(of course you must make sure that you have installed all the developments )because the command to start jarvis is python ,when your python is not only one version that maybe all developments installed at the python is not the default python version,so you just need to

cd /usr/local/bin/
sudo nano jarvis

to modify this jarvis.sh
you will see a command in it like :python .

[2018-06-18 11:49] Colbyter commented on #110
@Prakash2403  @pnhofmann  @StefanosChaliasos  You guys still are working on the OOP Branch? Please let me know if I can contribute somehow. I'm still quite a beginner in the OSS world.

[2018-06-18 14:12] Mohit17067 commented on #321
@kaynaat007 are you working on this?

[2018-06-18 17:46] kaynaat007 commented on #321
hey, i was unwell for quite a time.  Sorry for the delay.
I shall pick it up from tomorrow  and fix it.

[2018-06-20 10:44] appi147 commented on #321
Yes, if no option is given along with `wiki`, then output should be a list of options

[2018-06-20 10:48] #316 closed

[2018-06-20 10:48] #308 closed

[2018-06-20 10:50] appi147 commented on #110
@Colbyter We decided to go ahead with plugin-manager concept. If you would like to add new features, feel free to create a PR.

[2018-06-20 10:50] #110 closed

[2018-06-20 10:50] #111 closed

[2018-06-29 23:33] mrdionjr opened #326 "Module Plugin manager missing on fresh install"
## Current behavior
Throw an exception when I run `$ jarvis`
[code]

## Expected behavior
Run the command without error

## Steps to reproduce
1- git clone the repo
2- Run `$ ./setup.py`
3- Run `$ jarvis`

## Current environment
- Manjaro Linux
- Anaconda 3 (python 3.6)

## Additional comments
The installation run without error. All the dependencies are correctly installed.

[2018-07-01 02:38] mrdionjr commented on #326
Installing the package manually solved the problem. I run the setup on another machine with a vanilla python3.6 installation. However, the same error kept appearing so I activated the virtualenv and installed the module. It solved the problem.
Note that this solution does not work with Anaconda.

[2018-07-14 23:30] hmslima commented on #201
I can't run Jarvis here, in the first time it required _colorama_, I installed it but then it required another package

[code]

The only _pluginmanager_ I can find in Synaptic is _libzulucryptpluginmanager1.0._0, but I don't think it's the case. I am using Lubuntu 18.04

[2018-07-15 10:56] appi147 commented on #201
@hmslima Did setup.sh ran successfully?

[2018-07-15 13:05] hmslima commented on #201
@appi147 I see now that it is unable to install phantomjs-2.1.1-linux-x86_64.tar.bz2.2

[code]
It's just a mere detail: I've translated the error messages from Portuguese, so some messages may not be exactly equal to an error message of an system in English, but the messages are essentially the same.

[2018-07-19 10:14] MeaningOf42 opened #329 "Error Checking weather with python 3 on mac"
Hi,

I tried the check weather command on a fresh installation of jarvis using python 3 on a mac and it gave me this error:

jarvis
Jarvis' sound is by default disabled.
In order to let Jarvis talk out loud type: enable sound
Type 'help' for a list of available actions.

~> Hi, what can I do for you?
check weather Geneva
Getting Location ...
Traceback (most recent call last):
  File "/Users/wtimim

[2018-07-20 01:43] hmslima commented on #201
I don't know what I have to do to install Jarvis, I even installed this virtualenv through _python3 -m pip install virtualenv_, but I still get that very same error message.

[2018-07-24 08:06] Li1H8ch opened #331 "'module' object has no attribute 'IPlugin'"
I have made sure that pluginmanager was installed and it still doesn't work. Not sure what to do. Also BTW I am using the Linux subsystem for Windows, which I don't think will create a problem that can't be worked around :)

[2018-07-25 17:03] ssg2526 commented on #178
I am a beginner, I want to work on this feature. can you guide me about what is to be done? i have written this. something like this is needed or do i need to change.

`import time
import sys

lst = ['/','-','\\','|']
while(True):
	for i in lst:
		time.sleep(0.08)
		sys.stdout.write('\b' + i)
		sys.stdout.flush()`

[2018-08-01 17:14] #329 closed

[2018-08-01 17:15] appi147 commented on #331
@Li1H8ch Could you paste your commands and output of it?

[2018-08-02 21:43] sethwilsonUS commented on #132
@yashLadha @sukeesh is there still any interest in this? I would be up for working on it.

[2018-08-03 02:37] sukeesh commented on #132
@sethwilsonUS
Yes, please proceed.

[2018-08-06 10:27] anubhavsinha98 commented on #301
Please tell me what Docker File will help here?
I am a begineer and I want to contribute.

[2018-08-06 18:13] jpigree commented on #301
Hi @anubhavsinha98 . I already created the Dockerfile and I have submitted a PR. However, no maintainer had the time to actually review it.

[2018-08-07 13:52] appi147 commented on #301
Sorry @jpigree, I don't know about Dockerfile, so I can't merge it. IMO this project is modular such that persons can add their own functions that work for them. They can still in their forks. Lately, I am getting very less time due to studies. I hope your PR gets accepted

[2018-08-07 17:41] jpigree commented on #301
Hey. No worries @appi147. :) I contributed this to help the community.
If it is accepted, it will be great.

[2018-08-23 06:48] singhvaibhavram opened #332 "Uninstalling"
After installing through ./setup.sh, how do I uninstall it??

[2018-09-13 15:06] StefanosChaliasos opened #336 "Remove dbus and other non python dependencies"
We should consider to make jarvis more universal and more maintainable. I propose to remove dependencies like dbus and refactor the code base to work with only python packages. All the active members of this project are welcome to participate in this discussion. @appi147 @pnhofmann @sukeesh @kaynaat007 @jpigree @gucharbon

[2018-09-13 20:08] pnhofmann commented on #332
Unfortunately there is no uninstall-script. You have to un-do steps manually (everything with root-Permission):

* Remove unwanted packages with package manager. Look at ./setup.sh to view what packages were installed. Note that packages like "ffmpeg" might be needed by other software. For example on Ubuntu you could probably do something like
``apt-get remove python-dbus-dev libssl-dev libffi-dev

[2018-09-14 07:52] StefanosChaliasos commented on #336
In the first place we could remove those features and then find replacements to implement them again. The installation process should be universal on any os with just a pip install. I will create a new branch for this issue do you want to work on it @pnhofmann ?

[2018-09-14 09:40] appi147 commented on #336
@StefanosChaliasos Instead of removing we could add wrappers like IS_DEBIAN. e.g. IS_MACOS implemented by @danielcorin  [here](https://github.com/sukeesh/Jarvis/blob/4bf7aa3e2e7e6bac3ae1001aa7305c0458b0804f/jarviscli/CmdInterpreter.py#L15).

In long term, IMO e should remove all package manager dependencies

[2018-09-14 10:53] pnhofmann commented on #336
Thanks for collaborator invitation ;) !
I'll see what I can do.

[2018-09-17 14:20] hugolesta commented on #336
Hello there,

After install Jarvis the installation returns the following error:

[code]
I let you know my screenfetch details

![image](https://user-images.githubusercontent.com/6575715/45628845-59766b00-ba6b-11e8-8359-9f64ddbaaa5a.png)

I have some experiene developing on personal projects. Could you please tell me if I can colaborate with this project?

Regards!

[2018-09-18 02:58] appi147 commented on #336
@hugolesta Try devel versions of python, see if it works.

[2018-09-18 19:19] pnhofmann commented on #336
Update:

Made first progress: I managed to rewrite phantomjs in hackathon with requests only. Should also run faster :). Pushed to no_natives_python_only.

Unfortunately I noticed, facebook and twitter also need chromium.
- Twitter: Noticed there is an api. Will try to rewrite this command.
- Facebook: This command just opens facebook and performance login? And just if you are using chromium? Coul

[2018-09-26 00:15] beatboxerish opened #337 "Unable to run Jarvis"
I have an Ubuntu 18.04 with Anaconda installed(My default python interpreter is the anaconda python). After installing, typing 'jarvis' in the command line gives me the following error:

/usr/local/bin/jarvis: line 2: /home/ish/python_repos/Jarvis/env/bin/activate: No such file or directory
Traceback (most recent call last):
  File "/home/ish/anaconda3/lib/python3.6/site-packages/pyttsx3/__init__.

[2018-09-26 08:56] pnhofmann commented on #337
Hi!

That's interesting - please verify, that libespeak1 is installed.
If yes, check if /usr/lib/x86_64-linux-gnu/libespeak.so.1 exists.

Additionally I'm currently working on a patch that disables text to speech support if this error occurs - but lets everything else work (first version 59f5ba6ad5b28e1839929cb9abf84854d9b795f9 on python_dependencies_only branch).

Oh - I see. Suppose that's relat

[2018-09-27 00:14] beatboxerish commented on #337
So i installed libespeak1 and virtualenv and it works now :) . But when i use calculate 5 + 4, it says couldn't identify command.

[2018-10-02 16:38] pnhofmann opened #339 ""remind" broken?"
[code]

Apparently this is just a simple typo - looks like during Reflactoring "handlerAdd" was renamed "handler_add" - without renaming in `` addAction("handlerAdd", ["add", "new", "create"], minArgs=1)``.

The interesting part: This file was last modified about a year ago (19. Oct 2017). So I guess, probably nobody is using this feature?

Did implement something to send notifications without pyt

[2018-10-02 17:43] pnhofmann commented on #336
Twitter in fact has an api for tweets - and also python-library:
https://github.com/bear/python-twitter/blob/master/examples/tweet.py

Unfortunately this needs an API key.
https://developer.twitter.com/en/apply-for-access

Yeah - please help. No experience with that ;).
Especially since this is an Open Source application - I can't just register there and "Open Source" the key, can I?

[2018-10-03 06:36] StefanosChaliasos commented on #339
Go for it @pnhofmann !

[2018-10-03 06:38] StefanosChaliasos commented on #336
You shouldn't. So remove that feature from your version and open an issue.

[2018-10-03 07:01] appi147 commented on #336
Since python 2 is coming to an end in [Jan1 2020](https://pythonclock.org/). Should we stop maintaining both python2 and python3 and focus on python3?

[2018-10-05 11:34] pnhofmann commented on #336
Would definitely have no problem with no python2 support! Is there actually anyone running a system without python 3 installed?
But also think maintaining python2 wouldn't be too much work - so I don't really care too much.

[2018-10-07 09:31] pnhofmann opened #340 "Use twitter API?"
Like I already noted:

The current Twitter command relies on chromium-drivers; we would like python dependencies only.

Twitter in fact has an api for tweets - and there is also a python-library:
https://github.com/bear/python-twitter/blob/master/examples/tweet.py

Unfortunately this needs an API key.
https://developer.twitter.com/en/apply-for-access

Any thoughts or suggestions? Should we

* Use

[2018-10-07 22:18] appi147 commented on #340
We could have a config file with key, if present use twitter api, else tell user to create key on website and add to that file

[2018-10-09 08:36] pnhofmann opened #342 ""Check time in" not working"
[code]
Guess the API changed...

[2018-10-11 12:19] appi147 commented on #342
google maps api is giving this error
[code]
thus list index out of range error

[2018-10-11 12:28] appi147 opened #345 "API keys"
IMO, we should create a json file in which user can store their API keys used for various functions such as timein(#342 ), or twitter (#340 )

[2018-10-11 12:28] appi147 commented on #345
Any other ideas @pnhofmann @StefanosChaliasos @sukeesh

[2018-10-11 12:29] appi147 commented on #342
Working correctly with key
[code]

[2018-10-12 01:55] EhWhoAmI opened #346 "Jarvis for windows"
Maybe I or someone could do a port to put jarvis on windows. Would be helpful.

You know,  create bat counterparts to the sh files, etc...

[2018-10-14 06:41] appi147 commented on #346
We are unfamiliar to windows systems, installation of modules, setting paths, etc. If you could it would be great. If you are willing to let us know.

[2018-10-14 06:42] appi147 commented on #346
Also will jarvis work from cmd?

[2018-10-14 13:58] pnhofmann opened #348 "Use Natural Language Toolkit (NLTK)?"
https://en.wikipedia.org/wiki/Natural_Language_Toolkit

Would like to suggest the nltk-library - which in my opinion is absolutely great with with endless of possibilities of natural language processing.
For example with that library we could easily remove stopwords (the, is, at, which, ...) -  "merge" synonym e.g. that both "remove" and "delete" behaves like "delete" And lots, lots of other possi

[2018-10-15 11:03] #297 closed

[2018-10-15 11:04] #332 closed

[2018-10-15 12:30] thekumaraguru commented on #224
How come this topic is closed without solving the error ?
@appi147 when you say this is Desktop side error, could pls mention it.

[2018-10-15 14:10] pnhofmann commented on #224
Would like to note #341 would obsolete this topic anyway since it removes dbus-python completely.

[2018-10-16 02:31] appi147 commented on #224
@thekumaraguru Generally, jarvis works on all distros, but we had problems of dbus on some desktop environments reported by some users. Since we could not figure it out after discussions on github and gitter(public and private), we decided that we could not fix it as it was not reproducible.

However, we are removing it from our requirements

[2018-10-16 03:46] appi147 opened #350 "AttributeError: 'module' object has no attribute 'signature'"
[code]

`inspect.signature() was added in Python 3`
Line [here](https://github.com/sukeesh/Jarvis/blob/c37296e1a90e5a44cd6320c372c9cb84b2697799/jarviscli/PluginManager.py#L89)

[2018-10-16 03:47] appi147 commented on #350
@pnhofmann

[2018-10-17 08:41] appi147 commented on #242
`pip install https://github.com/weddige/pyaiml3/archive/master.zip`

[2018-10-17 09:30] appi147 commented on #242
-e git://github.com/appi147/pyaiml3.git#egg=pyaiml ; python_version >= '3.6'

[2018-10-17 09:44] appi147 opened #352 "Hardcoded versions in requirements.txt"
There are hard-coded versions in requirements.txt file which are very old. Should we remove hard-coded versions and provide support to latest  versions?
Some people generally install system-wide(sudo) packages and these hard-coded versions mess up some dependencies of another packages.
What do you guys think?

[2018-10-18 05:03] appi147 commented on #242
pip install https://github.com/appi147/pyaiml3/archive/master.zip

working on python 3.6+ too

[2018-10-18 06:20] appi147 commented on #337
#201

[2018-10-18 06:37] appi147 commented on #342
Register here for timein key : https://console.developers.google.com/apis/credentials?project=_

[2018-10-20 12:16] KrDimitrov commented on #346
Is this still open? Im currently working on a bat script to set up jarvis!

[2018-10-20 15:03] #342 closed

[2018-10-20 15:50] pnhofmann commented on #352
Agree! I actually do prefer if requirements are always up-to-date plugins - why disclaim bug fixes and improvements?
With quick tests I did not notice compatibility problems - and don't think those are common with python (?). Compared to requirements for online services like IMDbPY - which stops working if they are too old.

[2018-10-20 16:28] pnhofmann commented on #346
Nice!
I noticed you deleted the setup.sh "we dont need it anymore hehe" - that would obviously not be acceptable. ;).
But apart from that: Would you mind creating a **pull request**?

Stuff - probably - needs to be done next:
- ``jarviscli/plugin.py`` - on top Constants MACOS and LINUX are decelerated. Should add WINDOWS
- ``jarviscli/PluginManager.py``: ``PluginDependency::__init__`` - set ``self

[2018-10-23 10:10] #345 closed

[2018-10-23 16:13] appi147 opened #359 "test.sh does not enable virtualenv"
don't know how it was overlooked for 11 months.
quick fix coming out
should fix #311

[2018-10-28 19:57] BenNF opened #362 "Imgur command does not work with paths that use ~"
For example it does not accept the path ~/Downloads/image.png

A fix would be to use `os.path.expanduser` to expand the ~ to the full path.

I will work on submitting a PR.

[2018-10-29 20:16] pnhofmann opened #367 "Modify "Class"-Plugins to look more like "Method"-Plugins"
There is something when I wrote the Plugin-Code I thought were a good idea, but by now don't really like. Sorry, still learning ;).

I first said, a plugin should be a class and look like that:
[code]
Then I thought, some commands like "clear" are really small. Would be "nice" to write something like
[code]

I still like both ideas - but I noticed, having these two completely different ways to def

[2018-11-01 16:38] Jamparan commented on #321
Is still open? I would like to work on it

[2018-11-02 19:46] pnhofmann commented on #321
@Jamparan
Still crashes e.g. for ``wiki search``. So suppose yes. Would actually be nice, if we could close this one ;).

[2018-11-03 10:54] tmsreekanth98 opened #369 "Show valid error message when no cricket matches are being played."
Current state:
When "cricket" command is run jarvis shows "ALL MATCHES" and any input of choice gives a "Wrong choice" message. Screenshot is attached.

Expected state:
A valid error message which shows "No matches are currently being played. Please abort" to notify the user that there are not matches being played.
![jarvis2](https://user-images.githubusercontent.com/34984066/47951305-b0220080-df5

[2018-11-03 11:37] SerDoggo opened #370 "Location specific answers to queries such as Time/Weather"
I noticed that jarvis is unable to provide me context specific answers to queries such as time/weather.

For example:
A query such as: "how is the weather?" or "how is the weather in delhi?" so instead of identifying just the key term "weather", I was thinking it would be possible to identify the location/context "in delhi" to provide the specific answer

If this suggestion seems promising and pos

[2018-11-03 23:19] appi147 commented on #369
Yes pls

[2018-11-04 04:08] SerDoggo commented on #370
That's actually pretty interesting, i never thought to try that out.
I'll try to clean this part up :).

[2018-11-04 13:43] pnhofmann commented on #346
Created new branch [windows port](https://github.com/sukeesh/Jarvis/tree/windows-port) for further development.

[2018-11-04 16:42] tmsreekanth98 commented on #369
Working on a fix currently.

[2018-11-04 17:30] tmsreekanth98 commented on #369
I have created a PR with the fix. Never mind for the first commit as i was also working for a Dockerfile for the project. It is not ready yet so i removed it.

Thankyou

[2018-11-04 18:54] pnhofmann commented on #369
There is actually already #301 and #318 for Docker...

[2018-11-04 19:00] tmsreekanth98 commented on #369
Ok yea just saw that. Thanks for the heads up.

On Mon 5 Nov, 2018, 12:24 AM pnhofmann, <notifications@github.com> wrote:

[2018-11-04 19:08] pnhofmann opened #373 "New flake8 errors"
With 479e0efee98316e7a3ce60d453ade4b05f8ef617 pycodestyle isn't fixed to 2.3.1 and new pycodestyle 2.4.0 reports new issues. The current flake8 actually isn't compatible with pycodestyle 2.3.1.

I'll fix the new flake8 errors later - definitely won't hurt.

This is related to #352. Should we fix both flake8 AND pycodestyle to avoid confusion like in #371?

[2018-11-05 01:35] Jamparan commented on #321
I already created a PR for this but.
https://github.com/sukeesh/Jarvis/pull/375

[2018-11-06 21:21] HectorRoblesWolf commented on #370
Is someone working on this?

[2018-11-07 07:46] SerDoggo commented on #370
Yeah, I've spent some time understanding the flow of the code and have already solved the localized issue of weather. I will be submitting a PR soon.

Here's the long version of why the problem occurred and how i changed it:
weather_pinpoint.py actually checks the memory.json file stored in packages/memory/ to get the location. This meant that all context specific location was ignored and the weat

[2018-11-09 14:57] pnhofmann commented on #369
8d44fe5ceba4515c540bc6eb2109df62a26467bc

[2018-11-09 14:57] #369 closed

[2018-11-09 15:19] pnhofmann commented on #370
Yes, that would be the perfect solution.

There is [nltk](http://nltk.org/) to do stuff like that (and much more!). nltk is already included in Jarvis but currently only used to provide dictionary functionality.

Quick search showed, there is a module to remove "stop words":

https://stackoverflow.com/questions/5486337/how-to-remove-stop-words-using-nltk-or-python

But integrating in Jarvis and no

[2018-11-10 09:49] SerDoggo commented on #370
I've submitted a pull request for the temporary solution now.

In general, i was thinking i would try to implement classical (or even machine learning) NLP techniques in the parsing and labeling of queries. But as you said this would be a huge undertaking. I am actually in the middle of trying to learn some NLP, so i am interested in trying to implement them in this project when I get the time.

I

[2018-11-11 11:59] pnhofmann commented on #370
@SerDoggo Thanks!

Sounds good!

[2018-11-11 14:05] #370 closed

[2018-11-11 14:08] pnhofmann commented on #373
#373

[2018-11-11 14:08] #373 closed

[2018-11-11 14:29] pnhofmann commented on #321
#375

[2018-11-11 14:29] #321 closed

[2018-11-13 13:42] kapurm17 opened #377 "Help in adding new feature"
Hey!
I have written a python script for a new feature for the project .
Can someone guide me  with adding this new feature in the script  Which files have to be edited?

P.S - I'm a beginner and this is my first project , so please spare me if this is a queston with an obvious answer.
Thanks !

[2018-11-13 20:33] pnhofmann commented on #377
Hi!

Actually: None ;).

As descried [here](https://github.com/sukeesh/Jarvis#how-to-write-new-commands-plugins-to-extend-jarvis-functionality) just place your script in ``jarviscli/plugins``. Then add to the top:

[code]

Try it out, run Jarvis and type ``yourpluginname`` - your feature should be called!

Have Fun and don't hesitate asking if something does not work as expected!

[2018-11-14 09:36] pnhofmann commented on #377
Email, Nice! Looks good and really useful!

I'm perfectly fine about your code. Just about formality:

We use [flake8](https://pypi.org/project/flake8/) for code style checking checking.

Do something like:
[code]
Ignore the 3 errors in CmdInterpreter and one in weatherIn - will handle those...

Still some issues are reported in gmail.py - e.g. never use tabs with python, add a space after inline

[2018-11-14 13:14] kapurm17 commented on #377
Thanks!
I used tabs not to indent the code , but for mere spacing, and i realized that shouldn't be done either.
I've done the flake8 and it returned no error so I created a pull request. :)

[2018-11-14 13:28] pnhofmann commented on #377
Thanks! Merged #378.

[2018-11-14 13:28] #377 closed

[2018-12-07 10:54] lucifercr07 opened #379 "Jarvis installation failing python2.7"
OS: Ubuntu16.04
Python version: 2.7.12
Installing collected packages: sympy, click, pyfiglet, termdown, wikipedia
./setup.sh: line 68: 47642 Killed                  pip install --upgrade -r requirements.txt

[2018-12-08 13:46] pnhofmann commented on #379
Sorry, can't reproduce ;(.
Could you try re-run pip (in Jarvis folder):
[code]
And please post complete output.

[2018-12-09 14:50] kapurm17 commented on #301
Is this issue closed?

[2018-12-10 06:02] lucifercr07 commented on #379
Issue was resolved thanks. Script was unable to activate virtualenv.

[2018-12-10 06:02] #379 closed

[2018-12-16 10:54] pnhofmann commented on #352
Noticed latest _py-translator_ conflicts with old version of _beautifulsoup4_ and _requests_.

So - fix version py-translator of un-fix version of  beautifulsoup4 and requests (and others)?

[2018-12-17 14:52] appi147 commented on #352
Lets remove hard-coded versions

[2018-12-18 09:36] appi147 commented on #352
@pnhofmann I am unable to find where `py-translator` is used.

[2018-12-18 09:56] pnhofmann commented on #352
Translate module uses googletrans - py-translator is a CLI for googletrans and installs googletrans - but yes, py-translator is actually not necessary.

Noticed that is my mistake; googletrans was broken and when I installed py-translator it worked again - probably just because googletrans was updated. And somehow I commited py-translator.

Anyway: googletrans is currelty broken (again?):

https:/

[2018-12-18 09:59] pnhofmann commented on #352
Noticed: googletrans is in requirements.txt - yes you are right: Installing py-translator is useless.

[2018-12-18 10:11] appi147 commented on #352
Well, I removed it in #382. Could you review that PR?

[2018-12-20 10:34] appi147 commented on #313
Its working fine now

[2018-12-20 10:34] #313 closed

[2018-12-22 13:08] appi147 commented on #352
[https://pypi.org/project/mock/](https://pypi.org/project/mock/)

Mock hasn't been updated since April 6 , 2016 (2.0.0)

[2018-12-22 13:15] appi147 commented on #352
pync is related to Mac, don't have access to that, can't test

[2018-12-22 13:33] appi147 commented on #352
bs4 is standard library, could not find anything that will break anything.
[Changelog](https://bazaar.launchpad.net/~leonardr/beautifulsoup/bs4/view/head:/NEWS.txt)

[2018-12-22 13:34] appi147 commented on #352
instantmusic has not been updated after 2.2

[2018-12-22 13:36] appi147 commented on #352
ibdmpy is latest now

[2018-12-22 13:36] appi147 commented on #352
Looks like no problem

[2019-01-06 13:01] kapurm17 commented on #301
Is this issue still available to work on?
@pnhofmann I'd like to take this issue if it's available. Thanks :)

[2019-01-06 14:34] appi147 commented on #301
@kapurm17 There are already 2 PRs open. Can you review #318

[2019-01-08 05:33] lowy opened #386 "How to speak something?"
After enable sound, Jarvis only speak "What can i do for you?"

[2019-01-10 05:04] kapurm17 commented on #301
@appi147 I dont think I'm that good, to review a PR, but I'll try.

[2019-01-10 15:13] bsushmith opened #387 "systeminfo plugin doesnt work on macos"
Running the command systeminfo on mac gives the below error -

`Traceback (most recent call last):
  File "/Users/Sushmith/GitHub/Jarvis/jarviscli/CmdInterpreter.py", line 143, in try_do
    do(s)
  File "/Users/Sushmith/GitHub/Jarvis/jarviscli/plugin.py", line 116, in __run_method
    run_method(jarvis, s)
  File "/Users/Sushmith/GitHub/Jarvis/jarviscli/plugins/systemOptions.py", line 36, in syst

[2019-01-11 05:05] bsushmith commented on #387
@pnhofmann I'm trying the understand the project and In the PR [#389](https://github.com/sukeesh/Jarvis/pull/389), shouldnt the updated snippet be

[code]

[2019-01-11 06:09] bsushmith opened #390 "ip plugin returns error for ipv4 and ipv6 on macos"
ip plugin returns command not found error on macos

`Public ip v4 address :`
`sh: timeout: command not found`
`Public ip v4 address :`
`sh: timeout: command not found`

timeout is not natively supported on macos. So the ip plugin just returns the local address only correctly. We can use --connect-timeout option in curl command, which is supported by natively by curl command on all distributions.

[2019-01-11 08:09] bsushmith opened #392 "clear plugin fails due to arguments issue"
clear expects 0 arguments as per definition but two are sent as per the design.

~> What can i do for you?
clear
Some error occurred, please open an issue on github!
Here is error:

Traceback (most recent call last):
  File "/Users/Sushmith/GitHub/Jarvis/jarviscli/CmdInterpreter.py", line 143, in try_do
    do(s)
  File "/Users/Sushmith/GitHub/Jarvis/jarviscli/plugin.py", line 116, in __run_method

[2019-01-11 10:34] pnhofmann commented on #387
Definitely! Shouldn't program 'on the hop'.

[2019-01-11 10:36] pnhofmann commented on #392
#391

[2019-01-11 10:36] #392 closed

[2019-01-11 12:18] pnhofmann commented on #367
Finally have time - will implement now.

[2019-01-11 12:19] pnhofmann commented on #390
#391

[2019-01-11 12:19] #390 closed

[2019-01-11 12:43] pnhofmann opened #393 ""Doctest"-style tests"
How about implementing something like python [doctest](https://docs.python.org/2/library/doctest.html):

Basically, if there is a command like movie director:
[code]
Copy paste above output into the doc-string - so it looks like:
[code]

And have some test-routine to parse the docstring and check if "movie director lord of the rings" really returns "Peter Jackson".

Advantages:

* Add tests for co

[2019-01-15 13:32] hazzus opened #395 "Voice control"
Hello, is it planned to add voice managment to Jarvis?
Can I help with it somehow?

[2019-01-17 11:05] pnhofmann commented on #395
Actually, not really. But we are open for all kind of suggestions and improvements!

Of course! Any help is welcome! Do you have any suggestions / ideas how to implement Voice control? Because I'm not quite the expert with speech recognition.

Noticed [mozilla DeepSpech](https://github.com/mozilla/DeepSpeech) a while ago. That's Open Source, runs locally and has python binding. Would guess, if we

[2019-01-18 20:41] hazzus commented on #395
Neither do I. But I believe it would be quite an interesting task.

I don't have any exact idea about realisation at the moment, but I will spend some time in order to collect  information and try to implement it, maybe as plugin with command 'listen' as first attempt?

Thanks for a link to DeepSpech, it will take a while to look on it.
Probably we should put some labels on this issue too)

[2019-01-18 21:01] pnhofmann commented on #395
Excellent idea!

And if there are any questions about Jarvis or problems, just ask - I am happy to help. This is an issue I'm certainly interested, too!

[2019-01-23 10:15] mmkumr commented on #395
I am also interested to contribute to your project. Deep speech is a very large repo. I think we should try something else.

[2019-01-23 13:13] pnhofmann commented on #395
You probably mean the size of prebuild models (since we wouldn't need the complete repo anyway). That would be a download size of 1,8GB - which really is quite heavy.

As I already noted, I'm completely open for everything! Should just work with python - and platform Independence would be pretty sweat. Furthermore personally I prefer offline over online services - but online service would also be

[2019-01-23 14:55] mmkumr commented on #395
What do you mean my `we wouldn't need the complete repo`? Explain it.

[2019-01-23 15:03] mmkumr commented on #395
Nice idea.:) I can help in implement it in Unix types and mac system but can't  implementing this for windows types system because I don't much about windows.

[2019-01-23 15:39] pnhofmann commented on #395
Deepspeech offers prebuild binaries for mac, linux and windows (~10 MB); was just a bit confused why you are talking about "a very large repo" when we don't actually have to "clone it" if there are packed and easy installed binaries.
But nevertheless; the prebuild models one would have to download, too **are** big.

[2019-01-24 13:37] StefanosChaliasos commented on #301
#318

[2019-01-24 13:37] #301 closed

[2019-01-24 17:56] mmkumr commented on #395
Sorry for that actually I thought that we have to use the full package.

[2019-01-26 13:56] jay4563 opened #402 "News site listed under News plugin has to be configurable."
Instead of having static option for the sites, it will be good to have option to configure the required site as per one's interest. Since newsapi supports multiple websites, it will be good to have option to have list of sites of their interest.

[2019-01-26 14:00] jay4563 commented on #402
I would like to contribute for this enhancement if you guys are ok with it.

[2019-01-29 10:23] pnhofmann commented on #402
Of course!

[2019-01-29 10:30] pnhofmann commented on #402
And please ask if you have any questions / problems. My description of how to create plugins is currently not what I would like it to be (working on it ;) ). Because also I noticed, this isn't documented anywhere: Note that Jarvis has the methods add_date, get_data, update_data and del_data to store data ;).

[2019-01-29 11:52] pnhofmann opened #403 "forex-python 1.2 requires dbus"
Just noticed, that forex-python - the backend we use for Currencyconv - added dbus-python as requirement in its newest release (1.2). The added a cli interface with notification support - which we don't use anyway. Since we just removed dbus because it's a non-python requirement which requires native extension installing dbus-python "just for fun" would be kind of "stupid".

With pip we can't real

[2019-01-29 14:35] ravigadila commented on #403
fixed issue in forex-python==1.3.

https://github.com/MicroPyramid/forex-python/issues/56

[2019-01-29 15:25] pnhofmann commented on #403
Thanks! Honestly didn't expect solution in such a short time!

[2019-01-29 15:25] #403 closed

[2019-01-29 16:27] jay4563 commented on #402
Thanks @pnhofmann.  If someone can share, what is the development workflow then it will be easy for me to follow the steps.

[2019-01-29 18:25] pnhofmann commented on #402
There is actually nothing special. Just the generic:

* Fork + Clone
* create branch (z.B.: git checkout -b news_configuration)
* Code
* Check that ./test.sh does not yield any errors
* commit
* push
* Press the "Create Pull Request" button on github

;).

[2019-01-31 17:21] pnhofmann commented on #395
Sorry, can you show some code because I don't really understand what you are trying to do?

Generally speaking, there is CmdInterpreter.py:JarvisAPI. This is passes as first parameter to any called plugin. Everything plugins need to call should be implemented there.

I know, this isn't documented well - yet. Working on it.

[2019-01-31 17:44] mmkumr commented on #395
Actually I want to pass text converted from voice to Jarvis. So, how can I do that.

[2019-01-31 18:06] mmkumr commented on #395
In the file jarviscli/jarvis.py a variable is used `line` as parameter. In which file `line` variable is declared?
Checkout the screenshot below.
![screenshot from 2019-01-31 23-31-58](https://user-images.githubusercontent.com/17456593/52074784-a721e900-25b0-11e9-978e-f32b6d5548af.png)

[2019-01-31 18:12] pnhofmann commented on #395
There is no 'official' way to do that. At last none I'm aware of. Basically Jarvis "input loop" is just the cmd module documented `https://docs.python.org/3/library/cmd.html`.

To simulate input, we'll have to be somehow "creative". If I look at the [source code](https://github.com/python/cpython/blob/3.7/Lib/cmd.py) this CmdLoop basically does (simplified):

[code]

So calling the last 3 lines _s

[2019-02-04 08:18] pnhofmann commented on #395
@hazzus @appi147 @StefanosChaliasos
Any opinions on #408?

[2019-02-08 15:53] pnhofmann commented on #402
#407

[2019-02-08 15:53] #402 closed

[2019-02-13 03:24] EhWhoAmI commented on #346
I tried the port out on windows and it comes out a little messy. I think the curses are not parsing it well.
![example](https://user-images.githubusercontent.com/22135886/52684668-9d7f7600-2f0c-11e9-9e4b-6d3203eb6eeb.png)

[2019-02-13 08:52] pnhofmann commented on #395
#408

[2019-02-13 08:52] #395 closed

[2019-02-13 09:14] pnhofmann commented on #346
Yes, windows port is in an early stage. According to [stackoverflow](https://stackoverflow.com/questions/8358533/python-module-to-enable-ansi-colors-for-stdout-on-windows) we just need to call ``colorama.init()`` somewhere.
I've pushed a patch 65123f2d6080a2e91c36835a40764d1998e1572b but I was too lacy to test on a windows machine ;). Could you check if it worked as expected?
It is still somewhere

[2019-02-13 09:17] pnhofmann opened #411 "Improve voice control"
Since basic Voice control (#395) is merged (#408), I'm opening this as a discussion thread for any kind of improvements for voice control.

Any help or suggestions welcome!

[2019-02-13 09:24] pnhofmann commented on #411
List of stuff, I would appreciate:

* Make speech recognition backend select-able ([SpeechRecognition](https://pypi.org/project/SpeechRecognition/) supports multiple backends
* Having a Speech recognition backend, which works offline
* Voice recorder without native requirements (e. g. using [SoundCard](https://github.com/bastibe/SoundCard), disadvantage: sometimes crashes)

[2019-02-13 09:55] KrDimitrov commented on #346
Tested windows-port branch.

![image](https://user-images.githubusercontent.com/29924708/52703037-ba07c680-2f7d-11e9-82fc-957d60930afe.png)

Looks like only these two lines are not working properly. I remember trying to fix it a while ago but couldn't.

[2019-02-13 12:08] EhWhoAmI commented on #346
What are the colors supposed to be?

[2019-02-13 12:11] EhWhoAmI commented on #346
Looks like the colors 39 do not exist according to the ansi codes reference (<https://bluesock.org/~willkg/dev/ansi.html>), but 31 should be red. Maybe it did not put the ending code properly?

[2019-02-13 13:20] pnhofmann commented on #346
At last an improvement ;). But this is a quite interesting issue. 39 is [Default foreground color](https://en.wikipedia.org/wiki/ANSI_escape_code#SGR_(Select_Graphic_Rendition)_parameters). And does [seem](https://docs.microsoft.com/en-us/windows/console/console-virtual-terminal-sequences) like this **is** implemented in Windows.

Also the red from "I could not identify your command" is the **same

[2019-02-13 18:47] pnhofmann commented on #346
For some reason, python input() with colors do not work on Windows CMD. **Should be fixed now.**
I rewrote relevant parts so input() isn't used any more (directely write / read from sys.stdout / sys.stdin).

[2019-02-15 01:08] Tobe-Continued opened #412 "Stuck on Centos 7"
I want install it on my home server in CentOS 7 , but in your file setup.sh it try to installdependencies with "apt-get" but in centos it's "yum".

[2019-02-15 10:34] pnhofmann commented on #412
Thank you for reporting this issue!

This is really interesting - what's the content of your ``/etc/os-release``? Actually apt-get is only used if ID_LIKE contains 'debian'.

This is probably about the new voice control feature, which does require Portaudio, because we (currently) have no other way for recording audio. If you don't need voice control, you won't need to install portaudio. If the se

[2019-02-16 09:59] jsgtihub opened #414 "Where am I Command Issue"

[2019-02-16 10:01] jsgtihub commented on #414
When typing in "Where am I" the code returns an error.

[2019-02-16 10:07] jsgtihub opened #415 "Music Playback Issue"
When entering the input music I get the following message.
Song name doesn't exist. ( play 'song name' )

[2019-02-16 10:11] jsgtihub opened #416 "Todo Command Not Working Properly"
When typing in the command Todo followed by add some_random_task I get the following error.

"I could not identify your command..."

[2019-02-16 10:21] jsgtihub commented on #36
When entering the news command

news

I get

"Would you like to configure your own news source? (yes/no):
I typed "n" for no.

It then shoots back the command "Would you like news from this news source? (yes/no):
I typed "n" for no.

Select Source
1. BBC
2. BUZZFEED
3. Google
4. Reddit
5. TechCrunch

I typed "3" for Google.

Would you like to set this up as your default? (yes/no):
y

"I couldn't f

[2019-02-16 10:22] jsgtihub opened #417 "News Command Issue"
When entering the news command

news

I get

"Would you like to configure your own news source? (yes/no):
I typed "n" for no.

It then shoots back the command "Would you like news from this news source? (yes/no):
I typed "n" for no.

Select Source

1. BBC
2. BUZZFEED
3. Google
4. Reddit
5. TechCrunch

I typed "3" for Google.

Would you like to set this up as your default? (yes/no):
y

"I couldn't

[2019-02-16 10:25] jsgtihub opened #418 "Show me pics of.... Command not working."
When entering

show me pics of " "

I get

I could not identify your command...

[2019-02-16 10:26] jsgtihub opened #419 "Open Camera Command not working"
I get the error

I could not identify your command...

[2019-02-16 19:15] appi147 commented on #414
screenshot or logs pls

[2019-02-16 19:16] appi147 commented on #414
![screenshot from 2019-02-17 00-46-08](https://user-images.githubusercontent.com/32510534/52904123-72b75980-324d-11e9-9721-2c8f8db6b3b0.png)

[2019-02-16 19:19] appi147 commented on #416
[code]

[2019-02-16 19:20] #416 closed

[2019-02-16 19:21] appi147 commented on #417
[code]

[2019-02-16 19:21] #417 closed

[2019-02-16 19:29] appi147 commented on #419
![screenshot from 2019-02-17 00-55-37](https://user-images.githubusercontent.com/32510534/52904240-37b62580-324f-11e9-93c6-0fd1824e1f1d.png)

[2019-02-16 19:29] #419 closed

[2019-02-16 19:29] #414 closed

[2019-02-17 18:10] jadsonlucio commented on #418
I believe the command you are looking for is: display me pics of.
But it would be interesting if there was a alias system that associated display and show.

[2019-02-17 18:21] jadsonlucio commented on #418
I believe the command you're looking for is: display pics of.
But it would be interesting if there was a alias system that associated display and show.

[2019-02-20 13:02] YasmineBOU commented on #418
Hi!

We're students of the University of Paris 8 in France.
In one of our subjects, we have to contribute in an open source project.

We would like to know if we could work on it?

[2019-02-20 15:39] pnhofmann commented on #418
@topic
``But it would be interesting if there was a alias system that associated display and show.``
Luckily there is in fact an alias-system ;). Yes, should be no problem aliasing "show" to "display"!

@YasmineBOU
Please **always** open a new issue for a new topic. I can't really move your comment. So to answer your question anyway:
This is basically a first time contributors project for beginner

[2019-02-20 16:14] YasmineBOU opened #421 "Add Graphical User Interface"
As students, we would like to contribute to your project.
Could we have some suggestions about the contributions that we can do?

[2019-02-20 16:42] pnhofmann commented on #421
Of course ;).

* If you know/use windows, I'd be especially pleased, if you could improve our windows port ;).
* If you know something about natural language processing or want to learn something about it: Language processing can definitely be improved in Jarvis!
* Or you could improve Voice control (of course not writing real speech recognition; we simply use APIs like Google Cloud Speech).
* Or

[2019-02-20 20:20] ionpetro opened #422 "Junior Contributor"
Hello, I would like to contribute to this open source project (University initiative)
I am new to this community, but I would like to learn more so I can contribute as much as I can.
Is there anything I can do for your project? (have some experience in Python)
Working on Windows but willing to boot Linux if needed.
Thank you beforehand.

[2019-02-20 21:30] pnhofmann commented on #422
Hi and welcome!

That would actually be an option. There is a initial windows port (#346; windows-port branch) but isn't finished yet. That's definitely something you could do if you like.

Or of course anything I wrote here: #421. We are open for any improvements and new features and happy for every contribution.

[2019-02-21 19:32] YasmineBOU commented on #421
We would like to make you a suggestion if you agree and if you think that it can be useful.
So we suggest to make a graphic interface for Jarvis.

[2019-02-21 20:23] pnhofmann commented on #421
Don't really know how a graphical interface for Jarvis should look like - but if you do: Sure; go for it. why not?

[2019-02-23 05:02] sanketdhole commented on #421
I could help you for cross platform interface using kivy. But its not so much attractive. It can only be used for simplified interface.

[2019-02-23 12:56] kenzaal commented on #421
Hello [sanketdhole](/sanketdhole) ,
Thank you for your proposal.
We know that is amateurism but we are thinking of using  Pygame for this interface.
Do you think that is an adequate choice ?

[2019-02-23 14:59] Zml99 commented on #421
Hi @kenzaal,
I'm new here and I don't know a lot of programing (I'm learning),  but I think using pygame it's actually a good idea.

[2019-02-24 16:43] pnhofmann commented on #415
This message is somehow misleading.

You didn't specify a song name - e.g. ``music wonderful tonight``.  Therefore the song name does not exist - not because of a error but just because none was specified ;). Should probably be updated to something like: "You didn't specify a song name" or "Please add a song name" to avoid confusion.

[2019-02-24 17:01] sanketdhole commented on #421
@kenzaal that might be better. But I didn't see lot of applications using pygames. I have just heard of it. So, really sorry that I won't be any helpful on that path. Below is one of my example of application using kivy.
![screenshot 11](https://user-images.githubusercontent.com/26873435/53302420-e7a91580-3883-11e9-9b75-7dc5bfe3a035.png)

[2019-02-24 17:19] sanketdhole commented on #422
Hello,
long ago I have an eye on this project but was little learner in python. Now, I think I could contribute to this project. Please help me get started for contribution.

[2019-02-24 22:45] Zml99 commented on #421
What you guys think if Jarvis were a zebra??

[2019-02-25 13:08] sanketdhole commented on #421
@Zml99 What do you mean by that?

[2019-02-25 13:52] Zml99 commented on #421
Like Cortana is a blue circle, google assistant is 3 dots, siri is a mic, etc. I mean the icon of the voice assistant. So Jarvis could be a white and blue zebra, to make it a little bit more natural... @sanketdhole

[2019-02-25 21:40] pnhofmann commented on #422
@sanketdhole
Hi!

I have just updated documentation (-> README.md) how to write jarvis commands (=plugins). Hope it is understandable - if something is unclear please tell me so I can improve it ;).
Yes, basically choose what you want to do. Either implement a new command or improve an existing one. Or work on something linked above.
And if there are any problems or questions, please ask. And best

[2019-02-26 03:22] Zml99 opened #424 "No natural commands and responses of the Assistant"
I've been trying the assistant for a while and I notice that you need to be too specific about how to ask or tell things to the assistant, to the point that it's not natural to ask him or her. I think we could try to improve that. Let me know.

[2019-02-26 10:03] YasmineBOU commented on #421
Hi!

We have already started making the interface that looks like for now like shown in the screenshots.
The next step is to put in the bottom an entry field for the user and under that a small box where to put the answers.

We would like to know your opinions on that.
And if you have other suggestions, let us know!

For the opening:

![jarvis_opening_image](https://user-images.githubusercontent.c

[2019-02-26 12:23] pnhofmann commented on #424
Yes, the language parser is far from perfect. It is just a search "is word XXX in input"?
Unfortunately good language processing is not easy and something I have no experience at. Took a brief look at nltk (#348), but that's it.
We had natural language topic already in #370 - but didn't hear anything since.
So basically:

Any suggestions welcome ;).

[2019-02-26 13:20] Zml99 commented on #424
We could try to do some data science with Jupyter and Anaconda. I don't know much but I could learn in the go.

[2019-02-26 17:03] Zml99 opened #425 "Curvesketch have an error..."
I tried to open the curvesketch and it give this error:
[code]

[2019-02-26 17:57] pnhofmann commented on #425
Thanks for reporting this one! Curvesketch needs an argument (e.g. curve sketch x**2+10x-5).

I'll add a meaningful message later.

[2019-02-26 18:03] pnhofmann commented on #424
There are in fact libraries specially (and only) for natural language analysis. e.g. nltk.

Pandas is for data analysis - like if you measured temperature etc. every day of one year you could use pandas to plot a curve.

I don't think that's much use for us.

[2019-02-26 21:44] Zml99 commented on #424
Yeah I got confused with something that I saw in a conference. What you are saying it's true. Let me investigate about nltk.

[2019-02-27 04:57] Zml99 commented on #425
Ohh....I didn't knew that. I will try that way next time.

[2019-02-27 04:57] #425 closed

[2019-02-27 08:04] pnhofmann commented on #424
WOW, this luck:

Todays givaway by packt (official giveaway by publisher): "**Next Generation Natural Language Processing with Python [Video]**"

https://www.packtpub.com/packt/offers/free-learning

You would need to register and claim this video **today** (16 hours left) - but then its yours to keep. Looks quite interesting to me ;).

[2019-02-27 09:16] pnhofmann commented on #424
Just to ping @sukeesh @StefanosChaliasos just in case you are interested in this Natural Language Processing Video (because might be useful for this project and only free today). If not, please ignore ;).

[2019-02-27 13:05] appi147 opened #426 "Update README about docker"
There are two files dockerfile and makefile. For new user including me, dont know how to use, so there would be great if instructions are added in readme

[2019-02-27 14:11] pnhofmann commented on #426
A short note ok? #427
Or should it be more detailed?

[2019-02-27 14:16] #426 closed

[2019-02-27 14:18] appi147 opened #428 "Cricket is broken"
and pycricbuzz is also broken.
Cricbuzz has changed their contents of webpage which used to be scraped.

Falling back to previous versions doesn't help either.

[2019-02-28 14:43] appi147 commented on #428
[https://github.com/codophobia/pycricbuzz/commit/ad29cedf88d782ac9596542096476403ac3b66b1](https://github.com/codophobia/pycricbuzz/commit/ad29cedf88d782ac9596542096476403ac3b66b1)

[2019-02-28 14:51] ionpetro opened #430 "New feature - Personality Test"
So I was thinking about creating a Personality Test/Quiz plugin for Jarvis on the windows-port branch. Do you think that could fit with this personal assistant? If yes, give me the ok and I am starting the implementation immediately!

[2019-02-28 16:35] Zml99 commented on #424
I just saw it today :( I've been learning some things these days but at the same time getting confuse trying to understand the code of Jarvis.

[2019-02-28 16:35] skerrepy opened #432 "public ip v6 address"
on public ip v6 address:
curl: (7) couldn't connect to server

[2019-02-28 16:39] pnhofmann commented on #430
Hi!

Of course!

Please note, that the windows port is not finished. For a Personality Test the windows port should work - pure python works cross-platform pretty well. But just wanted to say ;).

I just merged master into windows-port, because windows-port fell pretty much behind and some stuff with plugins was changed meanwhile. Please tell us if anything does not work as expected.

Please also

[2019-02-28 16:43] pnhofmann commented on #432
You probably don't have a (public) ipv6 address... This message should definitely be improved to something more meaningful like 'not available'.
Thanks for reporting!

[2019-02-28 18:49] pnhofmann commented on #424
I don't even know if those tools are right for us - guess I was more excited than it actually was - so please don't mind ;).

Understand; the core code uses some bit more "advanced" Python features and some meta-programming. This whole plugin.py and PluginManager.py code isn't that important for us here. It's just some code necessary to make creating commands easier and - I hope - just "nice".

In

[2019-03-01 10:30] ionpetro commented on #430
I am currently implementing two plugins (including the Personality Test). Until now, everything is clear and I am very happy about that since it's my first open source contribution.

What do you think I can do about testing? I want some experience on that...

[2019-03-01 11:20] sukeesh commented on #424
NLP looks super interesting. Definitely, we can try with a library first. @pnhofmann @Zml99

[2019-03-02 05:18] Zml99 commented on #424
find_action(self, data, actions)
I couldn't found that function in the code actually... :(

[2019-03-02 05:38] Zml99 commented on #424
@pnhofmann, thanks a lot, now the things are starting to get a little bit clearer. Next time I will not be afraid to ask.

[2019-03-02 15:16] kenzaal commented on #421
Hi,

We have tried to merge our code with the Jarvis source code to test if it works on it. However when we execute it with the command `./jarvis`, we get this message error:

[code]
**PS:**
 We used to execute our code with python3 and pygame 1.9.1release+dfsg-10 and it works with no problem.

[2019-03-02 16:24] pnhofmann commented on #430
Something I definitely should do more often ;). Always a good idea especially with a interpreted language with no compile-guarantees ;).

I've created some simple help functions for testing:

https://github.com/sukeesh/Jarvis/blob/master/doc/TESTING.md

[2019-03-02 16:30] pnhofmann commented on #421
Do you know virtualenv?

https://docs.python-guide.org/dev/virtualenvs/

If you have multiple projects you don't want to install all python packages globally. So you commonly create a "virtualenv". You activate this virtualenv with: ``source env/bin/activate`` (in jarvis directory) and deactivate with ``deactivate``.
Think of it as a "namespace" - you get a clean python environment where you can i

[2019-03-02 17:41] #428 closed

[2019-03-02 17:41] #418 closed

[2019-03-02 17:41] #415 closed

[2019-03-02 17:41] #432 closed

[2019-03-17 16:15] Farlgerann opened #435 "ValueError when entering bad character in 'cricket' plugin"
Hi,
While trying some commands in Jarvis, I tried to enter another type of value in "cricket" input field. It seems like types errors are not handled by the module, and it returns something like this :

[code]
I think I can fix it, if it's a relevant issue; but I am beginner and I'm not sure my fix is ... clean ?
Nevertheless, it passed the tests successfully.

[2019-03-17 16:24] pnhofmann commented on #435
Hi!

Thanks for reporting this issue.

No problem at all! We are happy about any contribution. Just send a PR.

[2019-03-17 17:05] pnhofmann commented on #435
#436

[2019-03-17 17:05] #435 closed

[2019-03-21 11:37] qwireq opened #438 "New Feature - Image search using captions"
The idea is to create captions for images in the given directory. This could be an interesting feature for Personal Assistant. Additionally, in the future, it also could be transformed into a search of images by a given description. Most images are stored with names, which are not connected with objects depicted on them. Therefore, it could be very useful functionality.

I am planning to use a pre

[2019-03-22 18:15] madhavkulkarni1986 commented on #438
What deep learning model do you plan to use?

[2019-03-22 21:39] qwireq commented on #438
I am planning to use the model from [this tutorial](https://github.com/yunjey/pytorch-tutorial/tree/master/tutorials/03-advanced/image_captioning).

[2019-03-25 13:04] appi147 opened #441 "Movie: two methods are broken"
Movie search and movie info is broken because of incorrect method defined in line 220.
Variable `move_attributes` is iterated however it is undefined in line 228 of movie.py.
Error log:
[code]

[code]

[2019-03-25 13:28] qwireq commented on #441
Can you assign this issue to me?

[2019-03-25 18:04] appi147 commented on #441
Sure go ahead

[2019-03-25 18:13] JonanOribe opened #443 "PyAudio error"
I found a problem when I tried to install Jarvis using ./setup. Looks like the pyaudio packages can't be install. Any idea?? I tried with "sudo pip install python-pyaudio" but at the end I have the same error.

Command "/Jarvis/env/bin/python3 -u -c "import setuptools, tokenize;__file__='/tmp/pip-install-xlaun6vd/pyaudio/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('

[2019-03-25 18:50] pnhofmann commented on #443
Hi!

could you post complete output of Jarvis setup.sh? Because acutally it should print something like:

[code]

I could also try to make the output more clearer, that:

* pyaudio is completely **optional** and only required for (early version of) voice recognition
* pyaudio **must** be installed with the package management system of your os. Does require native extension - not "nice" but current

[2019-03-26 06:46] madhavkulkarni1986 opened #446 "Bugs in news plugin"
**News plugin:**
- [x] **news command does not work** – urllib.urlopen returns bytes. Should be decoded to utf-8 before json loads
**Error:**
~> Hi, what can I do for you?
news
Some error occurred, please open an issue on github!
Here is error:

Traceback (most recent call last):
  File "/home/madhav/Projects/Jarvis/jarviscli/CmdInterpreter.py", line 151, in try_do
    do(self, s)
  File "/home/ma

[2019-03-26 06:47] madhavkulkarni1986 commented on #446
@appi147 : Can you please assign this to me?

[2019-03-26 11:39] appi147 commented on #446
Go ahead :)

[2019-03-26 11:41] appi147 commented on #446
First one is not an issue. Update your api-key first. However, it should not crash, maybe give an error msg for adding/updating api key

[2019-03-26 11:44] appi147 commented on #446
You are using python2, it seems

[2019-03-26 11:46] appi147 commented on #446
Well `news configure` works on my machine, it gives result in sorted order. However this issue occured in python 2.7

[2019-03-26 12:59] madhavkulkarni1986 commented on #446
@appi147 Thanks for assigning. Yes, I am running 2.7. I will check about configure and let you know. But this has to be fixed right? Jarvis is intended to be used with 2.x as well as 3.x, correct?

[2019-03-26 13:20] appi147 commented on #446
Yes

[2019-03-26 16:08] qwireq commented on #441
Could you check my pull request, please? #447

[2019-03-26 17:40] qwireq opened #448 "new_feature - Game"
I can implement a simple console game '[Bulls and Cows](https://en.wikipedia.org/wiki/Bulls_and_Cows)' as a new plugin. It is pretty straightforward but interesting game.

[2019-03-26 22:50] JonanOribe commented on #443
Thanks for your fast response. I think that probably this will be something with my SO, because sometimes  it gives me problems with the dependencies without any reason.I will try this way

[2019-03-27 03:25] appi147 commented on #448
Sure! Interesting game for console.

[2019-03-27 11:42] JonanOribe commented on #421
Looks amazing!!

[2019-03-28 10:44] madhavkulkarni1986 commented on #446
@appi147 I have the fixes and changes ready. What is the branching strategy? As I remember, you asked me to not modify my master. Can you please tell?

[2019-03-28 13:32] appi147 commented on #446
I replied you on mail.

[2019-03-28 17:40] JonanOribe commented on #443
Finally, I achieved to install PyAudio. The steps were:

-pip install --upgrade setuptools
-sudo apt-get install portaudio19-dev
-sudo apt-get upgrade
- sudo apt-get update
-sudo  pip install PyAudio

I hope this will help anyone who find the same problem

[2019-03-28 17:58] JonanOribe commented on #448
Another easy game that we can implement can be something like:

Using the dictionary plugin, we take the definition of a world and the user must try to find what the word is. For each right answer, he wins 10 points and the game ends when the user fails 3 words.

[2019-03-29 11:13] #446 closed

[2019-03-29 11:18] #441 closed

[2019-03-29 15:35] JonanOribe opened #455 "Roadmap"
I want to ask if there is any kind of roadmap for the project development. This is because i'm interesting about know what are the mainly functions that,you guys, consider prioritary

[2019-03-29 17:19] Aiki-bot51 opened #456 "how to run jarvis on mac?"
i dont know how to run jarvis on mac. any one know?

[2019-03-30 07:09] appi147 commented on #456
Clone the repo.
Run setup.sh
Run `jarvis`

[2019-03-30 22:17] usman-kakakhel opened #457 "Plot issue"
Hey guys,
This error occured when I tried to use plot. I dont know whether it is a problem with plot or my PC but anyways, here is the error.

Some error occurred, please open an issue on github!
Here is error:

Traceback (most recent call last):
  File "/home/usman/Downloads/Jarvis-master/jarviscli/CmdInterpreter.py", line 151, in try_do
    do(self, s)
  File "/home/usman/Downloads/Jarvis-master

[2019-03-31 01:21] Aiki-bot51 commented on #456
Before I run Jarvis should I type “cd Jarvis” ?

[2019-03-31 05:43] madhavkulkarni1986 commented on #456
@Aiki-bot51
- Clone repo
- cd to Jarvis
- Run setup
- Run jarvis

[2019-03-31 09:51] Aiki-bot51 commented on #456
nope didnt work
<img width="578" alt="Jepretan Layar 2019-03-31 pukul 16 50 41" src="https://user-images.githubusercontent.com/48476126/55287596-355df400-53d5-11e9-9a2c-c80f58337ab4.png">

[2019-03-31 09:58] Aiki-bot51 commented on #456
oh it works you need to type "cd Jarvis" then type "source setup/ ./setup.sh" then type "./jarvis"

[2019-03-31 09:58] #456 closed

[2019-03-31 12:10] #457 closed

[2019-03-31 12:14] pnhofmann commented on #457
Hi,

how embarrassing! Especially since we had a similar issue before. You need to add the function you want to plot immediately after plot - e.g. 'plot x**2' - but of course you could not know this ;).

Thanks for reporting this one! I've just uploaded a 2 line patch for a clean error message.

[2019-03-31 12:22] usman-kakakhel commented on #457
@pnhofmann thankyou for responding, I have been trying to learn how to use jarvis but it has been hard uptill now. As I do not know how to use certain commands. If there was a how to file available that would be appreciated.
Thankyou.

[2019-03-31 12:56] pnhofmann commented on #457
There is the help command - which will print all available commands or help for one command (mostly with examples). E.g.:

[code]

Certainly - this help system could be improved. But isn't a help command more practical than a "how to"-file?

[2019-03-31 13:06] usman-kakakhel commented on #457
Indeed it is more practical, thanks for all the help!

[2019-04-01 17:29] anthonyvluc commented on #443
If you are on Mac, you can run
`brew install portaudio`

[2019-04-01 17:52] anthonyvluc commented on #443
Actually, I just noticed an error in the `installpyaudio.py` file. Line 30 needs to change from `elif platform.system().lower() == "Darwin":` to `elif platform.system().lower() == "darwin":`. That was why I had to run the brew command manually.

How do I go about making/suggesting this change to the `setup.sh` script?

[2019-04-01 18:56] JonanOribe commented on #443
Thanks for the advice, but I´m on an Ubuntu 18.04. Good catch with that bug ;)

[2019-04-03 03:09] donaldvluc opened #460 "More Complex Random Password"
Would it be beneficial to add more character classes as options for the user to choose from when making a new password? Like special characters and brackets and such? If so I would like to contribute in that regard.

[2019-04-03 17:19] JonanOribe commented on #460
Sounds good, prepare your PR and ,if you find any problem,just contact with me ;)

[2019-04-05 16:25] pnhofmann commented on #455
There is no Roadmap I'm aware of ;).

This is more like, everyone programs what he feels like it - or what anyone finds useful.

Personally - Even more testing, improveVoice Control and finish Windows Ports would be what I consider "TODO".

[2019-04-06 12:32] JonanOribe commented on #455
Ok,thanks for the orientation. I will think how to solve these topics

[2019-04-07 02:16] usman-kakakhel opened #464 "Adding plugin in jarvis"
I am trying to add a new plugin in jarvis. I have put the class file in the plugin folder and jarvis is showing the class as one of the options but I cannot figure out how to make jarvis use the plugin option or how to write a help for my plugin so it shows when I write-- help "plugin". any help is appreciated

[2019-04-07 17:10] #464 closed

[2019-04-08 18:21] ionpetro opened #466 "Upgrade health bmi plugin"
Dear Jarvis community,

So I was working on a **Body Mass Index** calculator plugin for Jarvis, but then I found out that something similar has already been implemented on [health](https://github.com/sukeesh/Jarvis/blob/windows-port/jarviscli/plugins/health.py)

However, my implementation supports more features like the following ones:
1) Support metric and imperial system
2) Include colorama libr

[2019-04-08 22:07] appi147 commented on #466
Sure go ahead

[2019-04-09 02:21] donaldvluc commented on #460
Looks like MichaelND implemented my idea. Thanks

[2019-04-09 02:21] #460 closed

[2019-04-11 10:46] pnhofmann commented on #466
#469

[2019-04-11 10:46] #466 closed

[2019-04-11 11:11] pnhofmann opened #470 "'cd' to Jarvis install folder on startup"
I can't imagine any benefit of running Jarvis from any work directory. But setting work directory to Jarvis installation folderwould simplify file addressing. Instead writing something like:

[code]

we could simply write:

[code]

What do you think? Is there a reason to keep absolute paths?

[2019-04-13 20:01] qwireq commented on #448
Could you help me with my pull request, please? For some reason, tests are failing on BMI plugin, but I did not modify anything there. #472

[2019-04-13 20:46] appi147 commented on #448
Yeah, dont worry for BMI, build failed with last merge. I'll fix it tomorrow

[2019-04-14 07:00] pnhofmann commented on #448
Sorry ;).

Completely forgot to check Python 2.

[2019-04-14 08:21] pnhofmann commented on #448
Of course - in Python 3 ``1/2=0.5`` while in Python 2 "int / int = int" - so ``1/2=0``. I've created a fix  #473 since this was my fault. Sorry again.

[2019-04-14 10:16] qwireq commented on #448
Don't worry, everything is ok =). Now, in order to complete my pool request, I should download changes that you made from the origin?

[2019-04-14 10:38] pnhofmann commented on #448
No need! Diffs do not conflict (since different files were changed) - so git is able to handle the merge without problem.

[2019-04-14 11:17] qwireq commented on #448
Great! I updated my pull request, now it is passing all tests. Thanks!

[2019-04-19 16:46] #448 closed

[2019-04-25 19:54] nkfarwell opened #474 "Broken link in README"
The link in the final sentence in the first paragraph leads to `master/NEW_FUNCTIONALITIES.md` which no longer exists.

[2019-04-25 20:44] appi147 commented on #474
Yeah we removed that file, because we chose to not maintain it

[2019-04-25 20:46] appi147 commented on #474
There are some spelling mistakes as well e.g. in Optional dependencies - notify-send part

[2019-04-25 23:32] rogervieiraa opened #475 "Add to jarvis a small calculator"
Hi, I'm new here and I would like to contribute.
I had already built a small calculator using Reverse Polish Notation and I think will be nice if Jarvis can resolve simples equation like:
5+10*100^2

Someone can guide me on how to start?

[2019-04-25 23:46] rogervieiraa commented on #475
Oh already exist sorry, i will try to help

[2019-04-25 23:46] #475 closed

[2019-04-26 00:17] rogervieiraa opened #476 "Plugin to generate random number"
Hi, I'm new here and I would like to contribute.
First I need to say that I liked so much the idea.
I want to create a plugin that generates a random number, and the user can set the start and the end, what do you think about this feature? Can someone guide me on how to start?

[2019-04-26 12:59] skpanagiotis opened #477 "New plugins"
I create three new plugins that are unit converters. I have begun to make converters for the area, length and time.

[2019-04-26 17:59] appi147 commented on #477
Open PR

[2019-04-26 18:01] appi147 commented on #476
Checkout #450 . Its similar to your idea. All the documentation is available in docs/ folder

[2019-04-26 18:50] rogervieiraa commented on #476
Thanks sir, I will start.

[2019-04-27 05:27] pupun97 opened #479 "Connection Error"
If we access any plugin(that require connection) without internet connection that it throws an whole error not a error message. I already made some changes to solve it if u guys want i will create pull request.
Problem:-
![Screenshot from 2019-04-27 10-54-28](https://user-images.githubusercontent.com/47047786/56845197-e7a4b080-68da-11e9-89ad-4588b9f593fb.png)
Solution:-
![Screenshot from 2019-04-2

[2019-04-27 16:14] appi147 commented on #479
I think there was a option of connection error earlier.

[2019-04-27 16:18] appi147 commented on #479
`AttributeError: 'Jarvis' object has no attribute 'connection_error'`
This line intrigues me

[2019-04-27 16:19] appi147 commented on #479
@pnhofmann may help you on this issue

[2019-04-27 16:21] #476 closed

[2019-04-27 17:53] pnhofmann commented on #479
Yeah, with plugin manager I created a feature to automatically catch 'requests.exceptions.ConnectionError' for all plugins which require network.

Today, I don't really think this was a good idea.

I would remove this "feature" and create e.g. a decorator 'check_network_exception' instead. But of course @pupun97 if you like, you could show us your solution, too!

[2019-04-27 21:51] rogervieiraa opened #483 "Plugin: Open a website"
I'm thinking about this command for Jarvis and how can work nice.

Basically, this will work in 2 ways.

## Input a complete link:
`> open website www.google.com`
This one will validate if the link is valid before the open.

## Use a dictionary with popular links
`> open website GitHub username`
This will open the respective GitHub page.

If the name isn't on dictionary and isn't a validated link

[2019-04-28 07:39] pupun97 commented on #479
I made these changes...
commit the line:-
`jarvis.connection_error()`

and
add that line:-
`jarvis.get_api().say(Fore.BLUE+"Sorry, Internet connection is required to access this command!")`

in plugin._plugin_run_with_network_error()

[2019-04-28 16:49] pupun97 commented on #479
@pnhofmann i read the code and i think i find the misktake in the line(in plugin.py).
instead of this line
`jarvis.connection_error()`
it should be
`jarvis.get_api().connection_error();`
after that change all things are good.

[2019-04-28 21:26] pnhofmann commented on #479
Yeah, do you want to send the pull request?

[2019-04-29 01:28] rogervieiraa opened #485 "Personal Configuration"
I think will be nice if every person can configure Jarvis with some personal information.
Like when you open the Jarvis he starts saying:
"Hi $username, What can I can do for you?

Or create personal variables
Jarvis do I need an umbrella to go to work?
And Jarvis knowing the city where he works can use.

Or more thinks that we can implement to the usability of Jarvis can be better for each people

[2019-04-29 03:07] pupun97 commented on #479
Yes I am sending

[2019-04-29 03:10] ceduardodfernandes opened #486 "Translate command don't recognize spaced language"
The command translate do not understand if the language contains white spaces at begin or end of the request

[2019-04-29 03:15] ceduardodfernandes opened #487 "Translate command should be able to understand the full request in one line"
It would be much better if the translate command could be understood by Jarvis in one single line as well:

"translate english pt what are you doing?"

[2019-04-29 05:24] pnhofmann commented on #479
Thanks!

[2019-04-29 05:24] #479 closed

[2019-05-01 05:58] skpanagiotis commented on #477
I have already done a [pull request](https://github.com/sukeesh/Jarvis/pull/489).

[2019-05-03 21:55] JonanOribe commented on #485
I was working around this topic with the code that I show you below:

[code]
But I don't know why, when I execute Jarvis and write "help", the new plugin doesn't appear at the list

[2019-05-04 01:10] rogervieiraa commented on #485
Hi @JonanOribe , nice code.
So first about the file. I think will be better if we use a JSON file to save the information.
About the plugin, maybe we need 2 ones, one for create and others to edit the params.
In this plugin need to have a function that others plugin can use to get the information from the JSON file.
After this plugin has done would be nice if when the Jarvis start he loads if exis

[2019-05-04 15:37] jajupmochi opened #490 "Only specific commands can be recognized"
It it true that only specific commands can be recognized? Can I randomly command?
The response for me is now like this:

`~> What can i do for you?

sing

I could not identify your command...

~> What can i do for you?

sing a song

I could not identify your command...

~> What can i do for you?

what is your name

I could not identify your command...

~> What can i do for you?

how are you

I cou

[2019-05-06 19:05] skpanagiotis commented on #477
I'm also thinking of making the game rock, paper, scissors for Jarvis

[2019-05-08 05:19] 5a8l3y3 commented on #490
That's what I said I couple of months in another issue that is called "No natural commands and responses of the Assistant". If you know something about NLP and want to help would be great because right now I'm trying to learn but I'm not the best programmer in the world right now...

[2019-05-11 13:01] pnhofmann commented on #490
Just to link: #424

So I'll close this one as duplicated.

[2019-05-11 13:01] #490 closed

[2019-05-11 13:10] pnhofmann commented on #424
Hey, just found really (!) interesting python library by chance:

https://github.com/snipsco/snips-nlu

I haven't tried it out yet. But basically: It's a complete machine-learning library which takes a sentence and returns correct command + parameter. All we would have to do is to produce the training data.

I think this is actually something we could use without bigger problems.

[2019-05-11 17:46] Zml99 commented on #424
That's great. I've been busy with the university lately and I haven't been working in this for a while but this idea sound great.

[2019-05-12 01:08] TarunApp opened #492 "Feature Proposal: Define word command"
# Questions
- How does this project look upon using separate packages such as Beautifulsoup?
  - I would like to create a feature that defines a word. I have some experience in web-scraping and would like to help with this project.
- Before I start I wanted to get some input from you guys, how shall I go about implementing this in regards to project parameters?

### Thank you, sorry if I didnt fol

[2019-05-12 19:40] AibelKingslayer opened #494 "Non-ASCII character '\xe2' in file jarvis.py on line 4"
File "jarvis.py", line 4
SyntaxError: Non-ASCII character '\xe2' in file jarvis.py on line 4, but no encoding declared; see http://python.org/dev/peps/pep-0263/ for details

[2019-05-12 19:41] AibelKingslayer commented on #494
please plaese please help me

[2019-05-13 08:39] YasmineBOU commented on #421
Hi!

We have tried to pull a version of the GUI but when the tests have been done, it finds that it doesn't match any of the python's versions. Is it because we have used Pygame?

[2019-05-13 09:59] pnhofmann commented on #492
We have zero problem with python-only libraries dependencies. We currently even use Beautifulsoup for some modules (e.g. hackathon) - so Beautifulsoup is installed anyway. Just import and use ;). And maybe not scrap sites if the admin disallows ;).

Note: we currently have a command 'dictionary' (works offline). Please also check if there is no API for what you want to do.

But if you think your f

[2019-05-13 12:20] #367 closed

[2019-05-13 12:26] pnhofmann commented on #494
Hi!
That's an interesting error and can't reproduce. Could you provide more information (os, python version, branch)?
Line 4 of Jarvis.py is actually just:
`from colorama import Fore`
But it is actually '**J**arvis.py' and not '**j**arvis.py'. Strange...

[2019-05-14 13:44] AibelKingslayer commented on #494
thank you for your reply my os parrot sec os python 2.7

[2019-05-14 13:50] pnhofmann commented on #494
Hmm, could you try cleaning python cache:

(in Jarvis directory)

[code]

[2019-05-14 14:08] AibelKingslayer commented on #494
ok

[2019-05-14 14:11] AibelKingslayer commented on #494
bro the main file is Jarvis.py right

[2019-05-14 14:16] AibelKingslayer commented on #494
but its not executing when i type sudo python Jarvis.py

[2019-05-14 14:19] AibelKingslayer commented on #494
File "Jarvis.py", line 7, in <module>
    from CmdInterpreter import CmdInterpreter
  File "/home/aibel/Jarvis/jarviscli/CmdInterpreter.py", line 10, in <module>
    from utilities.voice import create_voice
  File "/home/aibel/Jarvis/jarviscli/utilities/voice.py", line 7, in <module>
    import pyttsx3
ImportError: No module named pyttsx3

[2019-05-14 14:19] AibelKingslayer commented on #494
pip install pyttsx3
Requirement already satisfied: pyttsx3 in ./.local/lib/python2.7/site-packages (2.7)

[2019-05-14 14:20] AibelKingslayer commented on #494
still error bro please help me please

[2019-05-14 14:39] pnhofmann commented on #494
Please no sudo!

No - actually not. You need to run

``./setup.sh``

This will install all pip-requirements and create a start-script jarvis.sh.

[2019-05-14 14:48] AibelKingslayer commented on #494
ok

[2019-05-14 15:00] AibelKingslayer commented on #494
thanks bro
now its working

[2019-05-14 15:02] pnhofmann commented on #494
;)

[2019-05-14 15:02] #494 closed

[2019-05-18 05:27] dilawer11 opened #496 "Shutdown on MacOS"
Shutdown plugin is not working for MacOS. I have created a fix by checking for OS and then issuing the correct command

[2019-05-19 15:28] CDR-Isaac opened #497 "Error when setting up Jarvis"

[2019-05-19 15:29] CDR-Isaac commented on #497
ERROR: Complete output from command /home/pi/github_projects/JARVIS/Jarvis/env/bin/python3 /home/pi/github_projects/JARVIS/Jarvis/env/lib/python3.5/site-packages/pip install --ignore-installed --no-user --prefix /tmp/pip-build-env-ijhqbygx/overlay --no-warn-script-location --no-binary :none: --only-binary :none: -i https://pypi.org/simple --extra-index-url https://www.piwheels.org/simple -- 'setup

[2019-05-19 17:23] pnhofmann commented on #497
Hi!
Thanks for your bug report.
[code]

You are on ARM? Guess, probably raspberry pi or something similar? Somehow your system is missing some packages...

Please try to install

[code]

and see if works now. If not: As a walkaround open **requirements.txt** and replace the line:

[code]

with

[code]

Nevertheless, Jarvis should install with pure python and no other requirements - I'll update the

[2019-05-22 01:45] TarunApp commented on #492
Hello, I have not yet embarked on this project yet because I am on windows. I have seen recent issues and posts relating to some troubles with windows. Additionally, do you know where I can get an indepth document on testing projects and contributing to them also. I am familiar with contributing, but I feel that there is a little vagueness, perhaps its me, but I just want to be efficient in my con

[2019-05-25 14:52] CDR-Isaac commented on #497
Hey, I had to install quite a few things, and it works, but thanks for the help!

[2019-05-25 15:17] CDR-Isaac opened #499 "GUI calculator"
I've been thinking towards a more graphical interface of Jarvis, just like in the Iron Man movies, and I know we could use a GUI calculator. Here is the code:

   from tkinter import *
   import re

   class Calculator:
       def __init__(self, master):
           self.master = master
           master.title("Calculator")

           self.screen = Text(master, state='disabled', width=30, height=3

[2019-05-25 15:23] CDR-Isaac commented on #499
I don't have much time on my hands, so im hoping someone can use this code to make something to implement into jarvis

[2019-05-25 15:24] CDR-Isaac commented on #499
I dont have much time on my hands so im hoping someone can turn this into someone great

[2019-05-25 15:42] pnhofmann commented on #499
Hi!

in fact, currently there is a GUI in work: #493
Unfortunately it uses a different framework (pygame) - which can work together according to [Stackoverflow](https://stackoverflow.com/questions/5293882/python-integrating-pygame-and-tk) - but honestly don't know ;).

[2019-05-25 15:57] CDR-Isaac commented on #499
ok great!

[2019-06-02 21:19] cyberboysumanjay commented on #483
This should do the trick for you!

`import webbrowser`
`webbrowser.open(url)`

[2019-06-02 21:23] cyberboysumanjay commented on #175
We can also use Unsplash API for fetching wallpapers and for running the script automatically we can use systemd. It works fine on my Raspberry PI

[2019-06-03 05:56] pnhofmann commented on #175
Perfectly ok with Unsplashed.

Just noticed there are two "APIs":
The big one: https://unsplash.com/developers
But it is also possible to get random images much simpler:
https://source.unsplash.com/

I would strongly recommend 2. option because it does not require API key!

About systemd, rather not. Systemd requires root + only works on linux - and actually not even on all linux systems. i Alread

[2019-06-04 15:19] appi147 commented on #175
Dont know if it can be done with only python, but it can be done with `feh` as much as i know

[2019-06-04 15:30] pnhofmann commented on #175
Good point - `feh` is quite useful. Downsides: Does not survive reboot and does not work with Wayland.

[2019-06-05 08:24] mikeperalta1 commented on #497
I also got endless errors until I finally installed every dependency. I think this project could get a little more traction if the README.md file listed all the dependencies you'd need to install, so everyone can easily find it. Especially on the Raspberry Pi.

I might try building this from scratch on Raspbian eventually. If I do, I'll try to make note of what steps I took.

[2019-06-05 08:43] pnhofmann commented on #497
Hi! And thanks for your response. In fact our aim is that at last basic functionality works with zero dependencies besides clean python (plus virtualenv).
I actually did some experimenting on an improved installer which among other things should fix this issue (#498) - but was to lacy to review + test + merge yet ;).

[2019-06-05 10:29] mikeperalta1 opened #500 "Using wrong audio output device"
Hello,

I'm unable to get jarvis to output sound, and I believe this may be due to an incorrect default audio configuration. I'm also unable to locate instructions that show how to configure jarvis to use the correct audio devices for speakers and microphone.

I'm using a Raspberry Pi 3 with the following attributes:

[code]

Below is a sample of the errors I'm getting:

[code]

I'm not great at c

[2019-06-05 11:04] pnhofmann commented on #500
Hi!

I'm usually using `pavucontrol` to select audio outputs.

Don't think it is duty of software like Jarvis to let the user choose Sound Interface. The error `Unable to find definition 'cards.bcm2835_alsa.pcm.surround40.0:CARD=0'` however is interesting - but probably a raspberry pi issue since we are in fact only using audio output with default options.

[2019-06-05 12:38] mikeperalta1 commented on #500
Yeah I suppose you make a good point about the user being responsible for selecting their own inputs. Although there is still something to be said for making a program easier to setup, especially for newbies on a headless device. Another "jarvis" project helps the user setup their audio with a wizard: https://github.com/alexylem/jarvis

But I suppose it could also just be written in wiki "use thes

[2019-06-10 18:16] Zml99 commented on #424
Hey, I was looking at the code and I saw someone has been working into some nlp stuff. That's great! (Was it you @pnhofmann??) But as far as I can see it's pretty basic still. I decided now to start working hard into this, so you will see me more around here. Keep up the good work guys :)

[2019-06-10 18:23] Zml99 commented on #424
Btw, someone know how I can make a branch in this project??

[2019-06-12 01:07] darrylsepeda opened #501 "Sounds output doesn't read from the text, kept repeating "what can I do for you?""
I found that when I run some command, and the response is giving some options like:
[code]
Jarvis will just repeating "what can I do for you?" as much as how many lines of options in there.

Its annoying to hear repeated sentence and because of this we couldn't hear and choose the option. Is this just happen on my device? or it is how it works currently?

[2019-06-12 08:10] pnhofmann commented on #501
Hi! And thanks for reporting this bug.

Sound output really needs some work - e.g. modules like wiki still ``print(...)`` directly to CLI (instead calling ``jarvis.say(...)``) so you won't hear anything.

But this is actually a easy to fix, actually quite embarrassing bug. Just merged small patch - should be fixed now.

[2019-06-12 08:14] pnhofmann commented on #424
Actually - not really... Just used nltk for dictionary-functionality if that is what you mean. Sorry ;).

That's something I can do.

https://github.com/sukeesh/Jarvis/tree/natural_language