[2019-06-12 09:59] darrylsepeda commented on #501
I see, it seems this repo is no longer maintained?

thanks for your reply, I saw and tried your solution but it started repeating something different,
instead of repeating "what can I do for you?", it repeats "dockerfile license makefile.......bla..bla..bla" when I just typed "check".

it should speak these options: check forecast, check time, check weather.
sorry I'm still new to python, hope I c

[2019-06-12 13:03] pnhofmann commented on #501
Actually it is - but lots of stuff is work in progress ;).

That's strange. Like really, really strange. You mean Jarvis is actually reading what files are in Jarvis home directory?
Also can't reproduce. Which os / python version are you using?

[2019-06-12 16:49] pnhofmann commented on #501
By the way: That's no problem at all - this project is quite good for learning ;).

[2019-06-13 06:32] darrylsepeda commented on #501
I'm using macOS mojave 10.14.5 with python3..
not sure if it is happen because I clone from this repo and just implement your solution or not.

Yesterday evening, I tried to clone your repo and run it, but somehow it gets error I couldn't solve about the dependencies so I use this repo back.. Yeah, will learn more about this project once I have free time.

[2019-06-13 08:05] darrylsepeda commented on #501
I tried to record jarvis error but since I couldn't upload .m4a files, I change the extension become .txt. You can download and change the extension back to .m4a to listen about the error.

Somehow, after I installed soundflower to record the audio, the error message change to become "uninstall soundflower.. bla..bla..bla", I was guessing the error in my jarvis is related with some jarvis dependen

[2019-06-26 21:27] Ian-Gabaraev opened #504 "Crypto Tracker Feature"
# A handy tool to monitor cryptocurrency prices.

[code]

[2019-06-27 12:05] pnhofmann commented on #501
Sorry for long delay. Finally know what is causing this issue!!!
So, macOS - always bit problem for me because I have no way to test ;). The relevant part of the code:

``system('say {}'.format(speech))``

system uses bash. bash expands the * in 'say * movie cast' to every file in directory - obviously...

So small fix:

[code]

(Copy-Paste and run from Jarvis home folder)

Would be really nice if

[2019-06-27 12:11] pnhofmann commented on #504
Hi!
Looks good to me! Would you like create Pull Request?

You would just have to convert your code to a plugin. But that's actually quite easy:
* from plugin import plugin
* Add ``@plugin("cryptotracker")`` above ``def check_vafourites():`` (and remove ``#go! check_favourites()``)
* Make ``def check_favorites():`` a ``def check_favorites(jarvis, s):``

If you need any help (e.g. with git/github)

[2019-06-27 14:29] TobiOkanlawon commented on #411
I would like to work on this voice control feature. Please guide me as to where to begin, and also is it a good first issue. Kinda new to all this

[2019-06-27 16:03] pnhofmann commented on #504
Yep, OK I see #506. Not really like PRs work, but no problem, this project is a really good opportunity for learning ;).

So, first, here's something for you to bookmark:

* https://git-scm.com/book/en/v2/

Quite a lot to read, but "Pro Git" is a really good book about everything interesting about git. And it's free and good for look up stuff ;). Also contains chapter about github:

* https://git-

[2019-06-27 16:09] Ian-Gabaraev commented on #504
Thank you, pnhofmann!
I am really new to this, but I followed your instructions. I have committed the cryptotracker.py to the master branch.
I like this project, and I would love to make a useful contribution!

[2019-06-27 16:27] pnhofmann commented on #411
Hi!

Wouldn't know why not.

So obviously we don't write own Speech Recognition - but just use a library. In our case:

https://pypi.org/project/SpeechRecognition/

Voice control is implemented in ``jarvicli/plugins/voice_control.py``. Guess you should just take a look and try to understand the code. The just try bit experimenting ;).

[2019-06-27 18:46] TobiOkanlawon commented on #411
How about us implementing the offline voice control with [pocketsphinx](https://pypi.org/project/pocketsphinx/). If you are still particular about keeping the SpeechRecognition module then maybe you can implement something to check if there's internet connection and switch accordingly.

What do you think

[2019-06-27 19:09] pnhofmann commented on #411
CMU Sphinx - which contains pocketsphinx - is in fact supported by SpeechRecognition. SpeechRecognition is a meta-module which unites multiple Speech Recognition services.

If you have a good reason to call pocketsphinx directly, that would perfectly ok. But yes: Having offline SpeechRecognition would be great and CMUSphinx was in fact what I had in mind.

[2019-06-28 11:14] Ian-Gabaraev commented on #504
Amazing :)
I appreaciate your being so helpful, pnhofmann!
Let us connect on Facebook?

[2019-06-28 13:28] pnhofmann commented on #504
Sorry - don't use Facebook.

[2019-06-28 13:28] #504 closed

[2019-07-02 14:27] lugoc20 opened #510 "License issue"
After running some license scanning programs i found out that  about 16 of the modules have GPL3 license while JARVIS is supposed to have MIT license.

[2019-07-02 17:21] pnhofmann commented on #510
And?

GPL3 does not enforce licensing necessary under GPL3 - but under GPL-compatible. Look GPL FAQ:
https://www.gnu.org/licenses/gpl-faq.html#WhatDoesCompatMean

The MIT (or X11) License is definitely GPL compatible.
https://www.gnu.org/licenses/license-list.html

So I see no problem! But feel free to re-open if you disagree.

[2019-07-02 17:21] #510 closed

[2019-07-14 10:31] Sirri56 commented on #424
Snips-NLU looks great, and completely fulfills the purpose. Can't we change the language parser and integrate Snips with it ???

[2019-07-16 03:13] Sanil2108 opened #514 "[new_feature] New feature - Add a typing test as a game"
I thought it would be cool to add a typing test as a game, I am not sure how multiple games would work though. It could be the command line equivalant of this - https://thetypingcat.com/typing-speed-test/1m .

[2019-07-17 08:53] pnhofmann commented on #514
Hi!
Like this idea! You want to work on this?

Would probably call this feature just 'typing test' or 'test typing'?
Or we just say there is 'game bulls and cows' and 'game typo'.

[2019-07-17 08:58] pnhofmann commented on #424
That would be the idea ;). And I guess, this would actually be something possible with passable effort.

However work is still necessary. Mainly to generate the json traning data. You want to help ;) ?

[2019-07-17 09:01] Sanil2108 commented on #514
Yes! I will start implementing it.

I think "typing test" could be a good name.

[2019-07-18 01:20] Matthew237 commented on #486
I have just created a pull request that fixes this issue

[2019-07-18 07:21] Matthew237 commented on #487
I am now currently working on this. I have it working provisionally and I will create a pull request once I am sure the code meets the PEP-8 requirements and after I have added some better natural language processing for translation (right now you have to enter the command somewhat robotically for it to work).

[2019-07-19 23:52] Matthew237 opened #518 "Cannot backspace over lines in commands"
While testing a new translation feature, I input a longer sentence to translate that resulted in the cursor moving onto the next line. I realised I had made a mistake and tried to backspace but it would not let me go back across the line break.

Not 100% sure how to fix this but I could look into it.

Steps to reproduce:

1. Type in any sequence of letters (doesn't matter what, it can be gibberish

[2019-07-20 22:40] aeciorc opened #519 "Run commands directly from the terminal"
I thought it would be nice to able to get jarvis to run a command directly from the terminal, i.e, without having to initialize it and wait for the prompt.
For example:
 `jarvis roll` would initialize jarvis, run the dice.py plugin, print the ouput and exit.

If it is approved, I would love to implement it myself.

[2019-07-21 08:17] pnhofmann commented on #486
#516

[2019-07-21 08:17] #486 closed

[2019-07-21 08:30] pnhofmann commented on #518
Thanks for reporting this bug!

Did some testing and should be fixed with this one-line patch:

[code]

But this again might break color on some terminals (e.g. windows) - which was, the reason I added ``self.use_rawinput = False`` in the first place. Didn't notice this had such unwanted side-effects.

=> I'll need to do some investigation how to best read input, but I think this issue can be fixe

[2019-07-21 08:35] pnhofmann commented on #519
Hi!
Like this idea ;). Looking forward to your PR!

[2019-07-22 00:45] aeciorc commented on #519
Awesome, I just submitted it :)

[2019-07-23 05:26] Matthew237 commented on #518
This fix doesn't break colour on my terminal but it does cause a different bug unfortunately. Now instead of going on to a second line when I reach the end of the first, the cursor starts at the beginning of the first line again and overwrites the characters on the first line. It will let me backspace but it goes up a line when it reaches the start of the first line again and allows me to delete s

[2019-07-23 10:15] pnhofmann commented on #519
Thanks!
#520

[2019-07-23 10:15] #519 closed

[2019-07-24 21:44] TobiOkanlawon opened #521 "New feature Read out pdf file"
I always find myself in a position where I have a long pdf file to read and something else to do at the same time. It'll be nice if jarvis could read out those pdf files for me. I already had a first try implementation, but pyaudio isn't installing on my system, so I can't test the concept.

Can someone else implement this please?

[2019-07-25 10:28] pnhofmann commented on #521
Yep, would be quite useful!
There are python-libraries to extract PDF text - printing this text would probably possible with like 2 lines of code.

Biggest challenge I see: You probably won't want e.g. whole table of content read loud. Or read first part, pause, and sometimes later continue reading the long pdf. Or skip one page.
We would probably need some concepts how the user can interact with

[2019-07-25 13:15] steeve-legal commented on #443
I have a similar problem on ubuntu 18.04, tried JonanOribe code, still getting this error message,
Any help will be much appreciated
  Running setup.py install for pyaudio ... error
Portaudio is required for voice control. On your system, it can be installed using:

Install now? (y/n)y
Lecture des listes de paquets... Fait
Construction de l'arbre des dépendances
Lecture des informations d'état...

[2019-07-25 13:45] pnhofmann commented on #443
Hi!

You can safely ignore this error - if you don't plan to use voice recognition (which is in an early stage anyway).

To fix this error you would need to:

``sudo apt-get install python-dev``

for Python 2 or for Python 3:

``sudo apt-get install python3-dev``

I'll merge updated installer soon, which will improve output.

[2019-07-25 14:43] steeve-legal commented on #443
Thanks for your quick reply,
python-dev and python3-dev were already installed on my system...
Do I have to set it up in one of Jarvis folder and if yes how ?
I'm working on this with a very small team to set an ubuntu system able to be used by disable people like nearly blind or blind and other disabilities, voice recognition would be greatly useful with French language added with original Englis

[2019-07-25 15:36] pnhofmann commented on #443
That's strange. This Python.h should definitly be included in python3-dev. Currently no idea - Sorry...

Thanks ;) - but

This is basically a playground for beginners (including me) to learn basics of development. And of course to have fun with a software, which can actually be quite useful for personal use.

I'm really sorry, but I don't think this project is ready for your use-case. Especially s

[2019-07-25 18:06] steeve-legal commented on #443
Thanks for this detail about this Python.h, I'll try on my side but I don't hope since I've tried so many assistants without any good results excepted your one working very well with text typing.
I guess that might be possible one day or not.

Wish you the best too !

[2019-07-25 18:40] steeve-legal commented on #443
I just found  2 Python.h files located in /usr/include/python3.6m and /usr/include/python2.7
P for Python.h in uppercase, could it be a path problem ?

Cordially

[2019-07-25 21:58] TobiOkanlawon commented on #521
Thanks, you're really making a lot of sense with this. I had the same problem with Microsoft's pdf reader on edge back when I used Windows. Maybe, making the reader 'smart' wouldn't be a bad idea. I really wish I would implement this myself, would be a great learning experience.

[2019-07-26 17:19] JonanOribe opened #524 "Add database to Jarvis"
Maybe is time to add a database to Jarvis because if we want that it really works as personal assistant, it will need to know the user it works for. You know...what stuff the user likes, user's personal configuration, agenda,etc..So, what do you think?

[2019-07-26 17:23] JonanOribe commented on #485
I just upload a new plugin that works as personal configuration configurator. It works with CSV, but because i'm waiting for a "green light" for a database implementation on Jarvis, that finally is better that work around CSV,JSON or something like this

[2019-07-26 18:04] pnhofmann commented on #524
Actually - there is already:

https://github.com/sukeesh/Jarvis/tree/master/jarviscli/packages/memory

Also take a look at:

https://github.com/sukeesh/Jarvis/blob/master/doc/API.md#get_data

Basically just writes data to a json file - so really simple and can certainly be improved. But is already used for example to save users location.

[2019-07-27 09:08] appi147 opened #530 "stock does not work"
API has been moved to new url, needs registration and authentication

[2019-07-27 09:18] appi147 opened #531 "Make require for windows"
Windows does not seem to respect @require(linux)

[2019-07-27 09:19] appi147 commented on #531
@pnhofmann Any ideas

[2019-07-27 09:45] shreyashag commented on #524
I am willing to take this up.
Redis implementation seems to be simple enough.

If we are going to add a connection, we need to store the connection URL somewhere, like a config file.
Is this community opinionated towards some kind of markup? (INI/YAML/XML/etc.)

[2019-07-27 10:18] pnhofmann commented on #531
Yep, isn't implemented yet - like documented here:
https://github.com/sukeesh/Jarvis/issues/346#issuecomment-431596464
And unfortunately nothing has changed since ;(.

The @require(linux) check just wasn't build with windows in mind - basically checks if system is not macOS... Should be quite easy to fix.

[2019-07-27 10:26] pnhofmann commented on #524
Redis (server) unfortunately is written in C and therefore needs compilation + installation not possible with pip only.

Non-python dependencies is something we avoid - especially for core components.

Actually I don't really see why our current approach (store data in json file + use simple python dictionary) shouldn't be enough for what we do. But if we really need a real database, I would prefe

[2019-07-27 10:52] appi147 commented on #531
Thank you

[2019-07-27 11:17] pnhofmann commented on #531
I would also introduce require(platform=UNIX) as shortcut for Linux or MacOS.

What should we do about cygwin? Is this Windows or Linux or unix or a own platform or not supported?

[2019-07-27 11:21] appi147 commented on #531
With arrival of Linux subsystem on Windows, cygwin is kinda not required to support. I am not interested in supporting cygwin. Maybe let it be unsupported.

UNIX is a good idea.

methods such as shutdown, or commands like sudo, grep, can be moved in UNIX.

[2019-07-27 11:24] appi147 commented on #524
I second @pnhofmann . We really don't need a database. JSON is quite simple and fast. Also, all the methods are quite implemented and documented. If there is something you want to improve in this system, it is welcomed

[2019-07-27 11:27] JonanOribe commented on #424
I usually work with NLP.js, is a library for Javascript that gives you the opportunity to make natural language processing with more or less good results(they will be better with future training rounds). This library does not look for a exact word in a phrase, but makes a comparision between users input and a bunch of phrases that it has inside the training set and if it finds something similar gi

[2019-07-27 11:33] appi147 commented on #424
Do we really need to go for Javascript?

[2019-07-27 13:21] appi147 commented on #531
For python2.7.3+ [Possible outputs of sys.platform](https://docs.python.org/2/library/sys.html#sys.platform). Main point linux2 is used for most Linux systems.
For python3.3+ [Possible outputs of sys.platform](https://docs.python.org/3/library/sys.html#sys.platform). Main point linux is used for all linux systems

[2019-07-27 15:25] #531 closed

[2019-07-27 16:05] steeve-legal commented on #443
Hello, couldn't let it like this, I apologize, everything went well with python-dev and python3-dev, I just forgot to restart python after that.
Then I've been able to install Jarvis with none error
Thanks for the trick !

[2019-07-27 20:28] shreyashag commented on #524
If there is provision for storing credentials, existing functionality can be extended.

Example, email credentials can be stored, and additional functionalities can be added, such as storing the login.

Willing to implement the same with sqlite also.

[2019-07-27 20:42] shreyashag commented on #524
#534
Have added a fix for memory as I would like to contribute to this area of Jarvis!

[2019-07-27 20:48] appi147 commented on #524
Storing of credentials is not a good idea. We can accept PR if you want to contribute. But implementation should be simple and fast

[2019-07-28 04:39] Matthew237 commented on #424
Hi guys, I don't know if this is of any use, but I happened to find this:

https://github.com/nate-parrott/commanding

It's not as sophisticated as I imagine some of the machine learning options would be but it could be a good intermediate step while the proper training data for machine learning is generated. I tested it with a single command as its training data (translation, since I've been work

[2019-07-28 17:15] shreyashag commented on #524
Why is storing credentials not a good idea?

An assistant needs to know who you are. It carries an overhead of setting/clearing/resetting the config, but it's doable and will allow a lot of customisation with respect to the user.

[2019-07-28 17:18] appi147 commented on #524
If password is to be stored, it doesn't matter if you store in plaintext or database.

[2019-07-28 17:18] appi147 commented on #524
It is too risky.

[2019-07-28 17:21] shreyashag commented on #524
No, don't store passwords. Store auth credentials that can be used for API access, for example google Oauth to access Gmail API and contacts.

[2019-07-28 17:31] appi147 commented on #524
@pnhofmann

[2019-07-28 18:40] pnhofmann commented on #524
No problem with auth credentials - but don't see a difference if it's in a database or plain json file.
I have no general problem with database. But a database is just more complicated as current simple json approach and that would need some justification, because a database is not something you integrate just for fun.

So the key question I would ask: @shreyashag What would you do with a database

[2019-07-28 19:43] #496 closed

[2019-07-28 19:45] shreyashag commented on #524
@pnhofmann In my opinion, having a database seems like a more standard and flexible, albeit cumbersome approach.
Here are a few things we could do-

1.  Store user profile information.
2. Setup daily news crawler in background processes that store news relevant to the user.

On the same note, I realize this discussion is ahead of time.
I will think of more concrete and useful examples.

You can ma

[2019-07-28 19:55] shreyashag commented on #421
Hi!

I'm new to this discussion, but just a question.
How will the GUI work in case of docker deployment?

Wouldn't that need port forwarding the X server or something along the same lines? Also, how would this be achieved in Windows?

[2019-07-28 20:04] JonanOribe commented on #524
I was thinking in something like @shreyashag  said. For example, maybe I want that Jarvis save information about the weather,my agenda, wallstreet, whatever, because at the end of the week I want a summary or draw a  chart with the evolution of the prices of "x" value.I see the database as a fundamental for long-term processes, so then we could ask for "time series" instead of about today's value

[2019-07-28 20:16] JonanOribe commented on #424
I work with python and javascript and at this moment, the best NLP libraries that I could find are for the last one. I'm working in an implementation between Jarvis and NLP.js in a local repo, and the thing looks good. When I will finish this job I will update my repo, so if anyone want to try this option, be my guess and then, we can talk about if  javascript gives us more problems that solutions

[2019-07-29 14:31] alexandr7035 opened #535 "Proper name for new command"
I want to create a new feature. Should i use such prefixes as "write ...",  "tell ..." or "print ..." in my command in order not to litter output of the "help" command? (especially if my command will have some aliases)

[2019-07-29 17:19] appi147 commented on #535
`help` command is an issue. You can name your plugin as you like.

[2019-07-29 18:33] appi147 commented on #530
@pnhofmann Can we add a modifier like @require, for packages that are not supported atm, until they are fixed.

[2019-07-29 21:33] alexandr7035 commented on #535
Thanks!)

[2019-07-29 21:34] #535 closed

[2019-07-30 01:47] appi147 commented on #524
It can be added. If anyone in future wants to use it in their future, why stop them right? We just could not think of scenario, where our [existing system](https://github.com/sukeesh/Jarvis/blob/master/doc/API.md#get_data) can't be used. Its simple to use, its fast, and user can manually enter their or update their values manually in any editor.

[2019-07-30 02:44] CremBluRay opened #537 "Search google for questions Jarvis doesn't have a plugin for"
I noticed that Jarvis doesn't understand google-search type questions, so I was wondering if I could work on a plugin that searched google and parsed the results.

[2019-07-30 02:47] CremBluRay commented on #537
I was thinking I could use something like serpwow to do it. It would be really simple and might improve natural language understanding of the AI.

[2019-07-30 02:55] appi147 commented on #537
Go ahead!

[2019-07-30 02:56] CremBluRay commented on #537
thanks! I'm on it!

[2019-07-30 03:27] appi147 opened #538 "Use requests in place of urllib2, urllib, urllib.error, urllib.request, etc."
- Uniform approach
- recommended by python official docs itself
- requests will be now community maintained

[2019-07-30 08:26] pnhofmann commented on #530
Either that or we set platform=[]

[2019-07-31 11:07] sravanjosh opened #542 "Voice output fails in Mac if the text has non command line friendly literals"
Following is my observations in MacOs.

~> Hi, what can I do for you?
buy
sh: -c: line 0: syntax error near unexpected token `('
sh: -c: line 0: `say Pick a site (Amazon or Ebay)'
Pick a site (Amazon or Ebay)

[2019-07-31 12:00] appi147 commented on #542
Can you suggest fix for it? Cause we don't have access to mac

On Wed, 31 Jul 2019, 16:37 sravanjosh, <notifications@github.com> wrote:

[2019-07-31 12:11] pnhofmann commented on #542
May be related to #501. Think the fix I posted there could fix this one, too - honestly forgot to commit + push the change.

[2019-07-31 13:03] appi147 commented on #542
Hey @sravanjosh , if you have access to mac and if you are free this weekend, can you help me test a PR if I ask you?

[2019-07-31 13:32] sravanjosh commented on #542
Sure. I can. But I think this is a simple fix for Mac.
Me being looking for contributing, can I take up this issue my self?

[2019-07-31 14:29] appi147 commented on #542
Yeah you can fix it. I meant for another PR I am working on.

On Wed, 31 Jul 2019, 19:02 sravanjosh, <notifications@github.com> wrote:

[2019-07-31 14:49] sravanjosh commented on #542
Sure. for other PR, I can help you test. But not this weekend.
Please drop me a message.

[2019-07-31 16:25] appi147 commented on #542
Sure. Whenever you are free :+1:

On Wed, 31 Jul 2019, 20:19 sravanjosh, <notifications@github.com> wrote:

[2019-07-31 17:39] #538 closed

[2019-07-31 18:29] appi147 commented on #346
merging #536 , renamed to bare bones for windows
Will add new pr for full windows capabilities,
did not change readme(win is beta for now)

[2019-08-01 09:44] sravanjosh commented on #542
Submitted a pull request for this. Please review and merge.

[2019-08-02 07:22] appi147 commented on #542
#545

[2019-08-02 07:22] #542 closed

[2019-08-02 12:37] alexandr7035 opened #546 "Speech bug: jarvis.say('') causes "segmentation fault""
I noticed that jarvis crashes if I run 'game' with enabled sound
`~> Hi, what can I do for you?`
`enable sound`
`~> What can i do for you?`
`game`
`./jarvis: строка 3:  6807 Segmentation fault      (стек памяти сброшен на диск) python /home/alexandr7035/prog.d/Jarvis/jarviscli/ $*`

The game crashes at the following string:
`jarvis.say('')`

Found that this is an issue of  pyttsx3:
`>>> eng = pytt

[2019-08-02 12:41] alexandr7035 commented on #546
I see jarvis for windows also uses pyttsx3, but i can't test this fix by myself, so added only for linux

[2019-08-02 14:28] appi147 commented on #546
It does not crash on windows

[2019-08-02 14:29] #546 closed

[2019-08-02 14:42] appi147 commented on #340
We dont have twitter now

[2019-08-02 14:42] #340 closed

[2019-08-02 14:42] #132 closed

[2019-08-02 14:43] appi147 commented on #178
Its implemented

[2019-08-02 14:43] #178 closed

[2019-08-02 14:44] #412 closed

[2019-08-02 14:44] #422 closed

[2019-08-02 14:46] #443 closed

[2019-08-02 14:47] #455 closed

[2019-08-02 14:48] #477 closed

[2019-08-02 14:50] appi147 commented on #492
@TarunApp Jarvis works on windows fine now. Feel free to ask any questions if you are willing to work on it

[2019-08-02 18:39] TobiOkanlawon opened #548 "Jarvis says 'Speech not Supported!' even when I have pyttsx3 installed"
The results of both pip and pip3 install pyttsx3 is a``` Requirement already satisfied and stored in .../local/lib/python3.7/.... ```

Meanwhile enable sound on jarvis returns ```Speech not supported! Please install pyttsx3 text-to-speech engine (sapi5, nsss or espeak)```.

Is there something that needs to be done that I didn't do?

[2019-08-02 18:50] pnhofmann commented on #548
Linux? Like error message says, you need sapi5, nsss or espeak. I usually use espeak - e.g. Ubuntu simply sudo apt-get install espeak

[2019-08-02 19:03] #548 closed

[2019-08-02 20:27] plant999 commented on #521
or can we have like reda the text of the pdf and try to make a synopsis out of it and then make jarvis read it.

[2019-08-03 10:28] Aceee-dev opened #549 "Add feature - File converter on command"
I am very much interested in implementing a feature in which we can convert one file format to other by giving command to jarvis.

For example from doc to pdf  etc.
Is this feature already existing ?

[2019-08-03 11:28] appi147 commented on #549
Sure. Go ahead

[2019-08-04 16:15] shreyashag commented on #421
Makes sense!
Is there any update on this @YasmineBOU ?

[2019-08-04 17:33] YasmineBOU commented on #421
Hi!

As we are doing an internship and other stuffs, we haven't much time to continue working on it. However, after this internship finished and of course if everything goes well, we'll try to continue on it.

Please excuse us for the delay.

[2019-08-04 17:57] pnhofmann commented on #421
No need for an excuse and please don't trouble yourself ;).

[2019-08-04 18:04] YasmineBOU commented on #421
Thank you for your understanding.

[2019-08-07 12:35] plant999 commented on #549
ok, already started working on it..

[2019-08-15 16:38] Dastar opened #551 "Plugin categories"
There are four different plugins to generate something random (coin, dice, random_number and random_password) and already two different games (cows and bulls and rockpaperscissors).

Maybe I should organise them into one plugin (one fir random, second for games), and from this plugins we will call specific plugins?

[2019-08-23 06:02] madhavkulkarni1986 commented on #530
I feeel, we have two options to fix this:

1.  Just like in the news plugin, as the user to register here https://iexcloud.io/cloud-login#/register and provide a way to add the apikey into memory. The same can be passed to the api query. There is a free tier with 500000 queries per month per key.

2. Find a new api that provides a authentication less access to stock data(https://github.com/public-

[2019-08-23 21:26] TobiOkanlawon commented on #548
Why not just drop it in the requirements file?

[2019-08-23 23:04] pnhofmann commented on #548
Because these text2speech engines are not Python dependencies and therefore can't be installed with python pip / requiements.txt. And unfortunately I don't know any alternative which can be installed with pip.

[2019-08-25 00:07] pablorq commented on #443
Hi,

On Ubuntu 19.04 I confirm the following is needed to install pyaudio:

`sudo apt-get install portaudio19-dev`

And the following is for hear jarvis talking:

`sudo apt-get install espeak`

Enjoy!

[2019-08-26 14:45] madhavkulkarni1986 commented on #530
This issue is fixed with the new API. Please check PR #554
Let me know if this is acceptable.

[2019-09-05 15:38] pnhofmann commented on #551
There is e.g. already plugin 'random' with subcommands 'number' and 'password'.

That's because if you create a plugin "random password", actually two plugins are crated: "random" and "password" as sub-plugin of random.

What I agree:

* We could add "random_coin" and "random_dice" as aliac for "coin" and "random" (without problem)
* We could add "game_bulls" and "game_rockpaperscissors" as alias

[2019-09-26 17:33] mikek4233 opened #559 "Add plugin - website status check"
I am interested in having a plugin that you put in a website and you get back the status code. I started working on this already.

Do you have any thoughts?

[2019-09-29 19:47] pnhofmann commented on #559
Hi, sounds good!
I guess you are using python requests library?
If this plugin could e.g. return for 301 Moved Permanently also new location, think this plugin could actually become really helpful!

[2019-10-01 18:46] mikek4233 commented on #559
Sounds good!

I am using a library called urllib

I think my V1 will just return the status code and then I will work on adding maybe what each code means and if it moved then the new location as well. Is that ok?

[2019-10-02 18:47] mikek4233 commented on #559
#565 Merged

[2019-10-02 18:47] #559 closed

[2019-10-03 07:32] mikek4233 opened #568 "Plugin for DNS Lookup (Reverse and Forward)"
A plugin that you can put an IP address in and get back the hostname and vice versa

[2019-10-03 07:48] #474 closed

[2019-10-03 07:48] appi147 commented on #346
#561

[2019-10-03 07:48] #346 closed

[2019-10-03 11:10] akshathkaushal opened #569 "Jarvis is not able to open a browser link"
The command open website www.google.com is not working.

[2019-10-03 12:42] appi147 commented on #569
Its not supposed to be

[2019-10-03 12:43] appi147 commented on #569
See issue #483 and PR #484

[2019-10-03 12:43] #569 closed

[2019-10-04 17:38] akshgpt7 commented on #499
@CDR-Isaac Hey can I build one in Tkinter. Can you just let me know what all functions you want in the calculator?

[2019-10-05 20:14] alexandr7035 opened #575 "Crashes when use 'rmax' argument in jarvis.input_number() method"

[2019-10-05 20:15] alexandr7035 commented on #575
Caused by typo in CmdInterpreter.py

[2019-10-05 20:19] alexandr7035 commented on #575
#576

[2019-10-06 16:41] pnhofmann commented on #575
Thanks for fixing this!
#576

[2019-10-06 16:41] #575 closed

[2019-10-07 19:52] mikek4233 commented on #568
#572

[2019-10-07 19:52] #568 closed

[2019-10-07 19:58] #497 closed

[2019-10-08 12:33] Rickecr commented on #483
Hi, I am interested in solving this issue. Can ?

[2019-10-08 12:52] pnhofmann commented on #483
Hi!
hmm,  rogervieiraa did actually quite a good job: #484
But you could review this PR. Or create a new plugin. Or try to improve existing plugin ;).

[2019-10-08 17:23] Rickecr commented on #483
Oh, I didn't even realize it was already resolved in an old PR.

[2019-10-09 17:42] prasannarajaram opened #581 "Jarvis Installation Issue on Arch Linux"
I cloned the git repo to install Jarvis onto my Arch linux.
_espeak_ did not install during the process
I could not run `$ jarvis` from the command line in the terminal.
Here is a installation dump from [pastebin](https://pastebin.com/WTgiKAMf).

[2019-10-09 18:21] pnhofmann commented on #581
Sorry! Seriously forgot to set execute Permission (+x) to the installer. Quick fix for you:

```sudo chmod +x  /usr/local/bin/jarvis```

And I'll immediately fix this issue.

[2019-10-09 18:26] pnhofmann commented on #581
By the way: Are you apart from that satisfied with our (new) installer? Anything unclear or stuff you noticed that can be improved?

Just for me to get some feedback and maybe to learn from that ;).

[2019-10-09 19:17] #581 closed

[2019-10-10 14:01] marcjal opened #584 "Use Jarvis with virtualenv."
Hi 👋!

I have some problems to use Jarvis. I'm using Python 2.7.10 and a virtual environment. When I saw the README I think that was only that but the `python installer` I confused with that because is a folder and not a file. When I enter to installer folder I install the dependencies from requirements.txt. So if someone can help me I'd be very happy

[2019-10-10 14:33] appi147 commented on #584
Hi @marcjal Python 2 support has just been dropped. Check releases page. Last version (without installer) to support python 2 is present there. Or go to 1.0 tag

[2019-10-10 17:04] marcjal commented on #584
@appi147 Hi 👋! Thanks for your comment. I'm going to do that

[2019-10-10 17:09] #584 closed

[2019-10-10 21:39] appi147 commented on #584
Let me know if you face any issue

[2019-10-11 11:11] marcjal commented on #584
@appi147 Sure! I'm going to study the code I would like to contribute. How can I help to be part of collaborators?

[2019-10-11 11:37] appi147 commented on #584
To be a collaborator, you need to stay for some time with this project. Review PRs and the current codebase, and how can be it improved.

[2019-10-11 11:49] #500 closed

[2019-10-11 12:37] marcjal commented on #584
@appi147 cool 😎! I got it. So I'm studying right now the code.

I have a question maybe is silly but what is the advantage of using docker in this project?

[2019-10-11 12:44] pnhofmann commented on #584
Actually - this is a good question! So good, that I just noticed, docker currently is broken ;) (*).
If you don't use docker, just ignore it ;).

(*) I'll fix it later

[2019-10-12 12:27] NilayMajorwar opened #588 "Jarvis.say should not always speak out"
The current implementation of `jarvis.say` speaks out the text whenever speech option is enabled. Instead, long or specially formatted text (say long lists, tables or ASCII art) should not be spoken out even if speech is enabled.

To accommodate this, I am adding an optional bool argument to `jarvis.say`, that controls whether text should be spoken out loud or not. This is by default `True`, to ma

[2019-10-13 09:05] #588 closed

[2019-10-15 19:35] marcjal opened #592 "Create a plugin to Jarvis"
Hi 👋! I have some problems trying to add a new plugin to Jarvis so I created my plugin.py file and imported the module `from plugin import plugin, alias` some interesting is this message ```from plugin import plugin, alias
ModuleNotFoundError: No module named 'plugin' ``` and I have problems to teste Jarvis from the repo I don’t know how to install it... I used Jarvis from the release, download th

[2019-10-17 14:52] jay24rajput opened #593 "Installation problem on ubuntu 18.04"
The following log file is generated after running ```python installer```. Any solutions?

[2019-10-17 19:40] pnhofmann commented on #592
Hi!

This zip?
https://github.com/sukeesh/Jarvis/releases

Yes, that's an older version of Jarvis using old installer. For new version - like documented in README.md - use:

```In order to start Jarvis just clone this repository repository and run python installer.```

So to eliminate all misunderstanding:

* Your plugin is either located in custom or in jarviscli/plugins
* You don't call your plu

[2019-10-17 19:42] #592 closed

[2019-10-17 20:21] pnhofmann commented on #593
Thanks for reporting this bug!

Did some research - this should be caused by trouble with ``source env/bin/activate`` in non-interactive shell and found a workaround. But need to do some more testing + make my fix work on windows => On my list for tomorrow ;).

For now, you can use this fix I uploaded to my personal branch:

https://github.com/pnhofmann/Jarvis/tree/installer

At last worked for my

[2019-10-18 08:59] alexandr7035 commented on #593
+

[2019-10-18 09:58] #593 closed

[2019-10-18 09:59] pnhofmann commented on #593
Fixed!

[2019-10-18 11:01] pnhofmann opened #596 "Move plugins/animations.py to utilities / JarvisAPI"
Propose and plan to implement:

* Move plugins/animation.py to utilities folder
* Add spin_start and spin_stop to JarvisAPI
* Make sure, spinning stops in all cases - even if exception is thrown

[2019-10-18 11:07] pnhofmann commented on #524
Agree with appi147 and I'm closing this issue - if someone needs a database, feel free to implement, but we won't add a database just in case it could be needed.

[2019-10-18 11:07] #524 closed

[2019-10-18 11:21] pnhofmann commented on #175
Closing this issue, because it's quite old and I honestly don't think it's worth the effort, because every Linux-desktop apparently needs different way to set wallpaper.

Additionally there are  [tools](https://www.omgubuntu.co.uk/2016/09/a-bing-wallpaper-linux-app-for-dummies) out there to change wallpaper e.g. to bing wallpaper of the day.

But in case someone wants this feature and would like t

[2019-10-18 11:21] #175 closed

[2019-10-18 11:24] #470 closed

[2019-10-18 11:27] pnhofmann commented on #483
#484

[2019-10-18 11:27] #483 closed

[2019-10-18 12:11] pnhofmann commented on #596
Sure!

[2019-10-20 08:49] theViz343 opened #597 "New feature- blackjack game"
I was thinking that maybe adding a CLI blackjack game would be really cool. What do you say? I already have the game's design ready, just need it to integrate it with Jarvis.

[2019-10-20 15:09] pnhofmann commented on #597
Sure! Sounds good.

[2019-10-20 23:59] weathon opened #598 "[QUESTION] How can I use voice?"
I install all the needs library(Software), but now it only accepts my text input but cannot listen to my sound.
I am using Raspbian on Raspberry Pi 1 B+

[2019-10-21 07:06] appi147 commented on #598
Try `hear` command

[2019-10-21 13:00] codecakes commented on #411
Was skimming through issues. Would like to know for which of the following backends, support is built?:

- [ ] CMU Sphinx (works offline)
- [ ] Google Speech Recognition
- [ ] Google Cloud Speech API
- [ ] Wit.ai
- [ ] Microsoft Bing Voice Recognition
- [ ] Houndify API
- [ ] IBM Speech to Text
- [ ] Snowboy Hotword Detection (works offline)

[2019-10-21 17:59] pnhofmann commented on #411
Currently only Google Speech Recognition - Speech Recognition is in a really, really early stage...

[2019-10-22 02:09] weathon commented on #598
It can hear me now but still cannot read out the answer

[2019-10-22 16:14] appi147 commented on #598
You need to `enable sound`

On Tue, 22 Oct 2019, 07:39 Wayne, <notifications@github.com> wrote:

[2019-10-23 15:25] weathon commented on #598
@appi147
It only can read out "WHat can I do for you" but not the reply

[2019-10-23 16:37] pnhofmann commented on #598
What are you Jarvis asking to do? Might be an issue with this command, you are trying to use...

[2019-10-23 19:27] weathon commented on #598
I ask the weather

[2019-10-26 11:05] pnhofmann commented on #530
#554

[2019-10-26 11:05] #530 closed

[2019-10-26 21:22] alexandr7035 opened #603 "Improve Ctrl-C handling in interactive plugins"
If Ctrl-C shortcut is pressed in plugins which ask user for imput (like 'bmi'), jarvis is closed.
Perhaps it would be better to return user back to the jarvis command line?

I'm trying to fix that using 2 diffrent SIGINT handlers and changing them in precmd() and postcmd() methods of Jarvis class. So, in precmd() the default nterrupt_handler() is disabled and then enabled again in postcmd().
But h

[2019-10-27 01:47] PappaStalin commented on #537
Because this feature has gone a wile without being implemented, and it seems like it would add a lot of extensibility to Jarvis, I'm going to see If I can get something like this to work.

[2019-10-27 03:27] PappaStalin commented on #537
I think that this is a great idea, and that it would add a lot of extensibility to Jarvis. However, this issue has not been resolved in 3 months. Do you mind if I try to add this feature?

[2019-10-27 04:08] PappaStalin commented on #537
I've made a quick and dirty plugin that you can find here: https://pastebin.com/QvmFQWym

[2019-10-27 09:40] pnhofmann commented on #537
Sure - go ahead.

Yeah, something like this...

https://pypi.org/project/google/

As an optional feature, which needs to be enabled manually, I'd be OK with that.

But don't like the idea of stuff getting sent to Google by default.

[2019-10-27 09:59] pnhofmann commented on #603
That's the easy question ;).

This one is complicated...

Don't think there is something like a "clean" way to do so.

* Maybe by diverting Python debugging-features from its indended use?
* Or maybe start a thread for each command? A thread can probably be killed.
* Or simulate input of "exit" repetitively till command exits? But that would also imply, that all commands **must** exit when inputin

[2019-10-27 16:09] PappaStalin commented on #537
I've got the google plugin up and running, the only issue is the BS4 raises a UserWarning (No parser was explicitly specified) when Jarvis is run. I know that this is because of the pluginmanager module, but I don't really know why this is the case or how to hide the error.

the code for my repo can be find here: https://github.com/PappaStalin/Jarvis

[2019-10-27 17:00] pnhofmann commented on #537
Hmm, yes - known issue I should really document somewhere (and this time I hopefully won't forget again, Sorry ;) ).

Only import
[code]

and use as ```BeautifulSoup.bs4```. Otherwise PluginManager crease bs4-instance to check if bs4 is a plugin - and that prints UserWarning.

[2019-10-29 15:56] #514 closed

[2019-10-29 16:03] pnhofmann commented on #487
Thanks @Matthew237
#517

[2019-10-29 20:50] akshgpt7 opened #606 "New Feature- Open Browsers through Jarvis for more precise searching"
There are a lot of things that you won't be able to search through the command line directly. So, a command to open browser windows directly through Jarvis would make it more interesting altogether.

[2019-10-30 09:32] pnhofmann commented on #606
Hi!

* There's open website (Just noticed: Currently broken ;( => I'll push a fix later.)
* There is google (Soon ;) => #605)

If I correctly understand, what you want is something like an extension for ``google``:

* Google in webbrowser

Which instead of printing short summary opens webbrowser on google? This would be a nice plugin. You would like to implement it?

[2019-10-30 09:34] pnhofmann commented on #537
Nice @PappaStalin  - another issue to close ;)

#537

[2019-10-30 09:34] #537 closed

[2019-10-30 15:31] akshgpt7 commented on #606
Yes, you got it right. I'll work on the command ```open browser``` .

[2019-11-01 23:27] akshgpt7 opened #608 "Help needed for procedure to create and deploy new plugin"
I've made a new plugin for jarvis, however, I cannot find the actions tuple in CmdInterpreter.py .
Also, how can I deploy the plugin into jarvis' plugin list and check if it's working fine?

[2019-11-02 08:26] pnhofmann commented on #608
No need! Just drop your plugin - something like this

[code]

In the ``jarviscli/plugins``-folder. Your plugin will be found and auto-loaded.

[2019-11-02 22:32] akshgpt7 commented on #608
Thank you very much for the help!

[2019-11-02 22:32] #608 closed

[2019-11-02 23:12] akshgpt7 opened #611 "Fix open website plugin"
The open website plugin doesn't work currently.
Can I take up the task of fixing it?

[2019-11-03 09:28] pnhofmann commented on #611
Sure, you can try...
I'm pretty sure, issue must be somewhere here:
https://github.com/sukeesh/Jarvis/blob/master/jarviscli/Jarvis.py#L135

But could be a conceptional problem, which would make this issue really, really hard (like implementing natural voice recognition => #424).

[2019-11-03 09:52] pnhofmann commented on #611
This won't fix the real problem, but I would suggest this workaround for now:

* Rename "open website" to "browser"
* Rename your new "browser"-plugin to "browser google"

[2019-11-04 11:34] pnhofmann commented on #611
#612

[2019-11-04 11:34] #611 closed

[2019-11-04 14:27] theViz343 opened #613 "[New Feature] Give user option to create custom Routines"
So I was thinking to let users have option to create custom routines and call them by any name they choose. A routine is a collection of commands executed one by one whenever the specific routine's name is called.
It will increase user personalization and might be interesting to implement. What say?

[2019-11-05 16:23] shydefoo opened #615 "[NEW FEATURE] Configurable colours for CLI prompts"
I'm interested in contributing to this project, thought this would be a good way to start.
Saw that the cli colours are hard coded using `colorama`, any interest/objections in making them configurable? The implementation could be discussed further, perhaps using a config file or default environment variables.

This could fall under personal configurations, but thats a much broader topic.

[2019-11-05 19:26] pnhofmann commented on #615
Sounds really promising!

Probably most complicated task to think of good names how to call configurable colors. And bit of a task change colors for different plugins.

But if you would like to try, sure would be nice!

Prefer config file. In fact there is already a config file which could be used.

https://github.com/sukeesh/Jarvis/blob/master/jarviscli/CmdInterpreter.py#L149

[2019-11-06 22:10] akshgpt7 commented on #499
@pnhofmann
Since the GUI is not currently deployed, can I add a GUI calculator, called by a jarvis command plugin?

[2019-11-06 22:13] akshgpt7 commented on #596
If this hasn't yet been implemented, Can I go for it?

[2019-11-06 22:29] pnhofmann commented on #499
If you would find a GUI calculator useful - sure.

[2019-11-06 22:30] pnhofmann commented on #596
@jay24rajput what's your status/progress on this issue?

[2019-11-07 09:05] akshgpt7 opened #617 "Aliases also showing in list of plugins on typing 'help'"
The ```help``` command should show only the plugin names available, however, it is displaying all the aliases as well. This makes the plugin list redundant and hard to look for what you need.
I think aliases are only an alternative to those commands and should not show up in the actual list of plugins on typing 'help'. This will make ```help``` more effective.

[2019-11-08 11:11] pnhofmann commented on #606
#616

[2019-11-08 11:11] #606 closed

[2019-11-08 11:13] pnhofmann commented on #617
Hmm, agree... But will be a bit tricky to implement. I'll add this to my imaginary list and will check what I can do ;).

[2019-11-10 05:37] jay24rajput commented on #596
I am working on it, will issue the PR in a day or so. Sorry for the delay! I was caught up a bit!

[2019-11-10 06:36] jay24rajput commented on #596
@pnhofmann, when you say add spin_start in every function the spinner is hardly visible, for example, tried it with enable_voice() and the spinner wasn't even visible. Look at the code:
[code]
The shifting of animations.py to utilities is done. Do you still want me to implement spinner for all utility functions??

[2019-11-10 09:52] pnhofmann commented on #596
No stress - we are all doing this just for fun ;).

Actually did not say that. Or at last did not mean to say that - maybe expressed myself bit unclear (Sorry in this case). What I actually meant:

https://github.com/sukeesh/Jarvis/blob/master/jarviscli/CmdInterpreter.py#L18

Would be nice to add two functions ``spinner_start()`` and ``spinner_stop()`` here so it's possible to write plugins like:

[2019-11-10 11:31] jay24rajput commented on #596
Okay issued the PR! Please check

[2019-11-11 12:41] pnhofmann commented on #596
#620

[2019-11-11 12:41] #596 closed

[2019-11-14 17:39] jay24rajput commented on #598
@pnhofmann the issue here is that the control is not being transferred back to the `voice_controller.py`. I think if we make `voice_controller.py ` a utility instead of a plugin, we can use it in various functions for giving output through voice. For example the **SpinnerThread** in `animations.py`.
Thoughts?

[2019-11-14 17:57] pnhofmann commented on #598
* voice_controller.py is for recognizing what you speak only (input)
* "Speaking out loud" (output) is implemented in ``utilities/voice.py`` and can be accessed with ``jarvis.say()`` (Jarvis will only speak out load if enabled with ``enable sound``
* voice_controller.py is in an early stage (#411) and I still haven't found time to improve yet. But sure, having voice_controller as a utility instead

[2019-11-14 17:58] pnhofmann commented on #499
#621

[2019-11-14 17:58] #499 closed

[2019-11-15 05:05] jay24rajput commented on #598
Okay! Sounds cool

[2019-11-15 14:39] akshgpt7 opened #624 "Spinner error in akinator plugin"
The akinator plugin raises a series of errors when you press "g" to start, and Jarvis exits.

[code]

[2019-11-15 16:16] owainrutherford opened #625 "SyntaxError given when run with curve sketch example"
[code]

Don't get the error if you type:
```curve sketch y==x**2+10*x-5```

[2019-11-15 16:59] pnhofmann commented on #624
Thanks for reporting this bug!

Lesson for me learned: Don't trust code analyze tools blindly... Just because a tool says: ```s = p.sub(r'\1*\2', s)``` should be ```s = p.sub(r'\\1*\\2', s)``` doesn't mean the tools is correct. In this case ``\1`` is correct ;).

Is a bit ugly, because underlying library does require to type: ``10*x`` and not ``10x``. So I'm using regex to make ``10x`` -> ``10*x``

[2019-11-15 16:59] #624 closed

[2019-11-15 16:59] #625 closed

[2019-11-15 17:00] pnhofmann commented on #625
Thanks for reporting this bug!

Lesson for me learned: Don't trust code analyze tools blindly... Just because a tool says: ```s = p.sub(r'\1*\2', s)``` should be ```s = p.sub(r'\\1*\\2', s)``` doesn't mean the tools is correct. In this case ``\1`` is correct ;).

Is a bit ugly, because underlying library does require to type: ``10*x`` and not ``10x``. So I'm using regex to make ``10x`` -> ``10*x``

[2019-11-20 14:21] baptoutiego commented on #549
Hello!
If the issue is not close yet, I would be glad to take it from now.
Is there still anything i can do on the file convertor? :)

[2019-11-20 14:52] baptoutiego opened #627 "[CALORIES ERROR] impossible to put correct input"
I launched calories in Jarvis cli and I couldn't managed to put correct input.
I think the error appears because the use of "is" instead of "=="  on different string. As the "is" test memory allocation, this couldn't work. I would be glad to solve this issues by replacing the line 43 and 45 of calories.py file.
![Screenshot from 2019-11-20 15-49-11](https://user-images.githubusercontent.com/338635

[2019-11-21 09:46] appi147 commented on #627
Sure!

[2019-11-22 07:52] appi147 commented on #627
#628

[2019-11-22 07:52] #627 closed

[2019-11-23 07:51] chekoduadarsh opened #629 "Feature Proposal: Lets add Hardware perfomance display on command"
Hey,
 First timer here. I had an idea to put show the performance of the system for a given command. We can make it look like [htop](https://hisham.hm/htop/). And we can design together for other OS mac and windows. Any new suggestion is welcome.

[2019-11-23 15:37] chekoduadarsh opened #630 "Bug Report: in setup.sh"
Hey,
 Using Ubuntu 16.04 and did ./setup.sh
found an error in library installation and I don't think those libraries to be installed are up to date. Bug report is attached

[tmp_1eOyH.txt](https://github.com/sukeesh/Jarvis/files/3882623/tmp_1eOyH.txt)

[2019-11-23 16:26] pnhofmann commented on #630
That's interesting - especially strange that not more useful information are logged... Will investigate this...

Could you try on cli (in Jarvis folder):

```env/bin/pip install -U -r installer/requirements.txt```

to hopefully get some more information? Thanks ;).

[2019-11-23 17:08] chekoduadarsh commented on #630
Hey,
 THanks for the fast rply, I ran
`pip install -U -r requirements.txt`
insside the installer folder
got the following error
`Ignoring psutil: markers u"sys_platform == 'win32'" don't match your environment
Ignoring pync: markers u"sys_platform == 'darwin'" don't match your environment
Ignoring pypiwin32: markers u"sys_platform == 'win32'" don't match your environment
Ignoring pyreadline: marke

[2019-11-23 17:17] chekoduadarsh commented on #630
https://github.com/pypa/pipenv/issues/3187#issue-378274245

check this out they had similar problem

[2019-11-23 17:30] pnhofmann commented on #630
Thanks!

Hmm, probably archey4 has a dependency not available for python 3.5.2 on Linux. Must say me Ubuntu Test VM is 18.04, so didn't test on 16.04...

Would suggest, if archey4 makes trouble, let's just make it optionally.

[2019-11-23 17:36] chekoduadarsh commented on #630
Removed libraries to be installed for "darwin" still got some problem
[code]

[2019-11-26 08:58] snal commented on #521
Hello, with a few friends we are interested in implementing this feature. For the moment we are still considering how to do it in a proper way (deciding what should be read and how this should be done for example).

[2019-11-26 09:09] pnhofmann commented on #630
That's for sure a  bug in a pip package. Maybe this one?

https://github.com/pyca/cryptography/issues/3815

[code]

[2019-11-26 17:23] chekoduadarsh commented on #630
Update in error, I tried refreshing my pip after tha i got this

[code]

[2019-11-27 10:36] appi147 commented on #630
Hey, does it give errors when using virtualenv?

On Tue, 26 Nov 2019, 22:53 ADARSH C, <notifications@github.com> wrote:

[2019-11-27 11:30] pnhofmann commented on #630
Okay, now I am really confused.

Just installed Ubuntu 16.04 VM.

* Did not get any problem with darwin packages
* Did not get any problem with archey4
* Instead got error: ``Could not find a version that satisfies the requirement akinator.py (from versions: none)``

What?

@chekoduadarsh

Maybe try remove env-folder (rm -R env) and re-run installer?
Like appi147 noted, pip needs to run inside cor

[2019-11-27 18:58] FranckDemanou opened #633 "Misses Setup.bat for Windows"
I am currently working on Jarvis in the context of writing my thesis. I can not install jarvis on my windows platform because the mentioned boot file **setup.bat** installation guide is missing. Would there be another possibility to install it on Windows ?

Thanks for your help !!!

[2019-11-27 19:49] pnhofmann commented on #633
Added in #632

[2019-11-27 19:49] #633 closed

[2019-12-01 16:23] FranckDemanou opened #634 "Failure Installation on Windows"
hey,
after clicking on the file setup.bat I receive an error from the installation environment.
it's so fast that I can not read the information about it because the environment closes
immediately

[2019-12-03 00:50] chekoduadarsh commented on #630
Hey,
@pnhofmann
I was using 16.04 found out to be the problem was in env folder I removed that env folder and created my own by,
` virtualenv env`
in the Jarvis folder, it solved that issue.

After that, i upgraded my ubuntu 18.04LTS(any way suport was going to end soon)

Now new error within wordnet part,
[tmpEP0Bq5.txt](https://github.com/sukeesh/Jarvis/files/3913968/tmpEP0Bq5.txt)

[2019-12-03 00:55] chekoduadarsh commented on #630
There is a small problem on dependency version in requirement.txt for example,
cryptography == 2.1.8 (installed through ./setup)
but need cryptography >=2.8 (had to uninstall and reinstall)
solved the issue

[2019-12-03 01:00] chekoduadarsh commented on #630
Solved!! wordnet problem by installing =g nltk
` env/bin/python -m nltk.downloader -d jarviscli/data/nltk wordnet`

[2019-12-03 01:05] chekoduadarsh commented on #630
@pnhofmann  and @appi147

Thank you, guys!!! Installed successfully I think we need to update installing setup, like to add speech feature I had to exit and install espeak separately!! anyway thank you guys

[2019-12-03 06:26] #630 closed

[2019-12-05 18:31] baptoutiego opened #635 "[NEW FEATURE] web page to pdf"
Hello,
I would like to add a feature on linux to convert html web page to pdf with the pdfKit library.

[2019-12-10 09:21] Baocaifeng opened #636 "battery plugin didn't work in linux mint"
hello, the battery plugin dind't work in linux mint

[2019-12-10 09:23] Baocaifeng opened #637 "How the jarvis work ?"
hello, I want to wrapper Jarvis, but I don't understand how it works

[2019-12-10 09:25] Baocaifeng opened #638 "Jarvis graphic user interface"
hello, I want to add a new plugin gui (graphic user interface)

[2019-12-10 11:20] pnhofmann commented on #636
Hi!
battery plugin basically calls 'upower'.
Related: #590 - PR for 'battery plugin implementation without upower'. Would probably be a good idea to merge that PR soon, which should also fix this issue ;).

[2019-12-10 11:27] pnhofmann commented on #638
Hmm, there's already #493 / #421 (but haven't heard anything new for a while) and #526 (don't know if something happens there, too).

This is a quite open project; if anyone has a working GUI and find this GUI useful, we will merge for sure.

But just to link related topics.

[2019-12-10 11:29] pnhofmann commented on #637
This is a very vague question.

Basically, Python is based on this cmd, if that helps:
https://docs.python.org/3/library/cmd.html

Feel free to reopen, if you have more specific questions!

[2019-12-10 11:29] #637 closed

[2019-12-10 11:42] pnhofmann commented on #634
Added 'continue' to setup.bat so window does not close immediately => #639

[2019-12-12 15:40] pnhofmann commented on #636
#590 merged which should make this obsolete. If issue persists, please reopen.

[2019-12-12 15:40] #636 closed

[2019-12-14 16:25] Guissey opened #643 "Feature request: Extract sound from youtube video"

[2019-12-16 15:05] appi147 commented on #643
What do you think of such "features" @pnhofmann ? Are that ethical? Moreover, there are number of apps available on Internet for the same

[2019-12-16 19:25] pnhofmann commented on #643
Don't have a problem with youtube downloaders...

Would rather point to the fact, that a 'download sound form youtube'-plugin in fact already exists for quite a while ;).
https://github.com/sukeesh/Jarvis/blob/master/jarviscli/plugins/music.py

So, another plugin to just extract audio, probably not - but e.g. a full youtube-dl binding (which could download audio and/or video from lots of sources),

[2019-12-18 19:47] ytabyaoui opened #645 "Feature : img to pdf converter and pdf to image converter"

[2019-12-18 21:35] baptoutiego opened #646 "add 'wkhtmltopdf' as optional dependency"
The goal is to  add 'wkhtmltopdf' as optional dependency (see: https://github.com/sukeesh/Jarvis/blob/master/installer/optional.py so we can use htmltopdf plugins.
linked feature : https://github.com/sukeesh/Jarvis/pull/642

[2019-12-21 15:13] pnhofmann commented on #646
#647

[2019-12-21 15:13] #646 closed

[2019-12-21 15:14] pnhofmann commented on #645
Would be nice addition to #647 - sure, go ahead!

[2019-12-21 15:15] pnhofmann commented on #635
#642

[2019-12-21 15:15] #635 closed

[2019-12-31 19:47] aazuspan opened #649 "[BUG] AttributeError if evaluator.limit is given an empty parameter"
The issue: evaluator.limit throws an AttributeError if it isn't passed a parameter when it is called. Confirmed on Windows, but looking at the source, it should happen on any platform.

To reproduce the bug: use the command `limit` with no parameter.

Let me know if you want me to tackle this.

[code]

[2020-01-05 20:02] aazuspan commented on #551
@pnhofmann It might be worth considering migrating from cmd to cmd2 to achieve this. Cmd2 has command categories built in: https://cmd2.readthedocs.io/en/latest/features/help.html#categorizing-commands

[2020-01-10 03:30] aazuspan opened #651 "[FEATURE] Store 'sound enabled' setting"
For people who use always use Jarvis with sound enabled, it would be nice if that setting was remembered after closing Jarvis. I'm planning on implementing this using Jarvis' Memory class. That memory would be checked every time Jarvis is opened and would be updated whenever the user enables or disables sound.

[2020-01-11 19:17] #651 closed

[2020-01-13 19:44] aazuspan opened #653 "[Feature] Voice speed control"
I think it would be great if the user could control the speed of Jarvis's speech when voice is enabled. I'm thinking this could be accomplished by adding some plugins to voice.py so the user could type 'talk faster' or 'talk slower'. Additionally, the user's preferred speed would be saved in Jarvis' memory and would be recalled on startup if voice is enabled. I'll start looking into how exactly to

[2020-01-15 22:44] aazuspan commented on #485
@JonanOribe I like where you're headed with the `myinfo` plugin. Rather than using a CSV to save the info though, Jarvis already implements a memory system that stores local settings in a JSON. You can save new settings to it through  `jarvis.update_date()`, and other plugins could then access those settings through `jarvis.get_data()`. And like rogervieiraa mentioned, there should be some code ad

[2020-01-20 18:40] pnhofmann commented on #653
#654

[2020-01-20 18:40] #653 closed

[2020-01-20 18:43] pnhofmann commented on #634
Closing because of inactivity - feel free to reopen if issue persists.

[2020-01-20 18:43] #634 closed

[2020-01-20 18:46] pnhofmann commented on #598
So, since voice control tracked in another issue and apart from that this question looks answered, I'm closing this.
Feel free to reopen if issue persists.

[2020-01-20 18:46] #598 closed

[2020-01-25 04:53] andresdev16 opened #655 "Exit FAIL Command 'env\Scripts\pip.exe install -U -r installer/requirements.txt' returned non-zero exit status 1"
I can't install in windows. To continuation the logs.

============== Preparing virtualenv ==============
________________________________________
Shell: python36 -m virtualenv --version
16.7.9

Shell: Exit OK
----------------------------------------

________________________________________
Shell: env\Scripts\python.exe --version
Python 3.8.0

Shell: Exit OK
--------------------------------------

[2020-01-25 09:22] pnhofmann commented on #655
Hi and thanks for sharing this issue!

this appears to be an upstream-bug; this lib 'pyobjc-framework-SyncServices' is only available on MacOS. Somehow pyttsx3 tries to install this dependency on Windows (or Linux) as well.

I have opened a issue upstream:

https://pypi.org/project/pyobjc-framework-SyncServices/

Also pushed quick-fix (#656) fixing pyttsx3 to previous version till this issue is co

[2020-01-25 19:33] andresdev16 commented on #655
I don't understand. How can I make this dependency not installed.

[2020-01-25 19:45] andresdev16 commented on #655
Alright, thanks.

For someone with this problem:

1-go to installer/requirements.txt
2- search the line with pyttsx3 and replace with pyttsx3 == 2.71; sys_platform != 'darwin'

Thanks @pnhofmann

[2020-01-25 19:45] #655 closed

[2020-02-02 05:48] TS-Pra opened #657 "Произошла непредвиденная ошибка. Пожалуйста, откройте вопрос на GitHub! вот ошибка:"
Traceback (most recent call last):
  File "/home/ts/Документы/Новый/Jarvis/installer/__main__.py", line 16, in <module>
    import steps.d_optional
  File "installer/steps/d_optional.py", line 32, in <module>
    if check_optional_requirement(requirement):
  File "installer/steps/d_optional.py", line 15, in check_optional_requirement
    if shell(CMD).success():
  File "installer/helper.py", line

[2020-02-13 06:40] DannKim98 opened #659 "New features: tic tac toe and workout program provider"
Hi, I really want to contribute to this project and implement some new features. Now I am thinking about kind of a personal push-up and pull-up workout program provider, based on the maximum number of times a user can do these exercises, with a timer to rest between sets. And another plugin I want to implement is a game "tic tac toe". @pnhofmann what do you think about them?

[2020-02-15 13:43] pnhofmann commented on #659
Sure!

Both features sound good - small games are always nice for sure. And the workout program would finally make more use of utilities/notification.py and utilities/schedule.py; both are used by plugins/reminder.py but for nothing else ;).

If you need help or don't understand something about our documentation ( ;) ) don't hesitate to ask.

[2020-02-15 13:43] #657 closed

[2020-02-15 13:47] pnhofmann commented on #657
Sorry, English only...

Don't fully understand this error, but since this error happens just during logging, i did push #660 - which just catches the error from your Traceback.
Probably related to python 2, which handles string / unicode differently?

If error persists or similar error shows up, please re-open this issue.

[2020-02-15 14:34] pnhofmann commented on #649
#660

[2020-02-15 14:34] #649 closed

[2020-02-23 02:38] chekoduadarsh opened #662 "How to update requirement.txt"
I was adding a new feature for Jarvis but I want to add opencv-python to requirement.txt since I am doing that I am getting problem in Tavis, pls look into this pull request https://github.com/sukeesh/Jarvis/pull/661

[2020-02-23 11:18] pnhofmann commented on #662
Sure - your requirements.txt is correct. Travis is complaining about a trailing whitespace (-> PEP8).

[code]

[2020-02-23 12:24] chekoduadarsh commented on #662
@pnhofmann Silly me didn't see that  Thanks for the help!!!

[2020-02-23 12:24] #662 closed

[2020-02-24 15:01] chekoduadarsh opened #663 "Changing the voice of assistant"
Hey,
 When I was checking up the voice mode of Jarvis, it wasn't pleasant to listen it was super robotic and non-human like. Proposing a migration from `pyttsx` to a combination of `gtts` and `playsound` which gives a way better humanitarian approach!!

[2020-02-26 14:17] nemesis06 commented on #617
I'm new to Open Source. I'd like to work on this, if it's ok.

[2020-02-26 14:56] pnhofmann commented on #663
Sure!
Just, would prefer to let the pyttsx code in Jarvis and add gtts as an alternative backend (and make the user choice if he wants to send stuff to google or not).

``jarviscli/utilities/voice.py`` does implement 3 backend anyway - one for Windows, one for Mac and one for Linux. On Mac pyttsx isn't even used ;).

[2020-02-26 15:00] pnhofmann commented on #617
If you like, sure!

Currently Jarvis used help output from [Cmd](https://docs.python.org/3/library/cmd.html), you would probably need to rewrite the complete help-function.

[2020-02-26 17:14] Karthick-Balaji commented on #424
Hi, I would like to contribute to this. For example, a user who wishes to know what Jarvis can do, may ask 'what can you do?' or 'tell me what you can do' (i.e in a more natural way). I would make Jarvis be able to recognise these.

Also, while installing Jarvis, I get a message saying please install python3 but my pc already have python3. Somebody please help!

[2020-02-26 21:41] pnhofmann commented on #424
Hi @Karthick-Balaji!
Sure, any contribution is welcome!

Maybe open an issue for this one?
This shouldn't happen; what operating system are you running? If Linux / Mac what's the output of ``which python3``?
My guess, could it be, that Python 3 isn't called 'python3' on your system, but something like e.g. 'python3.7' (and no symlink exists to python3)? I have seen behavior like that on FreeBSD; m

[2020-02-27 01:26] chekoduadarsh commented on #663
Will do it

[2020-02-27 01:47] chekoduadarsh commented on #424
Hey even I would like to contribute to this checkout wit.ai with this we can design a simple chatbot with that!!

[2020-02-27 13:28] nemesis06 commented on #617
Oof, I will try my best.

[2020-02-27 19:02] Karthick-Balaji commented on #424
Hi @pnhofmann. I'm running Windows 7 on my laptop and it has python 3 and the directory is called as `Python38-32`. Now, do I need to create a symlink? and where do i need the symbolic link?

Below is the cmd snapshot when I run setup.bat
![jar](https://user-images.githubusercontent.com/36512165/75477027-a03af500-59c1-11ea-8e39-8543dde93ace.png)

[2020-02-27 20:52] pnhofmann opened #664 "Windows Installer: "python 3" not found"
I'm running Windows 7 on my laptop and it has python 3 and the directory is called as `Python38-32`. Now, do I need to create a symlink? and where do i need the symbolic link?

Below is the cmd snapshot when I run setup.bat
![jar](https://user-images.githubusercontent.com/36512165/75477027-a03af500-59c1-11ea-8e39-8543dde93ace.png)

_Originally posted by @Karthick-Balaji in https://github.com/sukee

[2020-02-27 20:55] pnhofmann commented on #664
Not like I am an expert on Windows - and not like Windows 7 is supported... But could reproduce issue with Windows 10 and current Python installer.
For some reasons, there is no binary 'py'? But only 'python'?
Will work on a patch tomorrow.

[2020-02-27 21:00] pnhofmann commented on #424
@Karthick-Balaji installation issue now tracked here: #664

@chekoduadarsh
Hey, Sorry - don't really like the idea of depending on a proprietary online service. Yes, we do integrate multiple online service for some features, but for something as essential as command parsing I would prefer an offline + Open Source approach.

[2020-02-28 13:37] appi147 commented on #664
I'm not sure if they changed behavior. The documentation still states that py should work.
[https://docs.python.org/3/using/windows.html#from-the-command-line](https://docs.python.org/3/using/windows.html#from-the-command-line)

[2020-02-29 11:50] pnhofmann commented on #664
Hmm:
https://stackoverflow.com/questions/51861943/how-to-install-python-launcher

Created #665 - guess it wouldn't hurt to just use 'python' if 'py' is not available for whatever reason.

[2020-03-02 16:40] chekoduadarsh opened #666 "Enable command shown in help not working"
![](https://i.ibb.co/bmrggKb/Screenshot-from-2020-03-02-22-03-15.png)

In help command `enable` is not found I think it is `enable sound` but only first word is seen

[2020-03-02 20:51] pnhofmann commented on #666
That's actually the expected behavior.

help: Print major commands, ``help enable`` prints ``sound`` as sub-command.
And as shown in your screenshot, when typing ``enable`` Jarvis already suggests: ``Did you mean: enable sound``.

[2020-03-02 20:53] pnhofmann commented on #666
Still, discussions how to improve help command could be useful.
Related: #617

[2020-03-03 00:45] chekoduadarsh commented on #666
ohhk then I am closing this issue!!

[2020-03-03 00:45] #666 closed

[2020-03-07 14:26] h4ppysmile commented on #645
Hi @pnhofmann !
Is this issue still open? Can I work on it?

[2020-03-09 19:43] pnhofmann commented on #645
Hi! No update since December - so guess, yes, if you like to work on this: Sure!

[2020-03-11 15:24] cinun commented on #664
I had the same problem, I ran the "py -3 -m pip install virtualenv" line and it worked. Have you added your python pip script to your PATH in Environment Variables? Here's a tutorial :
 https://stackoverflow.com/questions/3701646/how-to-add-to-the-pythonpath-in-windows-so-it-finds-my-modules-packages

Hope this helps!

[2020-03-12 18:27] Karthick-Balaji commented on #664
hi..  for the command "py -3 -m pip install virtualenv", I get "py is not recognized as internal or external command". but python gets launched when I type "python". Could anybody figure out what is going wrong?

[2020-03-12 20:43] pnhofmann commented on #664
Merged #665 - please try again with newest version (``git pull``). New Installer should just use 'python' if 'py' is not found (for whatever reason).

Please re-open should error persists or installer is still not working for you.

[2020-03-12 20:43] #664 closed

[2020-03-21 22:59] jfc-devops opened #669 "install gnu/linux"
Hi.

Installation does not run on my system linux.
I have the VIRTUALENV updated.

installation result :

============== Preparing virtualenv ==============
Please exit virtualenv!

Installation failed!

^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

Whether the system already has the requirements for execution.
It does not make sense to start a new installation.

can check if  already

[2020-03-23 12:36] pnhofmann commented on #669
And you are sure, no virtualenv is currently active?

Try run:

```deactivate```

(should probably add this instruction to help text).

[2020-03-25 02:32] jfc-devops commented on #669
hi, thanks for the return.

Yes I have virtualenv. <<

the script can use an already created environment.

don't create a new one.

THE SCRIPT can check the situation if there is an environment or create a new one

[2020-03-25 02:32] #669 closed

[2020-03-25 02:33] jfc-devops commented on #669
hi, thanks for the return.

Yes I have virtualenv. <<

the script can use an already created environment.

don't create a new one.

THE SCRIPT can check the situation if there is an environment or create a new one

[2020-03-25 04:21] MichaelA1337 opened #670 "New feature: Better way to display plugins and commands than just giving the user a list of a bunch of random stuff"
Right now, when the user runs the help command, the get all of the commands alphabetically ordered.  I see that when doing help, there is a line saying "type help <topic>", though I did something such as help news, help email, etc, and it doesn't really work.

So does anyone have any better ideas on how to organize commands? My only idea is somehow tagging each plugin with one of a set group categ

[2020-03-25 21:12] #670 closed

[2020-03-30 10:04] OneHighCloud commented on #663
I am working on Win10 with the code. In voice.py, I made some changes regarding voice (VoiceWin()). Might help you.
`self.engine = pyttsx3.init("sapi5")
 voices = self.engine.getProperty("voices")
 self.engine.setProperty("voice", voices[1].id)
 self.engine.setProperty("rate", 140)`

[2020-04-03 14:52] krish1237 opened #672 "Adding support for anaconda installation"
I noticed that python virtual-env is being used in installation. It provides no support to remove the environment while anaconda provides gui option "navigator" to do so.

[2020-04-04 10:17] pnhofmann commented on #672
I honestly don't think you need a gui just to delete a folder... Removing the environment isn't more than deleting the env-folder. Respectively deleting whole Jarvis-Folder, if you want to uninstall Jarvis ;).

Don't see any reasons why one should run Jarvis with anaconda - but then again guess there are no reasons against.

Unfortunately, AFAIK conda has its own virtualenv-replacement and does no

[2020-04-04 10:27] krish1237 commented on #672
Oh okay that works too i had a problem because both python2 and 3 are installed in my ubuntu.Naturally the code was using python2 i had to use "python3 installer". I thought anaconda could solve this, but reading about virtualenv, it was just the way you initialize the scripts. I'm gonna close this issue now.

[2020-04-04 10:27] #672 closed

[2020-04-05 10:04] krish1237 opened #673 "An error in ubuntu. I think you have to install distutils seperately using "sudo apt install python3-distutils""
Python 3.8.2

An unexpected error occurred. Please open an issue on github!
here is the error:

Traceback (most recent call last):
  File "installer/__main__.py", line 3, in <module>
    from helper import log_init, log_close
  File "installer/helper.py", line 3, in <module>
    import distutils.spawn
ModuleNotFoundError: No module named 'distutils.spawn'

[2020-04-07 13:56] KonstantinosLolos opened #674 "New Feature: plugin to create new_plugin.py with template"
Hello! I have been toying around with Jarvis on my computer and I would really like to contribute.
I was messing around with some ideas and I thought about adding a plugin that creates a new_plugin.py file with the Hello World  plugin sample you provide and some extra documentation about the different options a developer has.
You guys have created really helpful info on how to contribute and creat

[2020-04-08 13:54] pnhofmann commented on #674
Sounds good to me!

[2020-04-10 17:11] gianniskokkosis opened #676 "Make bulkresizer plugin more user friendly."
Hello! I 've been looking through some code and I noticed that the bulkresizer plugin has room for improvements. More specifically:

- Jarvis' speech uses plain white letters (and they appear in the wrong order upon start)

- If the user gives an invalid path jarvis throws an unhandled exception and the user dosen't get the chance to give another path.

- Could add more specific and detailed docum

[2020-04-11 11:27] gkodosis commented on #673
Yeeep, encountered this error as well. Followed the above mentioned commands and worked fine;

sudo apt install python3-distutils
sudo apt install  virtualenv

[2020-04-11 11:49] #673 closed

[2020-04-11 17:18] pnhofmann commented on #676
Sure!

[2020-04-14 13:57] rishav-learnerml commented on #424
I can add an Machine Learning approach to this voice assistant..... The assistant can predict the COVID-19 results such as deaths, recoveries, infections after one week beforehead.... You can watch my model on that...on-https://github.com/rishav-learnerml/Corona-Research....also I had built a desktop assistant IRONMAN before a long time... You can watch it at - https://github.com/rishav-learnerml/

[2020-04-14 19:38] pnhofmann commented on #424
Hi @rishav-learnerml !

this issue actually meant to recognize existing commands in a more natural way. Like not only type 'weather forecast' but something like 'do I need an umbrella'. Currently Jarvis searches for keywords (like translate or umbrella) but improvements could be made.

Really appreciate offer,  but would rather not add stuff specially related to corona research, because I don't th

[2020-04-15 02:42] rishav-learnerml commented on #424
I'm sorry that I didn't understand the motive... But yeah... As you said
that you want to add more natural commands it is however easier to be
done... You can check my Ironman project where I've made such a few natural
commands... Those can easily be done.... I can add those to your project if
you want :D

On Wed, 15 Apr 2020, 01:08 pnhofmann, <notifications@github.com> wrote:

[2020-04-15 18:29] gkodosis opened #678 "New feature - Enable command history and self - completion"
Hello there, I hope you are doing great and staying safe!
I was thinking about upgrading the jarvis cli, by adding an up/down arrow key parsing of the commands used by a user, as well as a simple self - completion of the command (using the tab key).
Let me know if you find it usefull, so that I can work on it!

[2020-04-16 12:29] pnhofmann commented on #678
Hi!

yeah, you are absolutely right! This is something, I should have taken a closer look for some time.

But you'll probably be surprised, how easy this feature is to implement - it's literally a one-liner, since there is readline:
https://docs.python.org/3/library/readline.html

Readline made some problems on windows, but yeah let's activate readline at last for Unix.

[code]

Plus add readline

[2020-04-20 19:35] gkodosis commented on #678
You are absolutely right, it was readline module that I had on my mind. Inspite of including readline as an optional non-python requirement, I came up with a middle solution: tempfile; a module which with the correct set up works pretty well in both Linux and Windows! Nevertheless, tab-completion works really well as is, providing users with shortcuts to plugins (so, I didn't want to alter this fe

[2020-04-21 18:37] #659 closed

[2020-04-23 16:37] #678 closed

[2020-04-26 10:53] shubhamnimbhore commented on #501
Hi Can you Please check i added one condition for say "what can i do for you?"
https://github.com/pnhofmann/Jarvis/pull/1

[2020-04-27 17:40] KonstantinosLolos commented on #674
Hello again! I would like your opinion on a matter. I have been able to test my code in both MAC os and LINUX. The only difference between them and the reason i use the require tag is that in linux i have not been able to open the plugin after it has been created (the open command uses terminal based editors and not the default editor of the user which is not practical).

The question is: Should I

[2020-04-28 06:07] ashvinstech opened #682 "Stuck on Download additional data directory (wordnet)"
Stuck on Download additional data directory (wordnet) for like an hours, tried everything, opened again, reinstalled. but same problem

[2020-04-29 09:18] raunak249 opened #683 "The repo description doesn't list 'Windows' as a platform"
I noticed that the repository description only says 'Personal Assistant for Linux and macOS' even though the README.md clearly mentions that it runs on Windows as well. I think 'Windows' should be added to the description as well.

[2020-04-30 13:00] pnhofmann commented on #682
Hi!
that's strange...

What's the content of ``jarviscli/data/nltk``? How big is this folder?
What's the output of (ran from Jarvis directory):

[code]

or (windows):

[code]

[2020-04-30 16:11] KonstantinosLolos commented on #674
Looks like thats what it does! Thanks for the tip! I added that in and made some more practical changes. I shall proceed with a pull request for review.

[2020-05-01 09:16] ashvinstech commented on #682
[code]

[code]

[2020-05-12 17:25] Methenitis commented on #663
Hey!

After communicating with @chekoduadarsh , my colleague @annakotsa and I have worked on adding GTTS as an option for voice generation and fixed the parameters of pyttsx3 in order to make the voice sound less robotic.

Would love to get your feedback on this @pnhofmann

Thank you in advance!

[2020-05-12 20:20] annakotsa opened #687 "Create a new Alexa skill for Jarvis"
Hello! With my colleague @Methenitis, we have been working on our contribution to Jarvis for some time now and we thought it would be a really nice idea if we also added a new feature to Jarvis, besides solving existing issues. More specifically, we are thinking of creating a new Alexa skill for Jarvis which:

•	Will enable Alexa to access some of the Jarvis’ functions and perform them
•	Will enab

[2020-05-13 10:43] pnhofmann commented on #687
Yeah- sure!

Not that I'm using Alexa, but maybe we could even learn a bit from Alexa ;). Especially what is called in flask-ask ``Allows for the separation of code and speech through Jinja templates`` ;).

[2020-05-15 05:20] klabacher opened #690 "Not an issue"
Can I use jarvis as an module?

[2020-05-15 11:42] pnhofmann commented on #690
You mean like as a library for other projects? This isn't intended, but I see no reason why this shouldn't be possible with maybe a view smaller adjustments.

What exactly are you trying to do?

[2020-05-15 19:41] jay24rajput commented on #676
Hey is this issue up for grabs?

[2020-05-15 20:31] gianniskokkosis commented on #676
@jay24rajput Hello. I have finished the changes I wanted to make in bulkresizer plugin. In a couple of days I will make a PR. It's ok if you want to make some changes too!

[2020-05-16 05:32] klabacher commented on #690
I'm trying to do a real jarvis with voice recognition and your project fits exactly for what I need. If you want, you can be in the project

[2020-05-16 06:40] jay24rajput commented on #676
Hey @gianniskokkosis sorry for barging in! Please go ahead with your PR. Cheers!

[2020-05-16 17:00] pnhofmann commented on #690
Sure! Or you could also try improve this project with a better voice recognition feature ;). Or of course use this project to create your own project. And maybe we'll even merge some code back - possibilities are endless ;).

The whole magic lies in PluginManager. Basically:

[code]

And you have a list of plugins = commands for whatever you want to do. All with methods 'get_name()-> str', 'requir

[2020-05-16 17:00] #690 closed

[2020-05-17 10:26] pnhofmann commented on #663
#686

[2020-05-17 10:26] #663 closed

[2020-05-17 22:07] evamy opened #693 "plugin String "s" is always lowercase (MACOS)"
found out trying to add a whoami plugin for macos.
the string being passed (s) into the function is always lowercase, no matter what options I pass

[2020-05-18 10:14] madhavkulkarni1986 commented on #693
@evamy Yes, because all the input data is converted to lower case in jarviscli/Jarvis.py
line: 125         data = data.lower()

I do not know why was it designed that way. May be @pnhofmann or @sukeesh or @appi147 can answer. But almost of the plugins comply with this now. So, removing the translation to lower case will require all the plugins using this feature to be changed.

However, this is de

[2020-05-18 12:06] evamy commented on #693
@madhavkulkarni1986 thanks for that info.

What happens to commands that can have uppercase options ? Those will never be taken into consideration at all. Specially like "id" command on MACOS; it takes only single letter command arguments, most of which are uppercase.

[code]

[2020-05-18 13:00] pnhofmann commented on #693
You are absolutely right!
Similar issue with stuff like 'dot' - which are also removed. Which is good for most plugins, but there are some exceptions.

We should probably add some kind of "flags" to change this behavior. Maybe something like:

[code]

Any suggestions?

[2020-05-18 20:15] pnhofmann commented on #676
#692

[2020-05-18 20:15] #676 closed

[2020-05-19 03:32] MikeyBeez commented on #411
Use vosk for STT.  It's the best and all local.

[2020-05-19 03:33] MikeyBeez commented on #411
https://github.com/MikeyBeez/Juliet

[2020-05-19 12:19] pnhofmann commented on #411
Thanks for the tip! Will definitely take a close look at STT and Juliet

[2020-05-19 22:19] evamy commented on #693
@pnhofmann
Flags actually sounds a good idea.
I have not used that before in python, but let me look and try it out. See if it works, while also trying to understand how much change it would take to do this.

[2020-05-22 20:09] Darin755 opened #695 "portaudio is not detected"
The installer says that the voice recorder is not installed even though it is

[2020-05-23 00:21] klabacher commented on #690
Can I talk with you by discord?

[2020-05-24 16:48] pnhofmann commented on #695
Hi!
It's not just basic portaudio. We need to install the python-binding of portaudio. And this requires native extension - and therefore you need:

* portaudio devel package
* gcc
* python devel package.

The command called is:
[code]

And this probably fails.

I am aware, this is far from perfect and I hope to find a better solution in the future. For now, the whole speech-recognition part is st

[2020-05-24 16:48] #695 closed

[2020-05-24 16:55] Darin755 commented on #695
Thank you

On Sun, May 24, 2020, 10:48 AM pnhofmann <notifications@github.com> wrote:

[2020-05-24 17:03] pnhofmann commented on #690
Sorry, I generally don't do private chats.

[2020-05-24 18:08] KonstantinosLolos opened #696 "queue_input method works more like a stack rather than a queue"
Hi!
While working on some testing code with my colleague @gianniskokkosis We discovered that the queue_input method for plugin testing works in the logic of LIFO and thought that it would probably more reasonable to be called stack_input or something like that (+ it would clear out the logic of it a bit more).
Wondering if you have any idea on how this could change without having to replace everyt

[2020-05-24 19:01] pnhofmann commented on #696
Nice catch ;).

I think, just like the name suggests, FIFO-Queue is probably what you'd expect of such a method. And what I had in mind.
So yes, this is a bug.
A bug that is unnoticed, because there just isn't a test, where order makes any difference. Let's fix the behavior of queue_input.

[2020-05-24 19:27] KonstantinosLolos commented on #696
Great! Me and @gianniskokkosis can work on it! Any pointers and suggestions are more than welcome! :)

[2020-05-25 14:25] pnhofmann commented on #696
#697

[2020-05-25 14:25] #696 closed

[2020-05-26 09:36] madhavkulkarni1986 commented on #693
@pnhofmann I added the necessary class and function to implement this feature. But somehow I am not able to get the flags, via the plugin class. In fact, I am not able to get the plugin under question.
My commit is here: https://github.com/madhavkulkarni1986/Jarvis/tree/feature_lower_case_input

Can you please check and let me know how do I get the feature of one particular plugin? Or can you poin

[2020-05-26 13:37] evamy commented on #693
I am actually able to fetch plugin features just using `plugin.feature()`. I see you have implemented the same way I did.

My question: is importing plugin directly in `Jarvis.py` a good practice ?

[2020-05-26 14:16] madhavkulkarni1986 commented on #693
@evamy I don't think I import plugin directly in Jarvis.py. I access the plugin feature though PluginManager(_plugin_manger). Can you share your code? I want to have a look how have you implemented it.

[2020-05-26 15:43] pnhofmann commented on #693
Now with a comment :).

Generally not good, but not bad either

[2020-05-26 15:59] evamy commented on #693
Hi @pnhofmann
I did some more digging.
It seems like `_cache` builds a complete set of plugins in jarvis, then checks which action to pick based on the plugins already present, so the plugin should already be getting the info of features if it was set in the plugin.
which basically should get accessed by `_cache.get_plugins()[plugin_name].feature()`, right ?

Question again:
we are checking for ea

[2020-05-26 16:22] Darin755 commented on #695
I got pyaudio to work on ubuntu by running

sudo apt-get install libasound-dev portaudio19-dev libportaudio2 libportaudiocpp0

then

sudo pip3 install pyaudio

[2020-05-26 19:46] pnhofmann commented on #693
Actually  not in the loop, directly after.
``find_action`` returns a plugin. OK, currently it doesn't (currently it returns a string), but it does search the correct plugin. And it would be easy to change ``find_action`` to return the plugin. The plugin with a method/attribute like ``plugin.feature()``.

Also see:
https://github.com/madhavkulkarni1986/Jarvis/commit/4749f38205b1c8ea54b31500b77579f4

[2020-05-26 20:50] evamy commented on #693
Oh okay.
Here is what my commit currently looks like: https://github.com/MLDaily/Jarvis/tree/feature/lowerCaseInput

I was doing in the loop for a while. Will need to check returning a plugin, changing `find_action`. In any case, cannot really `lower()` anything unless `feature` suggests.

[2020-05-26 21:06] pnhofmann commented on #693
I understand, that's why "in the loop".

I think these are two different problems:
1) how the correct plugin is found
2) what string is passed to the plugin as 's'

My idea is to always lower() and remove punctuation while searching for correct plugin 1). And then take a copy of the original command string, format this as requested by the plugin and pass as s.

[2020-05-26 22:55] evamy commented on #693
Okay, that makes sense.

Since we are on that topic, I would suggest using this package: https://github.com/snipsco/snips-nlu
We can create a json out of the plugins that Jarvis has every time jarvis starts/restarts which can train the snips-nlu for once (or on-the-fly, depending on how we want to use it).

[2020-05-27 03:24] madhavkulkarni1986 commented on #693
@pnhofmann Thanks for the inputs. I will stop working on this as @evamy is already close to finish.

[2020-05-27 09:48] pnhofmann commented on #693
Absolutely love this idea!

[2020-05-27 14:38] evamy commented on #693
It is an interesting idea, right ?

With the current setup, it will take some time to understand and work on it.

[2020-05-30 00:47] mookieepps opened #699 "Adding a Visual Response Character"
Hello!  I'm wanted to  contribute to Jarvis and had nice idea if we also added a new feature to Jarvis, besides solving existing issues. More specifically, we are thinking of creating a new visual character that can be enabled to pop up and read the command responses?

[2020-05-30 10:06] pnhofmann commented on #699
You mean something like [Clippit](https://upload.wikimedia.org/wikipedia/en/d/db/Clippy-letter.PNG)?
That'd be funny! Like this idea.

[2020-05-30 18:24] evamy commented on #693
@pnhofmann
I was going through some past issues and found that you already know about the snips-nlu package.
Was there an attempt to integrate it earlier ?
What were the takeaways, if any ?

[2020-05-31 09:25] pnhofmann commented on #693
Unfortunately, no :(.

[2020-06-02 16:33] evamy commented on #693
@pnhofmann
Question: in the `check(s):` function in `plugin: whoami`. Is a scenario of check passing and id throwing a help text, something like:
[code]

possible ?

[2020-06-03 08:37] pnhofmann commented on #693
Why not? We could for example just run ``id --help`` if check(s) fails.

[2020-06-06 12:19] plant999 commented on #549
sure, Go ahead !!

[2020-06-09 20:44] KonstantinosLolos commented on #674
Not adding anything else for the time being. Should we consider issue closed for now? :)

[2020-06-10 01:27] arjunk2004 commented on #638
Do you think it's a good idea to use zenity, at least for Ubuntu installations?

[2020-06-10 08:37] pnhofmann commented on #638
Zenity would be easy to integrate - but of course restricted in what's possible, since zenity is no full GUI framework.

Currently I'm experimenting with [kivy](https://kivy.org/). Main advantage: Cross Platform and can even be ported to Android / iOS with minimal effort.

However closing this issue as duplicated: #421

[2020-06-10 08:37] #638 closed

[2020-06-10 08:41] pnhofmann commented on #674
Yeah, forgot closing this one.

Hint: Nice github-feature, if you add issue-id '#674' to one of your commit-message github auto-closes related issues while merging.

[2020-06-10 08:41] #674 closed

[2020-06-10 17:16] arjunk2004 opened #703 "Non-interactive mode for Jarvis"
Hi, I'm fairly new to this project. I was wondering if there was a non-interactive mode for jarvis. Something like where you could just go `jarvis "[command]"` and get the normal output.

[2020-06-11 03:58] jay24rajput commented on #645
@pnhofmann Is the issue up for grabs?

[2020-06-11 13:07] pnhofmann commented on #645
If @h4ppysmile does not answer: sure!

[2020-06-11 13:31] h4ppysmile commented on #645
Hi!
Unfortunately I didn’t work on it!
Hope you do well.

On Thu, 11 Jun 2020 at 17:37, pnhofmann <notifications@github.com> wrote:

[2020-06-11 14:14] jay24rajput commented on #645
Thanks @h4ppysmile!
- - -
@pnhofmann should we implement it as a plugin in form of a new files, for example:
[code]

[2020-06-11 22:18] arjunk2004 opened #705 "Stopping stopwatch"
I might be missing something, but is there a way to stop the stopwatch mode?
I tried to stop it, command z on macOS paused it, but I couldn't go back to the normal JARVIS command line.

[2020-06-11 23:41] arjunk2004 commented on #617
Great! Also, do you happens to know where the help function is @akshgpt7 ?

[2020-06-12 13:07] pnhofmann commented on #705
[code]

Or use ctrl-c

[2020-06-12 19:32] arjunk2004 commented on #617
PR #706 created.
Jarvis now does this:
![Screenshot from 2020-06-12 12-15-11](https://user-images.githubusercontent.com/49816728/84538927-5c85a600-aca7-11ea-8ae7-58d8b91db2f7.png)
This is an alternative that I came up with:

![Screenshot from 2020-06-12 12-31-05](https://user-images.githubusercontent.com/49816728/84539705-c6eb1600-aca8-11ea-9e35-966a84904496.png)

I think the first method is bette

[2020-06-13 06:30] arjunk2004 commented on #705
Hi! Thanks for the help. I feel like we should display these at the bottom of the stopwatch. There seems to be plenty of space there if it’s not too complicated. Thoughts?
I could work on it if you like the idea @pnhofmann

[2020-06-13 06:38] arjunk2004 commented on #703
I’d like to try to fix this if you don’t mind @pnhofmann

[2020-06-13 13:16] pnhofmann commented on #705
Hmm, our stopwatch is just termdown: https://github.com/trehn/termdown

[2020-06-13 21:57] arjunk2004 commented on #705
I've been fiddling around a bit, there doesn't seem to be a good way to do this without it looking horrible so perhaps we should just leave it as is.

[2020-06-13 21:57] #705 closed

[2020-06-13 22:00] arjunk2004 opened #708 "Color Blind Options"
I'm fairly new to Jarvis, but one thing that's struck me about the project is the use of color. Perhaps we should allow for the changing of some of the colors. I was thinking that this would be good for people that need color blind options and just people who want a different color scheme. I'd love to work on this but I wanted to see if you all liked the idea before I start.
Thoughts?

[2020-06-13 22:28] arjunk2004 commented on #708
Closing issue because duplicate found (issue #615)

[2020-06-13 22:28] #708 closed

[2020-06-13 22:29] arjunk2004 commented on #615
Is this still being worked? If not, I'd like to give it a shot.

[2020-06-14 09:37] pnhofmann commented on #703
Sure!

[2020-06-14 13:18] CiTRuS93 opened #709 "jarvis as a server"
add a new option to run jarvis as a server using Flask or Flask-rest so we can build personal web app.
for example:
add an option to run
`Jarvis -server`
`* Running on http://127.0.0.1:5000/`

then we can use http get
`http://127.0.0.1:5000/api/v1/{user input string}`
or maybe socket will be a better solution for that.

[2020-06-14 17:13] arjunk2004 commented on #703
Okay, I created a pull request (PR #711). The only catch is: for existing versions of jarvis, you need to delete the main jarvis file. Then, you should rerun the setup.sh script and make sure to do these steps in the processes (in the "Write Jarvis starter" part of the script):
  1) Install jarvis /usr/local/bin starter (requires root)
  2) Add /home/qbp/projects/Jarvis to $PATH (.bashrc)

I'm goi

[2020-06-14 17:13] #703 closed

[2020-06-15 00:10] ak2243 opened #713 "Weather doesn't ask for state"
The weather forecast doesn't ask for the state, thus it could be the right city but the wrong state. I think we should either ask for state or zip code.
Thoughts?

EDIT: I phrased the issue badly initially so this should better clarify what I meant.
I'm in the U.S. so I'm not exactly sure how this works in other countries but it does seem to be a problem here, as there are a lot of cities with the

[2020-06-15 08:34] pnhofmann commented on #713
Funny, seems to work for German zip codes. Quick look, API does support ZIP Code: https://openweathermap.org/current
But to be honest: I haven't touched this code yet ;).

Also just noticed, command parsing heuristic fails for ``update location``. Calls ``location`` instead :(.

[2020-06-15 11:32] pnhofmann commented on #693
Any progress?

After some thinking - and if you don't mind - I would try to rework core-Jarvis to define and implement some kind of abstraction API 'LanguageParser'.
Not only to have a clean way to include snips-nlu, but also possible other language parsers.

[2020-06-15 15:02] aprzn123 commented on #713
It seems like in general it will use the last thing it can interpret as a command. That should probably be a separate issue, though.

[2020-06-15 15:34] evamy commented on #693
I'm having trouble with the run function in plugin.py file. Specifically getting the sub_command

[2020-06-15 15:58] evamy commented on #693
I want suggestions on this:

this is a sample intent that the snips_nlu engine will be taking.

It will be requiring the types of statements/queries that it can parse for the action (or intent as snips describes it) to be weather.

I want suggestions on methods that we can use to automatically gather this information from the functions. Currently the best way I think is to pass a list of queries i

[2020-06-15 16:47] arjunk2004 commented on #713
Perhaps we should just make it zip code and country and not city at all?

[2020-06-15 20:15] pnhofmann commented on #693
You can call ``get_plugins()`` to receive full list of sub commands. Or even get a 'flat' non-recursive list of plugins (like ``[wiki, wiki search, ...]`` from ``PluginManager``.

In fact, you can completely ignore the run()-function, since this is just the old way to resolve (sub-)commands. Would even say: It's inevitable that snips-nlu will re-implement whatever plugins 'run'-method will snips-n

[2020-06-16 10:30] CiTRuS93 commented on #709
does like here mean "good idea" or "go do it"?

[2020-06-16 11:03] pnhofmann commented on #709
good idea ;). But could really have added a more meaningful text.

Is your issue related to #707?

Anyway, I currently experimenting a bit restructuring Jarvis core. If I'm able to extract Jarvis Logic <-> Jarvis CLI output, yes, a flask-server should be possible without bigger issues, too.

[2020-06-16 12:37] CiTRuS93 commented on #709
I don't think it's related to #707 , while #707 is about Jarvis logic, I'm talking about surrounding the Jarvis logic with server. basically adding a connection layer witch transfer Jarvis CLI throw web

[2020-06-16 14:07] evamy commented on #693
@pnhofmann

Something really basic sounds good actually, and most commands will work. What happens to commands like "near me", "dictionary" (which require a parameter no matter what) ?

This is a good example, but do all of the commands have example utterances like this ?

Yeah, decorator is what I was thinking of, `slot_name`s cannot be solved without that.

[2020-06-16 14:43] pnhofmann commented on #693
We'll just feed all commands the complete user-typed string - just like it's currently done. I don't think we will ever replace this parameter 's', but rather allow commands to **additionally** request parameters / slots.

No, some way or other we will have to add more example data-strings.

[2020-06-16 15:15] evamy commented on #693
Oh so, you're saying add it as an extension to the `find_action()` ?

[2020-06-16 15:42] evamy commented on #693
Also, if I remove the `run(self, jarvis, s):` function (or the function call), will it make a difference ?

[2020-06-16 15:53] pnhofmann commented on #693
Yep.

run(self, jarvis, s) is the entry-point of every plugin. I don't understand, what you mean exactely.

[2020-06-16 16:12] evamy commented on #693
[code]

what is the sub_command in this function ? and it seems like for something like `max volume` command, I get just `volume` string in `s`. Can you explain the process a bit here ?

[2020-06-16 16:56] pnhofmann commented on #693
Oh, I understand...

command is for example ``movie``
sub_commands are ``year``, ``summary``, ...

Old (current) way: For example ``Jarvis, show movie year Inception``:

1. find_action("Jarvis, show movie year Inception", ['movie', 'dice', ...])
    -> Result: Plugin: movie,  run with String s: 'year Inception'
2. find_action("year Inception", ["year", "summary"]
    -> Result: Plugin: year, run w

[2020-06-16 17:27] pnhofmann commented on #693
Suggestion: If you'd implement something like:

[code]

I could make Jarvis use this module.

[2020-06-16 18:38] evamy commented on #693
I may have something similar:

[code]

[2020-06-17 15:12] evamy commented on #693
So, something like `show movie year Inception` is getting detected as `movie_year`, which is the good thing. The problem that now remains is how do we find the rest of the objects in the text.

[2020-06-17 18:13] pnhofmann commented on #693
One step after another ;).

Just pushed new branch: https://github.com/sukeesh/Jarvis/tree/restructure

What's new? The folder: ``jarviscli/language``. Currently only with default-parser - the logic currently used.

* Called method ``pre_train`` just ``train``
* ``identify_action`` should return a plugin

So, I suggest: Add new Language Parser ``snips``, change ``language_parser = default.DefaultL

[2020-06-18 14:52] evamy commented on #693
Okay. Thanks for setting that up. Gives me a clear idea of how to structure the parsing better!
(Now I just have to figure out how to import that branch into my fork)

[2020-06-19 13:32] KrishnaSai2020 commented on #713
@arjunk2004 seems like a good idea but zip code is a bit risky ie giving personal info maybe type get the user to tell the city and choose from a list that Jarvis gives. eg if I say 'weather in franklin' it could say 'which state Ohio, etc...'

[2020-06-19 13:47] KrishnaSai2020 opened #716 "Code is too clutterred"
I've had a quick look at your code and it is just cluttered with comments. Some are ok as in the ones that say thing along the line of "insert new feature here" or 'in progress'.

But ones like 'this line does this' or 'this variable does that' are not really needed. Take this in a good way as far as I can tell your code explains itself it doesn't need all these comments it just confuses things. I

[2020-06-21 21:07] adarshtri opened #718 "Leetcode Integration"
Leetcode has an endpoint https://leetcode.com/api/problems/algorithms/ to get basic information of the logged-in account like problems solved, easy count and plenty more trivial information as such. How about writing a plugin to integrate this command as well into Jarvis? I would like to create this plugin if the idea sounds good enough as a use case.

[2020-06-22 19:38] aprzn123 opened #719 "Errors from pydub"
On Windows, whenever I run Jarvis, this warning message is sent before it starts:
[code]
After this, if I use `enable sound` followed by `gtts`, I get further errors crashing the program.
[code]
Once this happens, the error crashes the program immediately upon startup.

Is this a known issue?

[2020-06-22 19:54] aprzn123 commented on #613
As the pull request to close this issue seems to be abandoned, could I work on this and finish what they started?

[2020-06-25 10:01] pnhofmann commented on #719
Thanks for reporting this issue!

1. Rename ``jarviscli/packages/memory/memory.json`` to reset Jarvis memory - so Jarvis start for now
2. Think, we should definitely try-except any exception that is thrown by tts initialization to avoid program crashes on startup (yes, that is really ugly) in the future
3. So, to fix this issue; my guess: Installing ``simpleaudio`` (``env\Scripts\pip.exe install s

[2020-06-25 10:14] pnhofmann commented on #718
Can't really find any documentation or terms of usage. The latter, you definitely should check if Leetcode does allow building apps using this api.
Never heard of LeetCode and must say, this plugin would probably be quite product-specific. But our policy is: PRs are accepted!!
If you can build a useful plugin (and are allowed to), sure we will accept!

[2020-06-25 10:18] pnhofmann commented on #709
Hi again!
Did push new branch introducing a new abstraction Jarvis logic <-> (multiple) front-ends
https://github.com/sukeesh/Jarvis/tree/restructure/jarviscli/ui

I am confident Jarvis web server can be implemented with just a view lines of code; will take a closer look soon.

[2020-06-25 10:24] pnhofmann commented on #716
#717

[2020-06-25 10:24] #716 closed

[2020-06-27 02:44] JettChenT commented on #682
I got the same results.

[2020-06-28 19:16] pnhofmann commented on #682
``CERTIFICATE_VERIFY_FAILED``

Doesn't look like Jarvis-issue. Quick search stackoverflow:

https://stackoverflow.com/questions/51925384/unable-to-get-local-issuer-certificate-when-using-requests-in-python

Might be caused by e.g. running software like Fiddler (or probably virus scanner or other stuff sniffing https traffic).

Other answer suggest, setting env variable ``REQUESTS_CA_BUNDLE``. But

[2020-07-01 07:23] alexandr7035 opened #722 "New plugin"
Is it ok if I create a plugin which displays guitar chords' schemas? :)

[2020-07-01 08:01] pnhofmann commented on #722
Sure!

[2020-07-01 20:15] alexandr7035 commented on #722
Great!

[2020-07-01 21:14] alexandr7035 opened #724 "BUG: Laucher doesn't work if the path to Jarvis directory contains spaces"

[2020-07-02 14:57] #724 closed

[2020-07-02 21:51] alexandr7035 commented on #722
@pnhofmann should I open data file in __init__() method of my plugin (so it will be opened only once, but on jarvis start) or on each plugin call?

[2020-07-03 09:17] #645 closed

[2020-07-03 09:20] pnhofmann commented on #722
Both is fine, but I would prefer --> ``init()`` (without underscores !).

[2020-07-15 15:06] evamy commented on #709
I was trying to add a home server of sorts in Jarvis, but for that I require the super/parent class as BaseHttpRequestHandler for the HomeServer class, something like this:

[code]

The problem is, its `__init__` requires 3 parameters. Can you suggest a way for it ? I tried to look into other plugins but did not find something similar done anywhere else....

Thanks!

[2020-07-15 19:59] pnhofmann commented on #709
Hi!
plugins do not support any ``__init__`` - parameters. But don't think, ``home server`` should be a plugin. Should be implemented as an alternative way to run Jarvis. Similar to https://github.com/sukeesh/Jarvis/blob/restructure/jarviscli/ui/cmd_interpreter.py

The relevant code would be something like:
[code]

Plus a new script ``run_server.py`` That somehow calls something similar to : https:

[2020-07-15 23:17] arjunk2004 commented on #713
Okay. That makes sense. Sorry about the late response I've been busy. I'll see if I can get it to provide a list...

[2020-07-16 13:45] evamy commented on #709
@pnhofmann
I think even if we are using jarvis with the command line interface, we should be able to start and stop the home server.

So, I think currently there are 2 possibilities for us:

1. We consider it as a ui:
1.1 We will be able to separately start a home server and send command line instructions to it to which it can respond. or,
1.2 We can consider starting the home server capability co

[2020-07-16 22:03] redwine629 commented on #201
Could not fetch URL https://pypi.org/simple/pip/: There was a problem confirming the ssl certificate: HTTPSConnectionPool(host='pypi.org', port=443): Max retries exceeded with url: /simple/pip/ (Caused by SSLError("Can't connect to HTTPS URL because the SSL module is not available.")) - skipping
 Install virtualenv failed

[2020-07-17 19:26] aprzn123 opened #744 "@plugin decorator appears to not be working"
I'm working on the routines described in #613, but I'm finding a weird issue wherein some plugins failed to be registered. Below is an abridged version of my code in jarviscli/plugins/routine.py
[code]

The issue I'm having is that the first two plugins are registering and running fine, but the third and fourth don't seem to be registered. They're not listed when you use `help`, and when you try t

[2020-07-17 20:15] pnhofmann commented on #744
Hi!

That is the interesting part of this issue.

Obviously your example code is missing some 'pass'. And fourth plugin shadows third plugin because both are called ``list_routines``. Unfortunately - beyond that, I can't reproduce any strange behavior.

[2020-07-17 20:44] pnhofmann commented on #709
That definitely explains your 'as a plugin'-thought.

Yes, possible.

If I understand you correctly, cmd interface and server interface should work 100% independent. Like: While Server is running a task (and maybe even asking for user input?), the cmd interface can run a completely different task, that is not affected from server task in any way.

And we are probably not talking about one Thread /

[2020-07-17 20:51] aprzn123 commented on #744
Apparently due to some quirk in the plugin registering system, giving two functions the same name somehow causes neither to register. Not sure why that is, I'm not that familiar with the part of the program which does that.

[2020-07-17 21:16] pnhofmann commented on #744
Two functions definitely cannot exist with the same name in python.

You probably think  ``@plugin`` does register a new plugin. Unfortunately it isn't implemented this way: ``@plugin()``only **creates** plugin. And in a second step a small lib called [pluginmanger](https://github.com/benhoff/pluginmanager) searches everything for stuff that looks like a plugin.

Second definition of ``list_routin

[2020-07-19 13:36] CiTRuS93 commented on #709
hey there!
I really forgot about this issue.

instead of using BaseHTTPRequestHandler, why won't we use flask?
something like this:

`@app.route('/command')
def command():
    message = request.get_json()
    cmd_interpreter = jarvis_dict[message['id']]
    command = " ".join(message['command']).strip()
    cmd_interpreter.executor(command)

@app.route('/connect')
def connect():

    global_users_

[2020-07-19 20:05] evamy commented on #709
@pnhofmann
I gave this more thought, shouldn't all the UI be 100% independent of each other ?
Shouldn't we be able to enable chat/voice/cmd line interface all independently of themselves ?
And while being on the cmd line, I should be able to invoke the same command that I should be able to either on chat or via server, or via voice.

So, we can actually make cmd line the base (or make it the base

[2020-07-19 20:51] pnhofmann commented on #709
@evamy

Yep

No problem with that.

@CiTRuS93

+1

[2020-07-20 22:34] adarshtri commented on #718
I think you have got a valid point. After doing some research I found that the API can't be used otherwise for any purpose. Closing the issue.

[2020-07-20 22:34] #718 closed

[2020-07-20 22:35] adarshtri opened #746 "Curl Request Generator"
A plugin that could generate curl request for the users based on the HTTP method, content type, data.

[2020-07-22 08:41] CiTRuS93 commented on #709
hey again,
I've build some simple Flask server but for some reason I can't run it with Jarvis,
some virtual environment problem that I can't figure out.
 I did test it with some Cmd Interpreter stub successfully.

@pnhofmann
should I push it?

[2020-07-22 15:30] evamy commented on #709
@CiTRuS93
I can try taking a look at it if you'd like ?

[2020-07-22 16:05] CiTRuS93 commented on #709
@evamy
that will be awesome

[2020-07-22 17:46] evamy commented on #709
So, I got the home server running with Jarvis:
<img width="854" alt="Screen Shot 2020-07-22 at 12 44 47" src="https://user-images.githubusercontent.com/5526025/88210044-30036900-cc19-11ea-9b6c-d2ced884c7e2.png">

@pnhofmann
Suggestion needed: Home server application is in the UI, will serve as the UI, but to start it would be a plugin, right ?
I'm not able to think another way to do it. Please sug

[2020-07-22 18:08] CiTRuS93 commented on #709
I don't think we should run the server as plug in, instead we should run the server if we're getting server flag:
`>>Jarvis -server     #will run jarvis as server`
`>>Jarvis     #will run jarvis as usual`

[2020-07-22 18:59] evamy commented on #709
@CiTRuS93
I think we should be able to start, stop, restart the server while jarvis is already running. Which is what brings me to server start as a plugin, instead of directly.

[2020-07-22 20:03] CiTRuS93 commented on #709
So we'll be managing several Jarvis instances inside Jarvis?

[2020-07-22 20:52] evamy commented on #709
@CiTRuS93
So, think of it in terms of a microservice all reporting to the same base service.
There is just one instance running, which can spawn threads, those threads can either provide services/ui, or just do some task and finish per the task end.

[2020-07-23 16:06] evamy commented on #709
@pnhofmann
Let me know what you think on how you would send a request to start/stop/restart the server.

[2020-07-23 17:40] pnhofmann commented on #709
Yes, but it would be possible to create a plugin something like that:

[code]

or

[code]

Plus equivalent for stop / restart and some simple logic to check if server is already running.

But in general, would say the server is Jarvis core functionality rather than a plugin. But like shown above, this does not contradict the idea of being able to start / stop / restart Jarvis server while Jarvis i

[2020-07-24 13:00] evamy commented on #709
I was going for the second type! Cool, thanks! Now I can build on it!

[2020-07-25 13:13] evamy commented on #709
So, for the app route directive, I was thinking of something like this:

[code]

where the end points are all made of plugin names, and calling them just calls the plugin.
There can be an extra request parameter which includes extra parameters required.

Thoughts on this @pnhofmann or @CiTRuS93.
Sure we could also just take a string command as well.

[2020-07-25 15:32] pnhofmann commented on #709
Hmm, like this idea. This provides a much cleaner api than parsing text like ``jarvis, please call start``. With ``curl http://server/plugin/start?param=x`` it is clear, what the server does.

One final hint, because I say your edit: There is jarvis.register_io(). Use like this:

[code]

=> You don't need to overwrite stdout. With register_io you can archive, that this method ``say`` is directly c

[2020-07-25 18:18] evamy commented on #709
@pnhofmann

New [branch](https://github.com/MLDaily/Jarvis/tree/restructure) edits on my end.
^ this is what I currently have
Not yet been able to make everything an endpoint (working on it).

The only drawback of this idea is that the client will need to already have parsed the action into the calling url.

[code]
Will have to be derived at the client, instead of the server.
If the client is not

[2020-07-26 09:28] CiTRuS93 commented on #709
@evamy

I've noticed before your edit that u want to use the server as a home server home automation. I don't think that http server will give u all the functionality that u want, maybe we need to add some socket based chat room (like AWS pubsub for example)?

[2020-07-26 10:35] pnhofmann commented on #709
This is a solvable issue.

[code]

And you can ask stuff like: ``http://server:port/talk?s=Jarvis what year did the movie inception release``

(Note: ``jarvis.eval(s)`` is currently broken on restructure branch. Will take a look later)

Yep, a standardized interface since differed UIs need different ways to ``say`` and ``input``. With register_io Uis may ``patch`` in their implementation of these

[2020-07-26 16:36] evamy commented on #709
@CiTRuS93

I think that problem can be solved using plugins.
I'll just have to add a proper plugin for the devices that I use(d).

Example, I can add a plugin like:
`wifimodule introduce` with `@require(server=True)`
and then from the `wifimodule` client, I can send a POST request for introducing the device onto the server and then the server can store information in its memory of the devices that

[2020-07-27 21:16] evamy commented on #709
@pnhofmann
I looked at the code in your commit.

If we change the jarvis main process to the server process, what happens to the base process (cmd line process), shouldn't we be able to keep that running ?

[2020-07-28 06:59] farseenmanekhan1232 opened #755 "Language Translation Feature"
Translate a given sentence into a specified Language
This can be done using Google Translate API

[2020-07-29 14:31] evamy commented on #709
@pnhofmann
Question: will voice also get moved to the ui package ? (it is in fact a UI...)
Can we treat the server similar to voice ??

[2020-07-29 14:48] pnhofmann commented on #755
This feature already exists:
https://github.com/sukeesh/Jarvis/blob/master/jarviscli/plugins/translate.py

[2020-07-29 15:12] pnhofmann commented on #709
Is still running (try typing stuff, Jarvis will answer!). It is just a bit confusing, because server info is printed to stdout. Which is fine for debugging, but ultimately we'll need to redirect everything form server to a log file.

Probably too trivial ;).

``endpoint_string = "/" + '_'.join(re.findall(r"[\w']+", plugin.get_name()))``
->
``endpoint_string = "/" + '/'.join(re.findall(r"[\w']+", p

[2020-07-29 15:15] pnhofmann commented on #613
#748

[2020-07-29 15:15] #613 closed

[2020-07-29 15:15] #744 closed

[2020-07-29 15:41] evamy commented on #709
@pnhofmann
So, here's what I have on my mind (and it's kind of cluttered, so maybe writing it down and discussing here will help me too):

- The way we have the current voice settings, is how it would be best to keep it. `voice` package will move to `ui` but enable and disable voice should be available just the way it is currently, and we can spawn a thread/process for the UI.
- So, like `jarvis.s

[2020-07-29 16:53] evamy commented on #709
That changes this:
`/update_some_random_update_feature`
to
`/update/some/random/update/feature`
where we would prefer
`/update/some_random_update_feature`

[2020-07-29 18:16] pnhofmann commented on #709
Does not, original plugin name would be: ``update some_random_update_feature``. The re.findall() returns - ``['update', 'some_random_update_feature']`` - since '_' is in '\w'. And the join returns: ``update/some_random_update_feature``

More a ``require()`` tag, but yes! Also agree with rest of your comment.

I don't even know if this was a clever decision.

Jarvis_api is what is passed when plugi

[2020-07-29 18:36] evamy commented on #709
Umm, maybe I did not explain this properly.

the original plugin name is `update some random update feature`

[2020-07-29 20:18] pnhofmann commented on #709
Ok, in this case ``/update/some/random/update/feature`` is actually what I'd expect. My current design does not implement spaces inside plugin-names.
Call a plugin ``update some random update feature`` and you actually create a plugin ``update`` with sub-command ``some`` with sub-command ``random`` with sub-command ``update`` with sub-command ``feature``.

[2020-08-05 13:35] evamy commented on #709
Okay, that might be the reason why I get four of these:
[code]

notice that all are different plugins (by their hash codes)

[2020-08-05 23:52] gordodev commented on #411
Any update on this?

[2020-08-27 19:54] aprzn123 opened #758 "Updating the todo plugin"
I was considering adding some additional functionality to the todo plugins in `reminder.py`. Before I start working on that, can someone explain to me what the progress subcommand does? Is it just a string associated with the todo item, or is there additional functionality to it?

[2020-08-28 19:55] pnhofmann commented on #411
Let's hope soon ;).

[2020-08-28 19:58] pnhofmann commented on #758
Hi!

Yes, currently progress it's just a string which can be set to really everything. But if you like, I wouldn't mind if you change this behavior to for example percentage value 0..100.

[2020-08-28 22:28] aprzn123 commented on #758
I might update it to that; I might also add functionality to filter by incomplete tasks.

[2020-09-14 18:43] lit3ral opened #759 "Starting and ending output using non-interactive mode"
When you launch Jarvis in interactive mode, it has some output at the beginning and some more when you exit jarvis. When you use jarvis in non-interactive mode like `jarvis [command]`, this output at the beginning and end is still there. I think we should just keep the command output and not the jarvis start and end output. Thoughts?

[2020-09-17 15:54] pnhofmann commented on #759
Agree!

Probably we could just create CmdInterpreter with ``first_reaction=False`` to get rid of output at the beginning
``https://github.com/sukeesh/Jarvis/blob/master/jarviscli/CmdInterpreter.py#L315``

For output at end, we could add a ``no_output`` option to ``exit()``.
``https://github.com/sukeesh/Jarvis/blob/master/jarviscli/CmdInterpreter.py#L430``

[2020-09-19 06:23] harikarthickt opened #760 "Installation Failed in Ubuntu 20.04"
root@hk-VirtualBox:~/python/Jarvis# ls
custom  Dockerfile  installer  LICENSE   README.md  setup.sh
doc     icons       jarviscli  Makefile  setup.bat  test.sh

root@hk-VirtualBox:~/python/Jarvis# source setup.sh

Command 'python' not found, did you mean:

  command 'python3' from deb python3
  command 'python' from deb python-is-python3

Python 3.8.2
Logging to /tmp/tmp1yuwjvzl

============== Pr

[2020-09-22 19:56] lit3ral commented on #760
Hi! If you're on ubuntu you should run `python3 installer` once inside the Jarvis directory instead of running `source setup.sh`
If it can't find `python3`, you can fix that easily by running `sudo apt install python3`. Let me know if that works!

[2020-09-23 00:02] lit3ral commented on #759
Great, I'll do that as soon as I can. Sorry for the late response. I'm still in school so I've been a bit busy since it's opened

[2020-09-23 07:55] pnhofmann commented on #760
Hi! Thanks for reporting this issue!

Problem is actually not with ``python`` <-> ``python3``. The ``Python 3.8.2`` is correctly found and used. Although silencing the ``python`` cmd not found (and therefore not used) message would be a good idea to avoid confusion ;).

Problem is, newer versions our requirement archey4 (used for sysinfo plugin) got a new requirement (netifaces) which requires nat

[2020-09-23 07:55] #760 closed

[2020-09-23 09:59] mikek4233 opened #761 "Getting Error on systeminfo Linux Ubuntu"
When I run systeminfo I get an error ImportError: cannot import name 'archey'

[2020-09-23 12:11] mikek4233 commented on #761
Re-ran setup as I saw a commit was just made about this and now works

[2020-09-23 12:11] #761 closed

[2020-09-29 16:59] valuechip opened #763 "Akinator AtributeError"
Was playing with the Akinator module. No issues until it attempted to guess a personality which it seemed to have been missing a "name" attribute.

OS: Ubuntu 20.04.1 LTS

no
Does your character have curly hair?
yes
Some error occurred, please open an issue on github!
Here is error:

  File "/home/valuechip/Documents/Projects/gits/Jarvis/jarviscli/CmdInterpreter.py", line 287, in try_do
    do(sel

[2020-09-30 20:29] Bersam opened #766 "Jarvis fail on help command"
Hey,
So I was trying this tool and I notice `help` command will break the setup... I have ubuntu 18.04 and python3.6.9, and I'm running `./jarvis`.

[code]

[2020-10-01 07:02] sukeesh opened #768 "Handling spam PRs"
@appi147 @pnhofmann @StefanosChaliasos @yashLadha

Hi all,

Due to the Hacktober fest, We might get a lot of spam PRs to update README's. I will be closing them manually one-by-one throughout the month.

Some background: https://blog.domenic.me/hacktoberfest/

[2020-10-01 09:09] cclauss opened #773 "Undefined names in Python code"
[flake8](http://flake8.pycqa.org) testing of https://github.com/sukeesh/Jarvis on Python 3.9.0rc2+

$ __flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics__
[code]
https://flake8.pycqa.org/en/latest/user/error-codes.html

On the flake8 test selection, this PR does _not_ focus on "_style violations_" (the majority of flake8 error codes that [__psf/black__](https://github.com/psf/bla

[2020-10-01 11:03] Rasesh2005 opened #774 "Error On Starting jarvis.bat"
Error:

[code]

[2020-10-01 15:31] pnhofmann commented on #763
Hi!
Thanks for reporting this issue! Looks like Akinator api changed upstream.
Upstream example replaced ``{aki.name}`` with ``{aki.first_guess['name']}`` and ``{aki.description}`` with ``{aki.first_guess['description']}``.

[2020-10-01 15:37] pnhofmann commented on #766
Hi and Thanks!
took a closer look - it's a small mess ;). ``help`` still uses the ``utilities/GeneralUtilities.py:print_say`` method - which is legacy. Think we should remove this method completely; will work on this soon.

[2020-10-01 15:43] pnhofmann commented on #774
Hi!
Ok, noted; add better exception handling for text to speech feature ;).

[2020-10-01 19:42] Curiouspaul1 commented on #709
Is someone working on this already?

[2020-10-01 19:48] evamy commented on #709
@Curiouspaul1 I kinda am. I'm hoping to get this sorted out by the end of this month, if possible

[2020-10-01 19:50] mikek4233 opened #781 "MAC Address Changer"
A useful tool is a MAC address changer I would love to work on this. What do you think?

If I am working on Linux how do I test my code for windows and macos?

[2020-10-01 20:05] Bersam commented on #766
Hi @pnhofmann, I spend a bit time and prepared a small fix for this, I assumed the right method, in this case, is the JarvisAPI.say, please let me know if it's not the case :)

[2020-10-02 12:19] pnhofmann commented on #781
Sure!

It would be ok for a plugin to only work on one platform. Just mark add a ``@require(platform=LINUX)``.

https://github.com/sukeesh/Jarvis/blob/master/doc/PLUGINS.md#require

[2020-10-02 12:26] #766 closed

[2020-10-02 13:51] mikek4233 commented on #781
Ok so I have finished the linux one - if I figure out how to test on other platforms (I am having trouble setting up jarvis for  windows) then I'll add to this plugin at a later date

[2020-10-03 22:44] AltheusV opened #790 "NoneType on Football command and Incorrect Scores"
Hey, I found out about this project on hacktoberfest, and I think that it is an amazing idea!

I was looking for a way to contribute and I found this issue on football command. Looks like the football API is returning None for scores["halfTime"] variable.

I also noticed that the code was summing fulltime with halftime, giving the incorrect score. The fulltime score already counts goals from halft

[2020-10-03 22:55] AltheusV commented on #790
https://github.com/sukeesh/Jarvis/pull/791

[2020-10-04 12:29] shaw8wit opened #792 "Ineligible for Hacktober fest"
Maintainers,
Please add the topic 'hacktoberfest' to make the repository eligible for Hacktoberfest 2020.
![image](https://user-images.githubusercontent.com/52004561/95009020-4af05180-063c-11eb-8fbc-d4b9c22ff776.png)
Kindly check the 4th point.

[2020-10-04 13:13] appi147 commented on #792
@shaw8wit Do you mean in About section of this repo? Because we have a label named hacktoberfest

[2020-10-04 13:20] shaw8wit commented on #792
@appi147 Yes In the about section of the repo.

[2020-10-04 13:30] appi147 commented on #792
@sukeesh We don't have rights to add the topics. Please add the topic, so that community benefits from it.

[2020-10-04 18:46] mikek4233 opened #793 "WIFI Password Getter"
This plugin will find and display all the profiles of the wifis that you have connected to and then display the password if selected

Happy to work on this

[2020-10-07 13:12] #773 closed

[2020-10-07 13:12] pnhofmann commented on #773
Thank! ;)

[2020-10-09 03:07] Ed1123 commented on #755
If the feature already exist I think you may want to close the issue, @farseenmanekhan1232 .

[2020-10-13 09:18] pnhofmann commented on #793
Sure!

[2020-10-13 09:18] #790 closed

[2020-10-13 09:19] pnhofmann commented on #755
Yeah, let's close this one ;)

[2020-10-13 09:19] #755 closed

[2020-10-13 14:52] pnhofmann commented on #781
#788

[2020-10-13 14:52] #781 closed

[2020-10-13 15:52] mikek4233 commented on #793
@pnhofmann - regarding the name I wanted to just do "wifi" but if later I want to do other wifi related features such as wifi reboot? So maybe I should do "wifi passwords" that way I can do other commands like reboot your wifi in later features

What do you think?

[2020-10-13 15:57] pnhofmann commented on #793
whatever you prefer - just calling it "wifi" sounds fine to me and this won't stop you from adding features like "wifi passwords"

[2020-10-13 17:15] mikek4233 commented on #793
Ok @pnhofmann done

[2020-10-18 11:01] #763 closed

[2020-10-18 11:04] #793 closed

[2020-10-22 16:07] Martins6 commented on #485
Hi, guys,

@aazuspan Where would this data be stored? I've searched and not have found this JSON. Shouldn't we use the path "Jarvis/jarviscli/data/" to write a JSON or a CSV? I  This would be my proposal for addition in the code of @JonanOribe .

Also, I'm interested in continuing the development in case any of you are not interested. It could be a reference for future plugins to use "myInfo" data

[2020-10-23 16:25] JonanOribe commented on #485
Hi @Martins6 , at this moment I have not to much time for continuing with this feature, so if you want too take it feel free about this. On the other hand, if you have any question about the code just tell me

[2020-10-24 04:49] aazuspan commented on #485
Hi @Martins6,

In the `packages` folder, `memory.py` handles that JSON file. It's created on the user's local drive when something is saved to memory, which is probably why you couldn't find it.

I definitely don't mind if you tackle this. I think it'd be a good addition.

[2020-10-26 14:06] #792 closed

[2020-10-27 13:35] shreyubee commented on #713
I would like to work on this if it's still available

[2020-10-27 13:36] shreyubee commented on #687
I would like to work on this

[2020-10-27 13:37] shreyubee commented on #492
I would like to work on this

[2020-10-27 13:38] shreyubee commented on #759
I would like to work on this.

[2020-10-28 16:51] Martins6 opened #801 "Library/Repository for Jarvis Plugins"
I've built a Jarvis plugin to administer my R scripts, but I also know not everybody will be interested in this specific plugin. So, I was thinking:

1. How about we construct a repository or library for Jarvis plugins? Some server or someone's repository in Github where it would contain a bunch of plugins ready to be installed as needeed.

2. We should also build alongside an "install plugin" plu

[2020-10-28 16:55] Martins6 commented on #801
Those jarvis plugins in the repository could be in a specific file type like: "example.jarvis_plugin". Many ways to do the same job!

[2020-10-28 19:24] pnhofmann commented on #759
Sure!

[2020-10-28 19:27] pnhofmann commented on #687
Obviously wouldn't stop you if you say you just really want Jarvis as an Alexa skill (in this case re-open this issue); but closing this one because has no priority.

[2020-10-28 19:27] #687 closed

[2020-10-28 19:27] pnhofmann commented on #713
Sure!

[2020-10-28 19:31] shreyubee commented on #713
Could you please assign it to me?

[2020-10-28 19:32] shreyubee commented on #759
Could you please assign it to me?

[2020-10-28 19:37] pnhofmann commented on #801
Like a marketplace ;). Like this idea.

I'd also have no problem with plugins in this repo, which are disabled by default. But I agree, for highly specific plugins a own repository would be better.

My two cents:

I'd simply ``git submodule``  the repositories to a ``jarviscli/additional`` folder (included in plugin search path).

[2020-10-28 19:59] pnhofmann commented on #759
Of course ;).

[2020-10-28 22:17] Martins6 commented on #801
I've got to be frank, didn't know what git submodule was. Then I searched for it and found it amazing! Nice git functionality.

Anyways...like you said @pnhofmann, for the more accepted plugins the ` git submodule ` would work just fine. However...I'd argue that as Jarvis grows the 'marketplace' will become more and more necessary. So...why not start with that? It will solve for the more accepted

[2020-10-29 08:39] pnhofmann commented on #801
OK, need to rollback from this spontaneous idea ;). Didn't think this through: Git submodule means, this repo is added to git history and we certainly don't want to commit what plugins we installed.
What we'd need would be rather a regular ``git clone`` (like e.g. my vim plugin manager does it) - and obviously exclude ``jarviscli/additional`` from Jarvis git history.

+1

Another suggestion - whic

[2020-10-29 12:00] Martins6 commented on #801
Sold! For me, at least. :laughing:

I shall begin some experiments with that. It can be a sort of foundation or benchmark for future upgrades.

About the tag, still... My idea would be for the user who wants to offer his code in the plugin marketplace (I hope this nomeclature sticks) as a bunch, or tagged combo, put all the code in the same folder. Example: 'spicy.py', 'sweets.py', etc, in the sam

[2020-11-07 04:09] aalmoame opened #804 "[New Feature]"
Is it okay if I contributed a horoscope plugin? Can also include things like lucky number and sign compatibility.

[2020-11-07 06:21] #804 closed

[2020-11-09 12:03] pnhofmann commented on #759
#802

[2020-11-09 12:03] #759 closed

[2020-11-17 18:15] lit3ral commented on #617
Can we resolve this issue?

[2020-11-17 20:08] akshgpt7 commented on #617
Fixed in #706

[2020-11-17 20:08] #617 closed

[2020-12-03 08:26] sohail532 commented on #768
just try changing the structure a little bit and u will get it and try to use sigmoids other than perceptrons

[2020-12-27 06:32] kailash360 commented on #683
I want to add 'Windows' in the description of repository.

[2020-12-28 08:50] LordCreative97 opened #813 "i am getting this error while opening bat file"
Python 3.9.0
Logging to C:\Users\CREATIVE\AppData\Local\Temp\tmp654gk75_

============== Preparing virtualenv ==============

============== Install requirements ==============

===== Download additional data (Dictionary) ======
* wordnet
/ ** On entry to DGEBAL parameter number  3 had an illegal value
 ** On entry to DGEHRD  parameter number  2 had an illegal value
 ** On entry to DORGHR DORGQR p

[2021-01-02 18:41] pratheekcr commented on #549
Hi there, is this issue still open? I am a first time contributor, is this a difficult task for a beginner?

[2021-01-05 02:47] anukul123 commented on #549
no it is nor pratheek. You can obviously try.

[2021-01-09 06:21] Alenjojo commented on #813
Just check whether you have installed latest python version ,virtualenv  and then run python installer in the file path

[2021-01-09 06:22] Alenjojo opened #814 "No basic commands accepted"
Most of the basic common commands are not defined in the program

[2021-01-09 12:27] pnhofmann commented on #813
Thanks for reporting this issue! And Sorry for long delay.

In any case, this is interesting... Maybe a version miss-match between nltk and the data? I'll think try to think of something...

[2021-01-09 12:27] pnhofmann commented on #814
Hi!
Can you give an example what you mean with "basic common commands"?

[2021-01-09 18:55] appi147 commented on #814
Maybe he is referring to [https://github.com/Alenjojo/Friday](https://github.com/Alenjojo/Friday) 😉

[2021-01-10 05:56] Alenjojo commented on #814
like when i tested it out, i used the common sentences that we use daily so in that sense

[2021-01-10 16:53] pnhofmann commented on #814
Related to #424

[dev](https://github.com/sukeesh/Jarvis/tree/dev)-branch contains some improvements.

If you like, just really write done some example of common sentence you would like to use with Jarvis. Would be useful for testing ;).

[2021-01-15 18:55] aneeketMangal commented on #521
I think pypdf2 and further pyttsx might come handy.

[2021-01-15 21:04] ropoko opened #815 "fix error on matrix_add"
after inputting the dimensions of the matrix if you input something different from a number this error appears:

![issue](https://user-images.githubusercontent.com/49417432/104778390-09ebfb00-575c-11eb-8c2b-d1ffd0d07f02.png)

[2021-01-21 10:29] pnhofmann commented on #815
Thanks for reporting this issue ;).

[2021-01-31 09:47] Akshit1510 commented on #815
i would like to work on it

[2021-02-01 10:57] pnhofmann commented on #815
Thanks @Akshit1510
#817

[2021-02-01 10:57] #815 closed

[2021-02-02 08:22] Akshit1510 opened #818 "errror while running"
![image](https://user-images.githubusercontent.com/78103978/106571989-dda6eb80-655d-11eb-9288-48c31c86b3a3.png)

[2021-02-02 15:40] #818 closed

[2021-02-27 13:03] pnhofmann commented on #758
#803

[2021-02-27 13:03] #758 closed

[2021-03-03 14:22] Pierrecoulon1 opened #821 "New Feature Proposal"
Hi everybody,
I am Pierre and I will invest my time in the next months in this project to help you guys develop it.
I looked at what this Jarvis could do right now and I think this was a good idea to add a feature where you could ask for definition of words.
Thanks to the wikipedia library it’s quite easy to do, what do you think about it ?

[2021-03-03 18:03] pnhofmann commented on #821
Hi!

Always nice to hear ;).

Sure! Just note: There is a Wikipedia-Plugin:
https://github.com/sukeesh/Jarvis/blob/master/jarviscli/plugins/wiki.py

And a dictionary plugin - but a quite basic one which works offline and displays stuff from ntlk:
https://github.com/sukeesh/Jarvis/blob/master/jarviscli/plugins/dictionary.py

You could enhance both ;). For example make dictionary also print wikipedi

[2021-03-09 20:18] Pierrecoulon1 commented on #821
The wiki part is quite fully implemented. I made a funny part where you can ask him what to do when you're bored. I am using the Bored API. While implementing the plugin the command isn't recognize, what do I need to do?

[2021-03-09 21:39] Pierrecoulon1 commented on #821
I made many new features during the night. I implemented few others fun APIs which try to detect where you're from or your age from your name. Furthermore, I did a last one which permit someone to ask information about a country, Jarvis responds with his capital, his region, his number of inhabitants, his size and his currency

[2021-03-10 10:02] pnhofmann commented on #821
Nice ;).

Can you give an example code? Actually everything marked with ``@plugin`` in ``jarviscli/plugins`` dir should be loaded...

[2021-03-11 11:41] Pierrecoulon1 commented on #821
It's ok, there was a problem linked to the fact that the file and function were beginning with a Capital letter.
What would you want now? I was thinking of a Spotify API, but it needs Oauth2.
What would you prefer to see in the next Jarvis features ?

[2021-03-12 11:11] pnhofmann commented on #821
Wouldn't be a problem, if the user needs to login first.

Big terms of service ;) https://developer.spotify.com/terms/ but sure, something with Spotify would be nice.

[2021-03-18 14:50] youdass101 opened #826 "errors running jarvis.bar"
(env) PS E:\Coding\lab\Jarvis> .\jarvis.bat
No module named 'fasttext'
Jarvis' sound is by default disabled.
In order to let Jarvis talk out loud type: enable sound
Type 'help' for a list of available actions.
159 plugins loaded 26 plugins disabled. More information: status

Traceback (most recent call last):
  File "c:\users\hamze\appdata\local\programs\python\python39\lib\runpy.py", line 197, in

[2021-03-22 08:48] pnhofmann commented on #826
Hmm - 'myuser' is your user account?

Can you check permission of this folder / check if it exists? You should definitely have write-permission on your whole Home - especially (I guess that's your) %TMP%. Looks like an issue with your Windows-installation.

[2021-03-26 02:45] ARUN-S01 commented on #201
use pip install JarvisAI==0.0.2

[2021-03-26 14:30] pnhofmann commented on #201
That is a completely different Jarvis Project ;).

[2021-03-29 14:33] CyberkidAdithya commented on #821
Hello Brothers, I am a CS student from India. As I was looking for some help in my Python Project I came up with this Git Repo, and luckily you guys seem to be working on the same project in which I have been working for the past few months. So if you don't mind, will you guys allow me to contribute to this project? I have never done any Open Source Contributions before and I am really excited abo

[2021-03-29 18:08] pnhofmann commented on #821
Hi @CyberkidAdithya ! Sure, everyone is welcome - especially new open source contributor ;).

[2021-03-30 08:39] krishna8421 opened #834 "Minor Spelling Mistake."
File - [optional.py](https://github.com/sukeesh/Jarvis/blob/master/installer/optional.py)

Line 11 and 21

Change packman to pacman.

[2021-03-31 02:46] ryan-bart commented on #834
Updated in PR 835

[2021-03-31 04:44] #834 closed

[2021-04-03 14:12] LiranCaduri opened #836 "Uninstalling Jarvis from MacOS BigSur"
Hi everybody!

I want to uninstall Jarvis completely, with no left overs file and code.
I already read the closed issues about uninstalling and for some reason it didn't help, couldn't seem to remove Jarvis.
Can anybody help me please?

I ran the `setup.sh` script.

Thanks in advance!

[2021-04-04 14:57] pnhofmann commented on #836
That be #332? Yes, that is outdated. Jarvis now doesn't install files globally.

Only exception: The launcher.
* If you choose to "Install jarvis /usr/local/bin starter (requires root)", just delete ``/usr/local/bin/jarvis``.
* If you choose to add Jarvis to your path, remove the ``export PATH="$PATH:/home/.../Jarvis"`` line from your ``~/.bashrc``.

Everything else happens in the Jarvis-Folder.

[2021-04-04 15:05] LiranCaduri commented on #836
Awesome, Thank you 🙏

[2021-04-04 15:05] #836 closed

[2021-04-10 16:37] devang-pipaliya opened #837 "While building docker image, I'm getting given error....."
Building wheels for collected packages: opencv-python
  Building wheel for opencv-python (PEP 517): started
  Building wheel for opencv-python (PEP 517): finished with status 'error'
  ERROR: Complete output from command /usr/local/bin/python /usr/local/lib/python3.6/site-packages/pip/_vendor/pep517/_in_process.py build_wheel /tmp/tmplgj_obsu:
  ERROR: Not searching for unused variables given on t

[2021-04-28 12:55] Tpool1 opened #839 "File Manager?"
Hello,

Could I implement a file manager plugin? You might be able to say "delete X file" or "move X file to a certain directory": things like that. I am new to contributing so if I am doing something wrong please bear with me! Is this something that already exists?

[2021-04-28 13:29] pnhofmann commented on #839
Sure!

Full File Manager? No. But you could take a look at 'file_organizer" - this plugin moves files based on extensions. Maybe some parts can be re-used?

https://github.com/sukeesh/Jarvis/blob/master/jarviscli/plugins/file_organise.py

[2021-04-29 19:18] #839 closed

[2021-04-30 16:11] devang-pipaliya opened #841 "Unable to open camera"
I have forked your repository at [https://github.com/devang-pipaliya/Jarvis](https://github.com/devang-pipaliya/Jarvis)

Nothing much is been changed except the requirements.txt and dockerfile content. I'm trying to open the camera but unable to do it.

Here is the command to run the docker and the output is:

[code]

[2021-04-30 18:30] nikiboura opened #842 "New music feature proposition"
Hello everyone! I am interested in contributing to Jarvis and I want to work in building a new feature that proposes songs to the users depending on their current mood.
What do you think about it?

[2021-04-30 18:49] IriannaPapoutsi opened #843 "Improve write agenda feature"
Hello everyone!
I'm Irianna and I would like to make some contributions in Jarvis.
To begin with, I have observed that the input data of wirte agenda feature are not being saved in different columns in the csv file.
So I would like to correct that and add some new information of the event such as date, time etc.
Would you like that?

[2021-05-02 08:58] pnhofmann commented on #842
Sure!

Just remember - if you use data from any kind of web-api - to check terms of service (e.g. attribution, etc.) :).

[2021-05-02 09:00] pnhofmann commented on #843
Hi! Sure, sounds good!

[2021-05-02 11:53] pnhofmann commented on #841
Hi!
generally it is possible to run x11 apps in docker. But honestly I don't see much reason to ;).
Maybe we should add a option ``require(gui)`` and disable all gui-plugins in docker.

To answer your question:

x11 has access control. My guess: Try ``xhost +`` which basically disables x11 access control. Probably you can use xhost to allow just docker - but don't ask me why ;).

[2021-05-10 16:45] evamy commented on #424
Snips-NLU has been implemented and working since a long time, at least in dev. I can see it understanding the correct command most of the times even when I give a confusing natural statement.

The way I see it, we will have to change the way we arrive at `s` in our code in order to be able to fully utilize it.

[2021-05-10 20:24] DobbyK opened #853 "Add Labels for Issues, and Pull Requests, and overall more orginizations such as Docs, and branches"
This repository is, although, not the largest, is sometimes difficult to get around. If we had Labels the organization of the project would be much easier to get around. And to find important Issues such as security (if we ever get more plugins that connect to a chat server or something, which I may work on).

[2021-05-12 23:02] DobbyK commented on #853
I mean we should use labels more often, if anyone was confused by this.

[2021-05-14 13:46] anshgo01yal opened #856 "jarvis o windows"
do anyone help me to run jarvis in windows!!!!?

[2021-05-14 14:20] DobbyK commented on #856
Run setup.bat

[2021-05-14 14:51] anshgo01yal commented on #856
I did that. still I
![oooooooooooo](https://user-images.githubusercontent.com/58463645/118288311-ec545580-b4f1-11eb-87f0-fe7195f8666f.PNG)
 found an error

[2021-05-14 15:44] DobbyK commented on #856
Try just using the command python installer inside the directory, see if it gives the same error. setup.bat doesn't look complete to me.

[2021-05-14 16:29] anshgo01yal commented on #856
hey it works I searched some stuff stack overflow and things now it is installed.
can u tell me how to use it. when I type jarvis in cmd it shows error
![nnnnnnnnnnnnnnnnnnnnnn](https://user-images.githubusercontent.com/58463645/118300468-97b7d700-b4ff-11eb-9a15-60fa0e3d0551.PNG)

[2021-05-14 16:48] DobbyK commented on #856
When installing, did you choose to install Jarvis without having to call full path?

[2021-05-14 16:50] anshgo01yal commented on #856
no, how do I do that

[2021-05-14 16:53] DobbyK commented on #856
It should ask you when installing Jarvis, try installing again. And read each input, and say to 6 to the first one and 1 to the second.

[2021-05-14 16:54] anshgo01yal commented on #856
how do i install it??

[2021-05-14 17:09] DobbyK commented on #856
`python installer`

in the directory where Jarvis is.

[2021-05-14 17:11] anshgo01yal commented on #856
by running setup.bat again
I get this
![onon](https://user-images.githubusercontent.com/58463645/118305295-5de9cf00-b505-11eb-9d82-3ddbe1cc50f5.PNG)
it is nit asking for any options.

can you help  me how to go further.

[2021-05-14 17:16] anshgo01yal commented on #856
@pnhofmann can you help me with this!

[2021-05-14 17:17] Tpool1 commented on #856
Note that to use it on windows you have to type ./jarvis instead of just "jarvis".

[2021-05-14 17:29] anshgo01yal commented on #856
I did that. in cmd as well as on jarvis directory.
![oooooooonnnnnnnn](https://user-images.githubusercontent.com/58463645/118307204-ff722000-b507-11eb-8c28-ae1b9481604a.PNG)
getting same results.

[2021-05-14 17:34] Tpool1 commented on #856
Could you perhaps try using Windows Powershell? It does not work for me either with the Windows Terminal but it does with Windows Powershell or other Powershell/bash type programs.

[2021-05-14 17:39] anshgo01yal commented on #856
can you plz tell me what exactly you wrote on powershell.

[2021-05-14 17:42] Tpool1 commented on #856
![powershell ss](https://user-images.githubusercontent.com/59260958/118308701-817f2c00-b4a9-11eb-8e68-624b6a50b8a9.jpg)

[2021-05-14 17:47] anshgo01yal commented on #856
![ppppppppppppppppppppp](https://user-images.githubusercontent.com/58463645/118308963-3cd7ad00-b50a-11eb-9c93-8f624f527681.PNG)
why not working for me???

I think I must do it from scratch!
can you tell me exactly what to do!

[2021-05-14 17:47] pnhofmann commented on #856
@DobbyK

These options are not implemented for windows  ;).

@Tpool1

Windows cmd it's \ or really just jarvis ;).

@anshgo01yal
Ooops... Apparently we did not consider spaces in username ;).

Use (in cmd)

[code]

for now and I'll push a fix as soon as I find out how to exape spaces on windows cmd ;)

[2021-05-14 18:00] #856 closed

[2021-05-14 18:01] pnhofmann commented on #856
Please ``git pull`` and re-run installer. Should work (if not, please re-open).

[2021-05-14 18:41] DobbyK commented on #856
We should try to implement it, but I’m not very experienced with windows

[2021-05-14 19:00] pnhofmann commented on #853
Yes, we could ;)

[2021-05-14 19:11] pnhofmann commented on #856
I would definitely accept PR.

Maybe for windows other install options than for linux are required? Like don't think on Windows it's an option to add stuff to path with bashrc - the only reason we do this on linux is that it does not require root-permission.
Just as well on windows there is not really a folder '/usr/local/bin'.

Would guess, for the windows-user it would be the most convenient to

[2021-05-19 13:14] tzzzening opened #858 "Installation failed with unexpected error"
Hello, I tried to install Jarvis but I met with this error. The error message instructed me to include the following file in the bug report. I have tried searching online for solutions, but none seemed relevant. I look forward to some help.

[tmpf2ksyanw.txt](https://github.com/sukeesh/Jarvis/files/6508894/tmpf2ksyanw.txt)

[2021-05-23 21:16] Tpool1 opened #860 "NLP with Tensorflow"
Could I implement NLP technology with Tensorflow to make Jarvis more natural? For instance, make it where you do not have to type the exact name of a plugin every time you use it. Also, I could perhaps even add like a sarcasm or emotion detection system that other developers could tap into for future plugins.

[2021-05-25 07:36] pnhofmann commented on #860
Sure!

Just would like to point out dev-branch. evamy did implement NLP using snips:
https://github.com/sukeesh/Jarvis/blob/dev/jarviscli/language/snips.py

Dev-branch also introduces the concept of exchangeable 'LanguageParser'. Basically this would be like this:

[code]

And in ``main`` (https://github.com/sukeesh/Jarvis/blob/dev/jarviscli/main.py#L17) create which language parser you would like

[2021-05-25 07:39] pnhofmann commented on #858
Hmm, the installer script does not look enough ;(. That is another issue...

Can check what this command
``env\Scripts\pip.exe install -U -r installer/requirements.txt``
(call in Jarvis folder) returns?

[2021-05-25 16:49] Tpool1 commented on #860
Got it! Thank you.

[2021-05-25 19:13] evamy commented on #860
One thing to be careful of:
The parser does not have control over what is being input in terms of the `s` value given with the command.
In its current form, Jarvis does not care what the input is, as long as the `command` can be matched in the start and the string `s` can be build from the remaining piece.

For example, today, the Snips NLU parser does a great job of identifying the command, even

[2021-05-25 20:25] Tpool1 commented on #860
@antiDigest Yes, thank you for that.

[2021-05-27 14:02] Tpool1 commented on #860
Would it be okay to use [this](https://www.kaggle.com/nltkdata/gutenberg) dataset to train the model? It is a portion of Project Gutenberg: a collection of public domain books. It might have to be stored in the repo. I have checked out the README page and it looks to be free to use as long as its contents are not changed and not commercialized.

[2021-05-30 16:39] pnhofmann commented on #860
Surprisingly complicated question. But to make things short; I guess: yes.

Longer answer: Strictly speaking "not changed and not commercialized" is incompatible with GPL, which is the license of some dependencies. But I wouldn't consider everything a "derived work" since the train model ist data and you could use your own model trained with whatever data you want (?).
Then again, I would probably

[2021-05-30 22:35] Tpool1 commented on #860
Got it. Thanks.

[2021-06-03 11:18] mrmuke opened #861 "[NEW FEATURE] Opening Applications"
I would like to have the user just type open and type the first few letters of an application and click tab to autocomplete and open the application.

[2021-06-03 11:20] mrmuke opened #862 "[NEW FEATURE] Book Suggest"
I like to use selenium or bs4 to get top book suggestions based on what they've read or just something new.

[2021-06-03 11:20] mrmuke opened #863 "[NEW FEATURES] News"
Based on location, get top local news to the user.

[2021-06-15 13:28] pnhofmann commented on #861
Sounds really good!

[2021-06-15 13:31] pnhofmann commented on #862
Probably bs4 better than selenium, because selenium is a bit tricky to ensure to really work on all systems ;).

Web Scrapping - always a bit tricky. Just make sure, the owner of the website has no problem with what you plan to do ;).

[2021-06-15 13:36] pnhofmann commented on #863
Hi!
what news source do you plan to use?

To link existing news plugin:
https://github.com/sukeesh/Jarvis/blob/master/jarviscli/plugins/news.py

Just spontaneous thought: Maybe some kind of simple RSS-based news plugin would be nice?

[2021-06-21 13:48] NikolasMoatsos opened #867 "Create pre-commit hooks"
Hello everyone!
I recently noticed that many people, while developing new features or maintaining old ones, face formatting issues and create new commits to their Pull Requests, in order to fix them. So, I thought that would be helpful to include pre-commit hooks that check and reformat the code, before committing any changes.  A package that achieves this is the pre-commit, which is compatible wi

[2021-06-21 21:11] nikiboura opened #868 "Error in translate plugin"
Hello!

Me and @IriannaPapoutsi  tried to use translate plugin but when we entered the input text an error occured, regardless the input languages, as you can see bellow.

![204527625_945505632910682_7343664393504555310_n](https://user-images.githubusercontent.com/56998869/122827699-5cbe7580-d2ed-11eb-8b34-ede456d7e3a1.png)

![204571788_324726815784345_3726785984003915878_n](https://user-images.gi

[2021-06-22 08:10] pnhofmann commented on #867
Hi!
Big Thanks for the link!
I will definitely take a closer look! Honestly I once did consider hooks, but decided wasn't worth the effort to make them "work". "pre-commit" does seem to solve this problem ;).

[2021-06-22 08:19] pnhofmann commented on #868
Hi!
seems to be an issue with py-googletrans - which is fixed in dev version googletrans==3.1.0a0.
I just updated requirements.txt
https://github.com/sukeesh/Jarvis/commit/691f1f2927419c45886a99305ab0a9797fd084a1

If you ``git update`` and re-run installer, this should be fixed (if not, please re-open ;) ).

[2021-06-22 08:19] #868 closed

[2021-06-22 08:22] pnhofmann commented on #842
#866

[2021-06-22 08:22] #842 closed

[2021-06-22 11:58] nikiboura opened #869 "New International Day feature proposition"
Hello!

Me and @IriannaPapoutsi are working on a new feature that prints the International Day based on the current date.

What do you think about it?

[2021-06-22 13:21] NikolasMoatsos commented on #867
Glad to hear!
If it's okay with you, I could create a PR to introduce the .pre-commit-config.yaml file that sets the configuration for the pre-commit checks. I will set it to autoformat the files according to PEP8 and then check them with the flake8 tool as TravisCI does. In any case, this addition does not oblige everyone to use the pre-commit, since in order to activate the hooks you have to ins

[2021-06-24 15:53] antiDigest opened #871 "dev -> master When to merge ?"
Maybe we can discuss here when it would be appropriate to merge the dev branch to master.

I'm thinking:
- we can stop any merges to master, make master the main branch (which it already is) and only allow new plugins to dev. Maybe even organize new additions. Like every new plugin requires a unit test or something to be able to merge. (Maybe more of a long term plan here, but I think you get my p

[2021-06-25 07:21] pnhofmann commented on #867
I would really appreciate this ;).

[2021-06-26 03:31] Martins6 commented on #871
Maybe I'm snooping where only senior contributors are welcome, but, if I may...just to add that the dev-branch has some awesome features, in my opinion, that the master branch would love to have! The sooner those features become the standard, the better!

Also, the feature of the marketplace (which is already in the dev-branch) could help to bring some order. One suggestion would be that the dev a

[2021-06-26 06:20] Martins6 commented on #801
Hi again, @pnhofmann ! Glad to see the project growing since last time!!
So... in #874 , I made an PR to add some enhancements, and one of them I think it is up to discussion: giving the option to leave in the marketplace folder only .py files.

I think that would be a nice addition because one may not want to have a bunch of LICENSE, or README.md in the marketplace.

[2021-06-27 04:39] williamwu062 opened #875 "[NEW FEATURE] go to wiki search"
Hi, just thought of an idea where if someone were to type something like 'wiki Tom Cruise', it would do a wikipedia search of Tom Cruise and give the page for him.

[2021-06-27 09:48] pnhofmann commented on #875
Hi!
https://github.com/sukeesh/Jarvis/blob/master/jarviscli/plugins/wiki.py
However improvements are welcome ;).

[2021-06-27 09:56] pnhofmann commented on #871
Yeah, merge dev is really overdue. Next month I should have some time (I'd like to do some improvements on voice control). Then I would suggest, merge in August?

Yes, I'll take care of the diffs - I don't think that's a major problem. I would suggest, handle master and if dev is ready to merge, I'll just "backport" everything on master ;).

[2021-06-27 18:15] ryclorak opened #876 "Improve what Jarvis reads out loud"
First time playing with Jarvis (or anything open source for that matter), I had it tell me about corona with sound enabled and laughed when it said "plus" repeatedly.

I haven't looked at other plugins, but I'm sure this will come up again when someone inevitably makes a line with symbols, like:

`
        +++++++++++++++++++++++++++++++++++++++
        Corona status: "Worldwide"
        +++++++++

[2021-06-27 18:27] williamwu062 commented on #875
oh god haha. I'll try to think of some other plugin then.

[2021-06-27 18:27] #875 closed

[2021-06-27 18:28] williamwu062 commented on #861
I think I would like to attempt to tackle this. Is mrmuke working on this, or was it just a suggestion of some sort?

[2021-06-27 19:18] pnhofmann commented on #876
No, pyttsx3 talks out whatever we pass, it's not up to pyttsx3 to decide if this has any meaning. If someone wants to hear 'plus plus plus plus' then so it is ;).

This is a really good idea. Could even work for any characters.

[2021-06-27 20:38] ryclorak commented on #876
Oh I see the speak parameter now. So is this something you would leave up to each plugin writer to decide (and know how to use say() properly), or would you make some changes to say() in CmdInterpreter to always skip certain strings/patterns? What strings/patterns would those be and how should they be dealt with? Should Jarvis say "plus plus plus etcetera" or "a whole bunch of pluses" or something

[2021-06-28 13:37] bnothomb opened #877 "Travis CI stop checking file"
I started looking at Jarvis and I feel like Travis CI hasn't checked commits for several days.
In the resume page, everything has failed from the 15th June: https://travis-ci.org/github/sukeesh/Jarvis/requests

On Travis's page, there is a message warning that tell to migrate:
"Since June 15th, 2021, the building on travis-ci.org is ceased. Please use travis-ci.com from now on."

If I understand i

[2021-06-29 11:33] 44-Unknown commented on #411
I working on jarvis project but I get error of Pyaudio how can I fix it

[2021-06-29 19:14] pnhofmann commented on #411
@44-Unknown
What's does the error message say?

[2021-06-30 03:19] williamwu062 opened #878 "new features: random command, autocomplete"
Hi, just thought of some ideas for this Jarvis project. I noticed that without looking at the plugins, it can be somewhat hard to find something for Jarvis to do without erroring, so I thought maybe we could type 'random' and have a random command pop up. Another idea I got is for us to just have tab autocomplete for the commands.

[2021-06-30 13:37] MikeyBeez commented on #411
pip can't install pyaudio correctly.  Use conda instead.

[2021-07-07 00:56] ryclorak commented on #878
Yeah, this would be pretty cool. I was also thinking about some unifying scripts, like one for conversions that basically calls other plugins when some keyword/string is detected. Should be easy enough to call other plugins, but I wonder if there would be some way to do it without hardcoding the specific names of the plugins.. Some way to have jarvis search his own capabilities would be nice (mayb

[2021-07-07 02:23] jronzo99 opened #881 "Error with 'help' command."
Hi,
I'm getting and error that only occurs when I type the 'help' command yet it seems to be related to gTTS.
I ran
[code]
and it installs without issues.
This is the output that I get:
[code]

[2021-07-07 15:16] pnhofmann commented on #878
Agree, would be quite cool!

I did introduce an method to get all plugins in dev branch ;). On dev you can just call ``jarvis.get_plugins()``

https://github.com/sukeesh/Jarvis/blob/dev/jarviscli/jarvis.py#L115

[2021-07-07 15:19] pnhofmann commented on #881
Thanks for reporting this issue!

Interesting, Jarvis apparently does talk out load - even though sound shouldn't be enabled. I'll look into this!
Second issue, of course text_to_speech should not do anything if text is empty. This should be an easy fix.

[2021-07-07 21:25] williamwu062 commented on #878
Alright, I'll get to working on this as soon as I can!

[2021-07-08 00:39] jronzo99 opened #882 "[NEW FEATURE] IMDB Top 250 Movies by Genre"
Hi,
I see that there are already movie modules that pull information from IMDB, however, I would like to implement a plugin that takes a movie genre and loads the IMDB "Top 250" list for that genre. Eventually, I would integrate it with the other movie plugins so that the user can choose a movie from the list and retrieve the information about it. Let me know if this has been done or is being work

[2021-07-10 03:53] ryclorak commented on #878
So I can iterate over the dictionary of plugins, searching for a particular keyword (or partial), to pick the correct plugin based on user input and maybe even facilitate the use of that plugin? How would I actually call a plugin with get_plugins()?

[2021-07-10 08:32] pnhofmann commented on #882
Hi!
Sure, this feature would be quite nice!

[2021-07-10 08:42] pnhofmann commented on #878
It's actually a List of Plugin-Names. To call plugin, ``jarvis.execute_once(s)`` could be used, which would execute a string just like it was typed by the user.
But this isn't perfect - maybe we should add a 'eval(plugin, string)' method? Suggestions are welcome.

[2021-07-10 08:47] pnhofmann commented on #876
Don't think "a whole bunch of pluses" would feel natural.

But I really agree to filter duplicate characters (like any character repeating >5 times) before talking out load.

[2021-07-27 21:21] williamwu062 commented on #878
Hi I've finished programming the random command, I was just wondering if there is a good way to test it through the dev branch. Whenever I try to run Jarvis through that branch, I run into a multitude of errors that the master branch otherwise did not have. But I also need the dev branch to have access to `jarvis.get_plugins()` and `jarvis.execute_once(s)`

[2021-07-29 09:31] KrishnaSai2020 opened #883 "[NEW] Add pep8speaks to auto check all contributions"
I am working to add an automatic pep8 checker for this repo to auto-check whether any contributions meet pep 8 guidelines.

Main features
The bot makes a single comment on the Pull Request and keeps updating it on new commits. No hustle on emails!
The bot comments only if Python files are involved. So, install the integration on all of your repositories. The bot would not comment where it should n

[2021-07-30 10:41] FatalTrip commented on #719
This still hasn't been fixed. Is there anything we can do in the code about it?

[2021-07-30 12:02] pnhofmann commented on #883
Hi!

another tool I never heard of - and I really, really like it!

I think we should use this as a replacement for Travis (-> #877). Travis is great, but for our use-case the PEP8-errors were always a bit hard to find.

Question: You added two PRs: #884 and #885 which add pep8speaks.yml to different locations?
And after merge, pep8speaks just needs to enabled (https://github.com/apps/pep8-speaks)

[2021-07-30 13:53] KrishnaSai2020 commented on #883
I only added it one place I think... Either way, it's meant to go into the root directory.

[2021-07-30 16:05] KrishnaSai2020 commented on #883
I have now fixed both PRs. pep8speaks.yml is only included in the PR specifically mentioning PEP8speaks.

[2021-08-01 11:14] KrishnaSai2020 commented on #877
Yeah a possible replacement could be pep8speaks used in major repos such as Pandas see #883 .

[2021-08-01 11:28] KrishnaSai2020 commented on #883
@pnhofmann actually I've had a good look at Travis and think pep8speeaks could work in parallel. For now, if we get pep8speeaks integrated now as a temporary solution whilst #877 hopefully fixes the Travis build and then the 2 of them can work together.

[2021-08-01 17:41] KrishnaSai2020 opened #887 "Plugins: need to order them"
Currently, in the plugins directory, all of Jarvis's plugins are just listed in one big chunk of files. Definitely worth sorting them into groups eg: maths plugins, Maps etc.

[2021-08-01 17:41] KrishnaSai2020 commented on #887
take

[2021-08-01 17:47] KrishnaSai2020 opened #888 "Assigning bot"
Please see https://github.com/features/actions. This bot will auto-assign people to issues when they comment 'take' and is made by Github itself.

[2021-08-01 17:47] KrishnaSai2020 commented on #888
take ;). I will open a PR for this soon

[2021-08-04 14:30] pnhofmann commented on #887
Related: #855

I don't think there is really a problem with all the plugins (py-files) in one directory, but I really agree, categories would be nice ;).

[2021-08-07 10:21] pnhofmann commented on #878
Hi, Sorry, for long delay. Yeah, just send a PR and I'll take a look ;).

[2021-08-15 13:36] wassafshahzad commented on #888
If this is open can I take it up as well

[2021-08-15 18:29] Anri-Lombard opened #889 "Windows compatability"
In the description, only macOS and Linux are mentioned, but no 'windows'; yet in the docs, it gets added.

Maybe it would clarify to put it in the description or remove it from the docs if it is in beta for windows.

[2021-08-16 09:08] KrishnaSai2020 commented on #888
Yeah why not give it a go.

[2021-08-18 15:42] pnhofmann commented on #887
Based on #855, I would suggest these 12 categories:

(just a quick test; suggestions welcome ;) )

[code]

[2021-08-18 15:54] pnhofmann commented on #888
Hi!
With github actions you can do lots of things (a lot more than just assigning to projects). Certainly all nice stuff. But I don't think, this is right for this project. This is a relatively small project and I don't want too much stuff happening "in the background". You would have to document Features like "comment take to take PR" somewhere (or nobody would now this works), and I don't think

[2021-08-18 15:54] #888 closed

[2021-08-19 15:45] Meghdut-Mandal opened #891 "Accept Picture from camera in bulkresize.py"
There should be an option to accept images directly from the system's camera.

[2021-08-20 16:40] 26tanishabanik commented on #862
I have the added the above said feature, https://github.com/sukeesh/Jarvis/pull/892

[2021-08-20 18:12] AhmetFurkann commented on #421
Hello everyone, does the graphical user interface development continue? I have looked at the branches, however I could not see a branch which is related to GUI.

I have an idea for the Jarvis GUI which is based on `PyQt5` and `PyOpenGL`. If it is allowed, can I implement the a graphical user interface for Jarvis? And for which branch should I open the pull request? To the master branch or to anoth

[2021-08-20 19:57] #768 closed

[2021-08-20 19:58] pnhofmann commented on #551
Now tracked here: #887

[2021-08-20 19:58] #551 closed

[2021-08-20 20:00] pnhofmann commented on #891
Hi!
Honestly don't see the connection between system's camera and bulkresize - but taking pictures from system's camera would definitely be a nice feature!

[2021-08-20 20:17] pnhofmann commented on #421
Hi @AhmetFurkann !

Here's my early test - but yeah, nothing special to see ;).

https://github.com/sukeesh/Jarvis/tree/dev/jarviscli/frontend/gui

(Dev-branch will hopefully merged into master the coming weeks)

I decided to use kivy mainly because it works really great on Android (and ios) and I thought Jarvis on my phone could be quite nice ;).

But yeah, dev branch does even have a simple abst

[2021-08-21 14:23] #891 closed

[2021-08-22 17:39] AhmetFurkann commented on #421
First of all, I really thank your for your feedback @pnhofmann !

In my perspective almost every code is worth to preview :).

All right, I checked and saw the frontend development section. I will try to implement my idea on the branch of dev. Probably you can see the development couple days later.

I agree with you, this is a really good idea :), on the other hand as I researched a little bit and

[2021-08-24 16:47] ShreyPatel4 opened #894 "[Feature] telling Jarvis to Capture screen."
let's add this productivity feature to the AI agent also further we can use it to log it when issues or errors occurrence?

share ideas if any.

what I thought it add a simple rule on receiving input for multiple possible commands like "ss", "take ss", "screenshot", "capture screen ", etc it should perform a certain task for continued actions.

I have achieved the screenshot part. just don't know

[2021-08-24 20:41] WWFelina commented on #882
This sounds interesting. IMDB already has pages for top movies in a particular genre and I was able to set up an experimental plugin to extract top movies from there just by scraping the webpage
`@plugin("topmovies")
def topmovies(jarvis, genre):
    url = "https://www.imdb.com/search/title/?genres="+genre+"&explore=title_type,genres&title_type=movie"
    r = requests.get(url)
    soup = Beautiful

[2021-08-25 20:59] AhmetFurkann opened #895 "Bug while running --with-voice argument"
There is a bug when try to run `python __main__.py --with-voice` in the `dev` branch.

The error message is like below.

![backend_error](https://user-images.githubusercontent.com/35719856/130863621-afa7f037-42d9-4b14-8c23-a94f36bbd8a7.png)

As I understood the error is related the `Jarvis.say` method.

[2021-08-28 18:58] pnhofmann commented on #894
Yeah, create PR and let us see. So, both @ShreyPatel4 and @26tanishabanik.

Looks like issue with virtualenv. ``**No module named 'pyautogui'**`` Jarvis can't find your module.

In jarvis home dir call ``source env/bin/activate``. Now you are in the Python-Environment Jarvis uses. Then you can install the package (again!) with pip like you are probably used to it (pip install pyautogui).

And put

[2021-08-28 18:59] pnhofmann commented on #895
Yeah, dev branch ;).

[2021-08-28 19:12] #882 closed

[2021-08-29 05:43] ShreyPatel4 commented on #894
@pnhofmann I have created PR and Guide me from there

[2021-08-29 08:54] 26tanishabanik commented on #894
I have added a new feature in the dev branch. This is my Pull request https://github.com/sukeesh/Jarvis/pull/900

[2021-08-29 09:32] ShreyPatel4 commented on #894
@26tanishabanik  that is great.
can you guide me where you added the token as trigger words for that plugin

[2021-08-29 12:05] 26tanishabanik commented on #894
Yah sure, did you add the tag @plugin at the very beginning of the code after import to add the new plugin

[2021-08-31 14:24] pnhofmann commented on #871
I'm late. But it's still August ;)

A preview what I did so far: https://github.com/pnhofmann/Jarvis/commits/dev

OK, now everything I decided I want to change is implemented. But I know: Lots of stuff is still a bit broken. So I'll do testing the next days. Guess, I'll need ~2 weeks and then I'll write again.

[2021-09-01 09:06] GamingMineblox opened #902 "Bug with Windows installer"
So I've tried to install Jarvis with the setup.bat for Windows, but each time it gets to install requirements it opens reg.py in VS Code without doing anything else. I don't know what is causing this, and I don't know how to fix it.

[code]
![image](https://user-images.githubusercontent.com/42892277/131644421-99327669-97e3-4313-ad8c-dbada43ff663.png)

[2021-09-01 09:57] pnhofmann commented on #902
Okay?

Can you give the version of VSCode so I can try to reproduce. Actually during 'Install requirements' everything that happens is a cmd-call

``env\\Scripts\\pip.exe install -U -r installer/requirements.txt``

Can you try (in Jarvis home directory) to execute this command and check if VS Code still opens?

If you close VSCode (not the cmd.exe window), does anything happen on the terminal?

[2021-09-01 14:12] GamingMineblox commented on #902
VSCode is running on version 1.59.1

When I run that command I get an error trying to install ``python-nmap`` and then it opens VSCode.

![image](https://user-images.githubusercontent.com/42892277/131686679-8ec4616c-04c8-4ea2-b222-111a03160446.png)

And when I close VSCode it just reopens and outputs the same 2 lines on the terminal:
``[main 2021-09-01T14:08:50.807Z] window: using vscode-file:// p

[2021-09-02 20:12] GamingMineblox commented on #902
I fixed the VSCode opening issue, it was because *.py files are suppose to open in VSCode on my pc. I changed it to python and it ran without opening it. It did give errors from installing the requirements but that's a different problem

[2021-09-05 09:03] pnhofmann commented on #902
Thanks for the info!

[2021-09-10 11:02] #902 closed

[2021-09-17 21:16] artginzburg commented on #861
[code]

Magic :)

[2021-09-28 06:19] Animesh312 opened #903 "Jarvis Opening multiple tabs"
When I have set any query more than 2 word as keyword the jarvis program is opening one tab multiple times and won't let me terminate the loop

[2021-10-01 07:10] SmallLion opened #904 "[Feature] Make Jarvis to read Wikipedia Articles"
Hey! Here's a new feature, let's make Jarvis read Wikipedia articles!

My idea is, the user gives a command something like "What is programming" and Jarvis reads the related Wikipedia article.

I know the way to do it so please help me to create a pull request for you 🙏🏻

share ideas if any! (I need to do hacktoberfest task haha)

CC: @sukeesh

[2021-10-02 07:56] JaskiratSudan commented on #904
hey can you assign this feature to me

[2021-10-02 07:57] architkuiya commented on #903
hey, can you assign this to me?

[2021-10-04 08:21] pnhofmann commented on #903
Hi! Interesting - what os are you using?

[2021-10-04 08:23] architkuiya commented on #903
parrot os(linux)

On Mon, Oct 4, 2021 at 1:51 PM pnhofmann ***@***.***> wrote:

[2021-10-04 08:24] pnhofmann commented on #904
Hi!
please take a look at: https://github.com/sukeesh/Jarvis/blob/master/jarviscli/plugins/wiki.py
But you can improve this plugin for sure!

[2021-10-09 07:38] xopherw commented on #863
hey, kinda first timer here...how do you guys normally start working on feature? and how to test?

[2021-10-16 16:32] #774 closed

[2021-10-16 17:34] mohitrbhardwaj commented on #862
I am new to open source. Would like to contribute here but don't know how to start. Can somebody help please?

[2021-10-18 18:04] siddharth123-tech opened #905 "Error with equations"
Traceback (most recent call last):
  File "C:\Users\siddh\OneDrive\Documents\GitHub\Jarvis\jarviscli\CmdInterpreter.py", line 286, in try_do
    do(self, s)
  File "C:\Users\siddh\OneDrive\Documents\GitHub\Jarvis\jarviscli\plugin.py", line 208, in run
    self._backend[0](jarvis.get_api(), s)
  File "C:\Users\siddh\OneDrive\Documents\GitHub\Jarvis\jarviscli\plugins\evaluator.py", line 86, in equat

[2021-11-03 18:46] pnhofmann commented on #905
Thanks for reporting this issue

[2021-11-04 04:29] viniciusdepadua commented on #905
Hi, is this issue still open? could I help? I'm new on contributing to open source projects. thx

[2021-11-05 20:50] pnhofmann commented on #905
#908

[2021-11-05 20:50] #905 closed

[2021-11-06 19:14] Milind220 commented on #904
Hey! I'd love to work on improving this. Any suggestions on how this could be improved?

[2021-11-06 19:20] Milind220 opened #909 "Add separate CONTRIBUTING.md file"
I've noticed tons of people commenting on issues asking what the guidelines are to contribute to this. I know that there's a small section in the README explaining this, but I do think it'd be better to have a CONTRIBUTING.md file. Shall I go about making one?

[2021-11-10 12:26] Milind220 commented on #909
I have just submitted a pull request addressing this, which I believe should close this issue once merged. Hope it helps!

[2021-11-10 12:26] #909 closed

[2021-11-10 17:01] Milind220 commented on #871
What's going on with this? Was dev originally planned to be the branch that all PR's would be  made to and master would have the stable release?

[2021-11-10 17:36] Milind220 opened #912 "Provide more support for zsh. Currently when running 'python installer' to get Jarvis, if I select option 2, 'Add to bashrc' it says no bashrc found"
This makes sense if one is not using bash and is using zsh I know, but still, I feel like it's a pretty simple error to fix if one knew which file to edit.

[2021-11-10 17:47] Milind220 opened #913 "Clean up plugins, better code formatting + more polished features"
I was going through the plugins and noticed that they could certainly do with better formatting, better code, and a lot of polish for features. The motivate me plugin, for example, has strangely formatted code, and some grammatical errors. The tic tac toe doesn't describe how to play the game, and one has to guess that the number keys would do that.

I could help clean up these things.

[2021-11-14 18:51] pnhofmann commented on #871
Hi @Milind220
dev started with me experimenting stuff, but got lots of - I think - really interesting features. I consider it the next "release" of Jarvis.
And yes, it should really been merged by now. Sorry - I currently have unexpectedly lots of stuff "around". But sometime dev will be ready ;).

Maybe, if you do stuff like in #913 (any improvements really appreciated ;) ) - consider switching t

[2021-11-20 18:58] riju-dc commented on #912
I am picking this up.

[2021-11-20 18:59] rijumone commented on #912
I am picking this issue up.

[2021-11-20 19:14] riju-dc commented on #912
Submitted PR:
https://github.com/sukeesh/Jarvis/pull/914

[2021-11-20 19:15] rijumone commented on #912
Submitted PR: https://github.com/sukeesh/Jarvis/pull/914

[2021-12-15 13:22] anrawool commented on #858
I am just looking through the project. But maybe do ‘cd installer’ first and then ‘pip3 install -U -r requirements.txt’.

[2022-01-11 19:07] ritikranjan12 commented on #894
@ShreyPatel4
I have made a plugin to capture the screen can i make a Pull Request?

[2022-01-15 09:50] ritikranjan12 commented on #894
@ShreyPatel4 I had added the screen recording functionality with a Pull Request #918, Please review it.

[2022-01-17 16:58] ShreyPatel4 commented on #894
sorry guys I am not working on this issue now you can contact @26tanishabanik and @ritikranjan12 these guys had made good efforts and take follow up from these devs.

[2022-01-17 16:58] #894 closed

[2022-01-18 12:27] ritikranjan12 opened #919 "Add Screen recording feature"

[2022-01-18 12:29] #919 closed

[2022-01-18 12:34] #912 closed

[2022-01-19 06:28] mingtianshi opened #920 "I feel like he's so tumory that the author is still considering continuing with the project"

[2022-01-19 20:26] pnhofmann commented on #920
I cannot make sense of this issue. Feel free to re-open with better description.

[2022-01-19 20:26] #920 closed

[2022-01-22 04:42] KitaPDev commented on #881
@pnhofmann Hi, is this issue still relevant? I would like the chance to work on it as a part of an assignment for my Software Development class.

[2022-01-24 20:48] troyphillips commented on #913
Hi @Milind220 is anyone actively working on this? I'm taking a Software Development Methodology course at University right now, and one of our projects is to make meaningful contributions to opensource projects. Could I be assigned this one? I have experience building tic tac toe and connect 4 board games.

[2022-01-24 22:32] troyphillips commented on #913
Just read CONTRIBUTIONS.md. I'll be working on this one. Will post updates here throughout my work over the next two months.

[2022-01-25 13:31] pnhofmann commented on #913
Hi @troyphillips
Sure, thanks. Any contribution is welcome ;)

[2022-01-28 01:47] saleguas opened #922 "Missing two packages (PyPDF2 and fasttext) upon a clean installation"
After doing a fresh install of Jarvis  on my Windows 10 computer, I noticed that the default project expects PyPDF2 and fasttext otherwise It'll throw an ugly error message.

![image](https://user-images.githubusercontent.com/42396136/151472586-84d1fecc-2a31-450e-958d-e3a4ab12087d.png)

I don't think this should be intended behavior, as the solution seems to be quite trivial.

[2022-01-28 01:50] saleguas commented on #922
I created a pull request #923 to fix this issue

[2022-01-28 21:04] pnhofmann commented on #922
Hi, thanks for reporting this issue!

Yeah, not hard - but not quite that trivial. The issue is, PyPDF2 and fasttext aren't pure python, but require native software.

We think Jarvis should run with pure-python with no platform-specific dependencies - so running Jarvis this way is indeed intended.

But I agree: The output is ugly.

The expected behaviour would be, that the depended plugins are lis

[2022-02-08 21:08] troyphillips commented on #913
@pnhofmann are there any specific plugins I should be reformatting? I have updated the tic tac toe to give clearer instructions. Have been considering implementing a connect 4 game as well.

[2022-02-13 19:50] pnhofmann commented on #913
Hey,
Actually no, nothing specific I could think of right now.
But connect 4 game would be nice ;).
And you can already create a PR for your tic tac toe update - creating
multiple PR each with one addition is usually preferred over one PR with
lots of (different) stuff.
Best Regards,
Philipp Hofmann

On 2022-02-08 22:08, Troy Phillips wrote:

[2022-02-13 20:25] edricantoine opened #926 "Installation failed: this should not have happened"
When I cloned the repository and ran the command python installer from the terminal, I recieve this error message:

Installation failed with unexpected error - This should not have happened.
Please check logs at "/var/folders/yl/1y_2z49d7ks9xn5dscy_t9800000gn/T/tmpcu5fq7oc". If you open a bug report, please include this file.

I have tried both python installer and python3 installer, but get the s

[2022-02-15 21:03] troyphillips commented on #913
There wasn't much to change for plugin formatting. Submitting a PR for updated connect 4 instructions.
Will create a new feature issue for the connect 4 game @pnhofmann

[2022-02-15 21:21] troyphillips opened #928 "Implement Connect 4 game feature"
Create a plugin for a two player connect 4 game.

- [ ] Players will be able to win in any direction
- [ ] Feature will track edge cases
- [ ] Game will continue until a player wins or a the players tie

[2022-02-20 13:12] coskundeniz opened #929 "[NEW FEATURE] Add Hacker News plugin"
This plugin should list titles from https://news.ycombinator.com/ and open selected titles in the browser as separate tabs.

[2022-02-20 13:14] coskundeniz commented on #929
Added with pull request #930.

[2022-02-20 18:14] #929 closed

[2022-02-20 18:14] pnhofmann commented on #926
Can you upload this file:

Please check logs at "/var/folders/yl/1y_2z49d7ks9xn5dscy_t9800000gn/T/tmpcu5fq7oc". If you open a bug report, please include this file.

[2022-02-20 18:26] edricantoine commented on #926
I am not sure where to find this file, as I can't seem to find the yl folder in the project directory.

[2022-02-20 18:34] edricantoine commented on #926
Also, when I try to run source setup.h, I get a much lengthier error message, but I think this is the most important part of it:

ERROR: Can not execute `setup.py` since setuptools is not available in the build environment.\n      [end of output]\n  \n  note: This error originates from a subprocess, and is likely not a problem with pip.\nerror: metadata-generation-failed\n\n\xd7 Encountered error

[2022-02-27 03:42] edricantoine commented on #926
Could someone get back to me on this issue? I would like to contribute to this project but need to get the application running on my end first.
Thank you!

[2022-02-28 01:16] edricantoine opened #931 "[New Feature] Reddit post plugin?"
Hello, I had an idea for a plugin that can take a subreddit name as user input, and use the Reddit API to fetch post titles, along with their upvote/downvote/comment numbers. I have two questions for this:
First, I know the Reddit API requires authentication to use. How would I handle this when making the plugin, since it requires a specific username/password/API key in the code?
Second, I am expe

[2022-02-28 11:02] pnhofmann commented on #926
Sorry, it's a bit complicated for me since I don't have a Mac. But Okay; it says it is missing setuptools for some reason. Can you try:

[code]

[2022-02-28 11:13] pnhofmann commented on #931
For stuff which needs login, you need to ask the user for username / password first time and then you can store it in key vault:
https://github.com/sukeesh/Jarvis/blob/dev/jarviscli/jarvis.py#L244

(it's basically jarvis.save_user_pass('reddit', user, password) and jarvis.get_user_pass('reddit').

At last for dev-branch; on master there currently is only the 'get_data' and 'update_data'

Should an

[2022-02-28 17:41] edricantoine commented on #926
Hello,
I followed your given instructions. Once I entered the virtual environment, the ensurepip and pip install commands both worked, and I double-checked to make sure that setuptools was installed, but the last command still did not work.
This is the error message I recieved:
<img width="567" alt="Screen Shot 2022-02-28 at 9 39 55 AM" src="https://user-images.githubusercontent.com/72291309/15603

[2022-03-04 03:25] AngelCode-dev commented on #926
I'm having (probably) the same error, I don't know what else to attach other than the file it said to open and a picture of the error.
![image](https://user-images.githubusercontent.com/85044270/156692812-688feb69-970b-4127-a315-18f0c670027c.png)
[tmpk2cb0gla.txt](https://github.com/sukeesh/Jarvis/files/8182831/tmpk2cb0gla.txt)

[2022-03-04 11:10] pnhofmann commented on #926
Okay, funny - the error is different, but the problem appears to be in pathlib, too.

https://pypi.org/project/pathlib/

I just noticed two things:

* In Python 3.4, pathlib is now part of the standard library.
* Attention: this backport module isn’t maintained anymore. If you want to report issues or contribute patches, please consider the [pathlib2](https://pypi.python.org/pypi/pathlib2/) projec

[2022-03-04 17:28] edricantoine commented on #926
Worked perfectly! Thanks for the fix!

[2022-03-04 17:34] edricantoine commented on #926
I am unfortunately running into another issue now. Running python3 installer works now, but when I try to run source setup.sh as advised in the readme for mac users, I am getting this error:
<img width="569" alt="image" src="https://user-images.githubusercontent.com/72291309/156813116-71a781e9-45b7-4bf5-80e4-4e8009bc7318.png">

Seems to be a simple syntax error, though... I'll see if I can possibl

[2022-03-04 17:55] edricantoine opened #933 "Errors when running source setup.sh"
I am unfortunately running into another issue now. Running python3 installer works now, but when I try to run source setup.sh as advised in the readme for mac users, I am getting this error:

<img width="567" alt="image" src="https://user-images.githubusercontent.com/72291309/156816397-e476ff11-f28b-429a-9257-c7cd3614b83e.png">

Seems to be a simple syntax error, though... I'll see if I can possib

[2022-03-04 17:56] edricantoine commented on #933
Also, from what I can tell messing around in a forked copy of the repository, the formatted print statements are giving me a hard time... the syntax errors don't show up when I remove the f's at the beginning of the print statement.

[2022-03-04 18:01] edricantoine commented on #931
The reddit API also requires a 'personal use script' in addition to the API key. If things get too complicated I may try and find another idea for a plugin using an API that doesn't require (as much) authentication.

[2022-03-04 18:46] edricantoine opened #934 "[New Feature] Weather report plugin"
I didn't see this in the plugins list, so I am assuming it is not implemented. This plugin will allow the user to input a location, and it will display the weather for that day: location, approximate time, wind, humidity, temperature. Then, the user can pick days in the upcoming week to see the weather forecasts for that day: weather, max.temp, min.temp.
The data will be retrieved using the Weathe

[2022-03-04 18:46] #931 closed

[2022-03-05 10:44] pnhofmann commented on #933
You are absolutely right!

We haven't thought about this issue since Jarvis is Python3 only. But yeah, it is a good idea to keep the installer python 2 compatible, since we don't know how the installer is ran (and it really isn't much effort).

``setup.sh`` just calls ``python installer``. It was added for convenience - but yeah, it somehow got duplicated in README. So yes, we should remove the tw

[2022-03-06 01:55] edricantoine commented on #933
Ok, I'll get working on that, in addition to the new plugin I opened an issue about earlier.

[2022-03-09 21:22] Martins6 commented on #801
Quick update in light of my last comment: I removed all of the removing options of alternatives files! The branch with the updates is ready, in my opinion!

[2022-03-13 21:20] JerryBerry12 opened #936 "Fix gtts?"
I have a espeech voice I want to use instead of the default scary one... How can I change it?

[2022-03-14 20:16] pnhofmann commented on #936
Try this code:
https://stackoverflow.com/a/44931699

(Run in Jarvis home folder ``env/bin/activate`` before so you are in Jarvis virtualenv)

If you like one voice better, it you would just need to add this one ``engine.setProperty('voice', voice.id)``-line.
Or yeah, we could add an official option ;).

[2022-03-14 21:49] JerryBerry12 commented on #936
I actually started this because when I try to do gtts, it shows A big block of code:
ALSA lib pcm_dsnoop.c:641:(snd_pcm_dsnoop_open) unable to open slave
ALSA lib pcm_dmix.c:1089:(snd_pcm_dmix_open) unable to open slave
ALSA lib pcm.c:2642:(snd_pcm_open_noupdate) Unknown PCM cards.pcm.rear
ALSA lib pcm.c:2642:(snd_pcm_open_noupdate) Unknown PCM cards.pcm.center_lfe
ALSA lib pcm.c:2642:(snd_pcm_ope

[2022-03-20 11:34] shadow7412 commented on #926
This worked for me as well. I've noted it's fixed on the master branch - but it hasn't been on the dev branch yet...

[2022-03-20 16:31] AirlineDog opened #937 "Activity plugin misses spaces"
[code]
Needs some spacing

[2022-03-20 16:37] AirlineDog commented on #937
#938 I created a PR for this.

[2022-03-22 12:39] bigc0127 opened #939 "many modules report no internet connection"
hello,
jarvis works very well for most functions but a few of them such as weather or akinator report no internet connection even though the previous module was using the internet. I am using Fedora 53.

[2022-03-22 17:08] hugofpaiva opened #940 "[New Feature] Image Compressor"
The idea would be to @orlando-pt and I to implement an algorithm to compress images and have them occupy less space after processing.

The use-case will be for the user to ask Jarvis to use Image Compressor and then, input a path to a folder with images or a full image path to be compressed.

[2022-03-22 17:13] hugofpaiva commented on #940
We will start working on this as soon as possible.

[2022-03-23 20:01] AirlineDog opened #941 "[New Feature] Name day"
I would like to contribute to this project and thought that this would be a good way to start.
I would like to add a feature that can tell you when is someone's name day and if today or any other given day is someone's name day.
I will implement it using [this](https://nameday.abalin.net/) api i found.

Since it's my first time contributing here be free to give me any advice.
I will start working

[2022-03-25 21:51] JerryBerry12 commented on #936
Can somebody help me?

[2022-03-26 16:37] #937 closed

[2022-03-26 16:39] pnhofmann commented on #941
Sounds nice ;)

[2022-03-26 16:42] pnhofmann commented on #940
Sure.
For curiosity, do you plan to really implement an own compression-algorithm or use library? Or build something on top of something like Pillow?
In any case, looking forward your contribution ;).

[2022-03-26 16:46] pnhofmann commented on #939
Strange, but okay. Just to be sure, it looks like this:

[code]

You can access: http://en.akinator.com/

[2022-03-26 16:49] pnhofmann commented on #936
Yeah, would be a good idea to fix ;). We will just need to redirect this output somewhere - probably not that hard... But we warned, voice output currently has some issues...

[2022-03-26 16:51] pnhofmann commented on #934
Sorry for long wait. Like there is this plugin:
https://github.com/sukeesh/Jarvis/blob/master/jarviscli/plugins/weather_report.py

But you can improve this plugin for sure. Like add another weather provider. For something like weather - for me it would even be ok to have to different plugins.

[2022-03-28 10:16] Orlando-pt commented on #940
Hello @pnhofmann :wink:
We are planning to use pillow library to implement this feature. Principally because this library was already one of the dependencies of Jarvis, so we can just reuse it.

[2022-03-29 16:06] Papajohn77 opened #944 "Improve calories plugin"
I suggest the following improvements for the calories plugin:
- Not suggesting calorie intake less than 1200 cal for females and 1500 cal for males (Harvard Health Publications suggests women get at least 1,200 calories and men get at least 1,500 calories a day unless supervised by doctors). Instead we can suggest them to increase their activity level.
- Suggesting the appropriate macronutrients (

[2022-03-30 17:33] hugofpaiva opened #945 "[New Feature] Music Recognition"
The idea would be to @orlando-pt and I to implement music recognition through Shazam's public API. For this, the [ShazamAPI](https://pypi.org/project/ShazamAPI/) or [ShazamIO](https://github.com/dotX12/ShazamIO) library will be used.

The use-case will be for the user to ask Jarvis to use Shazam and then, he hears the microphone sound (probably through [PyAudio](https://pypi.org/project/PyAudio/))

[2022-03-30 17:59] pnhofmann commented on #944
sure, go for it!

[2022-03-30 21:39] hugofpaiva commented on #945
I don't think so! 👌
Just tested it and the API is also working fine 😄

[2022-03-31 22:04] george-kakavas opened #946 "[New Feature] Find famous movie quote"
Hello, as a first time open source contributor i thought that this feature might be a good start. This feature will search through movie quotes by actors, characters, movies, genres, years and even pieces of quotes using the following [api](https://juanroldan.com.ar/movie-quotes-api/?ref=apitemple#introduction) . Would you like something like that?

[2022-04-02 15:43] #940 closed

[2022-04-08 11:06] MedAly666 opened #948 "syntax error in instalation"
what should I do for this :

[code]

[2022-04-10 13:36] anastasisbak opened #949 "[New Feature] Moon Phase Plugin"
Hello, I'm a first time contributor and I would like to develop a new feature that informs the user about the **current phase of the moon** and **how many days are left until the next full moon phase**, in their location. I would like to implement the above feature, using this [API](https://www.visualcrossing.com/resources/documentation/weather-api/how-to-include-sunrise-sunset-and-moon-phase-data